# Ejercicio 2

In [26]:
%load_ext sql
%sql sqlite:///ej2.db
%sql PRAGMA foreign_keys = ON;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@ej2.db'

In [36]:
%%sql
DROP TABLE IF EXISTS Departamento;
DROP TABLE IF EXISTS Profesor;
DROP TABLE IF EXISTS Estudiante;
DROP TABLE IF EXISTS Proyecto;
DROP TABLE IF EXISTS Colabora;
DROP TABLE IF EXISTS Trabaja;
DROP TABLE IF EXISTS Ayuda;

Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [37]:
%%sql
CREATE TABLE Profesor(nif VARCHAR(30), nombre VARCHAR(30),
                     cargo VARCHAR(30), edad INT,
                     PRIMARY KEY(nif));

Done.

[]

In [38]:
%%sql
CREATE TABLE Departamento(num INT, nombre VARCHAR(30),
                         edificio VARCHAR(30), nifDir VARCHAR(30) NOT NULL, 
                         PRIMARY KEY(num),
                         FOREIGN KEY(nifDir) REFERENCES Profesor(nif));

CREATE TABLE Trabaja(numDep INT, nifProf VARCHAR(30),
                    porciento INT,
                    PRIMARY KEY(nifprof, numDep),
                    FOREIGN KEY(nifProf) REFERENCES Profesor(nif),
                    FOREIGN KEY(numDep) REFERENCES numDep(num));

Done.
Done.

[]

In [39]:
%%sql
CREATE TABLE Estudiante(titulo VARCHAR(30), edad INT,
                       nif VARCHAR(30), nombre VARCHAR(30),
                       nifSup VARCHAR(30) NOT NULL, nDep INT NOT NULL,
                       PRIMARY KEY(nif),
                       FOREIGN KEY(nifSup) REFERENCES Estudiante(nif),
                       FOREIGN KEY(nDep) REFERENCES Departamento(num));

CREATE TABLE Proyecto(num INT, nombreFinan VARCHAR(30),
                      presu INT, inicio VARCHAR(30),
                      fin VARCHAR(30), nifGestor VARCHAR(30) NOT NULL,
                      PRIMARY KEY(num),
                      FOREIGN KEY(nifGestor) REFERENCES Profesor(nif));

CREATE TABLE Ayuda(nifSup VARCHAR(30) NOT NULL, nifEst VARCHAR(30),
                   nPro INT,
                   PRIMARY KEY(nifSup, nifEst, nPro),
                   FOREIGN KEY(nifSup) REFERENCES Profesor(nif),
                   FOREIGN KEY(nifEst) REFERENCES Alumno(nif),
                   FOREIGN KEY(nPro) REFERENCES Proyecto(num));

CREATE TABLE Colabora(nifProf VARCHAR(30), npro INT,
                      PRIMARY KEY(nPro, nifProf),
                     FOREIGN KEY(nPro) REFERENCES Proyecto(num),
                     FOREIGN KEY(nifProf) REFERENCES Profesor(nif));

Done.
Done.
Done.

[]