# Ejercicio 4

![Diagrama ER E4](e4.jpg "Diagrama ER E4")

In [1]:
%reload_ext sql
%sql sqlite:///e4.db

'Connected: None@e4.db'

In [2]:
%%sql 
DROP TABLE IF EXISTS Musico_Vive;
CREATE TABLE Musico_Vive(nif VARCHAR(30),
                       nombre VARCHAR(30),
                       dom_compl VARCHAR(30) NOT NULL,
                       PRIMARY KEY (nif),
                       FOREIGN KEY (dom_compl) REFERENCES Direccion(dom_compl));

Done.
Done.

[]

In [3]:
%%sql
DROP TABLE IF EXISTS Instrumento;
CREATE TABLE Instrumento(id_instr INT,
                        nombre VARCHAR(30),
                        PRIMARY KEY (id_instr));

Done.
Done.

[]

In [4]:
%%sql
DROP TABLE IF EXISTS Cancion_Pertenece;
CREATE TABLE Cancion_Pertenece(id_cancion INT,
                    titulo VARCHAR(30),
                    autor VARCHAR(30),
                    id_album INT NOT NULL,
                    PRIMARY KEY (id_cancion),
                    FOREIGN KEY (id_album) REFERENCES Album_Produce(num_id));

Done.
Done.

[]

In [5]:
%%sql
DROP TABLE IF EXISTS Album_Produce;
CREATE TABLE Album_Produce(num_id INT,
                  titulo VARCHAR(30),
                  fecha_edicion DATE,
                  formato VARCHAR(30),
                  nif VARCHAR(30) NOT NULL,
                  PRIMARY KEY (num_id),
                  FOREIGN KEY (nif) REFERENCES Musico_Vive(nif));

Done.
Done.

[]

In [6]:
%%sql
DROP TABLE IF EXISTS Direccion;
CREATE TABLE Direccion(dom_compl VARCHAR(30),
                      telefono INT,
                      PRIMARY KEY (dom_compl));

Done.
Done.

[]

In [7]:
%%sql
DROP TABLE IF EXISTS Toca;
CREATE TABLE Toca(nif VARCHAR(30),
                 id_instr INT,
                 PRIMARY KEY (nif, id_instr),
                 FOREIGN KEY (nif) REFERENCES Musico_Vive(nif),
                 FOREIGN KEY (id_instr) REFERENCES Instrumento(id_instr));

Done.
Done.

[]

In [8]:
%%sql
DROP TABLE IF EXISTS Interpreta;
CREATE TABLE Interpreta(nif VARCHAR(30),
                       id_cancion INT,
                       PRIMARY KEY (nif, id_cancion),
                       FOREIGN KEY (nif) REFERENCES Musico_Vive(nif),
                       FOREIGN KEY (id_cancion) REFERENCES Cancion_Pertenece(id_cancion));

Done.
Done.

[]

In [ ]:
#La restricción de que no hay más de un teléfono por domicilio no puede ser expresada con este modelo.
#Tampoco que varios puedan vivir en el mismo domicilio.