<img src="Ejercicio3.png">

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///ejercicio3.db

'Connected: None@ejercicio3.db'

In [3]:
%sql DROP TABLE IF EXISTS empleados
%sql DROP TABLE IF EXISTS departamentos
%sql DROP TABLE IF EXISTS trabaja
%sql DROP TABLE IF EXISTS hijo_de

Done.
Done.
Done.
Done.

[]

In [4]:
%%sql DROP TABLE IF EXISTS empleados;
     CREATE TABLE empleados(NIF CHAR(10),
                           salario FLOAT,
                           telefono INT,
                           PRIMARY KEY(NIF));

Done.
Done.

[]

In [5]:
%%sql DROP TABLE IF EXISTS departamentos;
    CREATE TABLE departamentos(dep_id INT,
                                nombre CHAR(30),
                                presupuesto FLOAT,
                                NIF_director CHAR(10) NOT NULL,
                                FOREIGN KEY(NIF_director) REFERENCES empleados(NIF),
                                PRIMARY KEY(dep_id));

Done.
Done.

[]

In [41]:
%%sql DROP TABLE IF EXISTS trabaja;
    CREATE TABLE trabaja(NIF CHAR(10),
                          dep_id INT,
                          PRIMARY KEY(NIF, dep_id),
                          FOREIGN KEY(NIF) REFERENCES empleados(NIF),
                          FOREIGN KEY(dep_id) REFERENCES departamentos(dep_id));

Done.
Done.

[]

In [42]:
%%sql DROP TABLE IF EXISTS hijo_de;
       CREATE TABLE hijo_de(nombre CHAR(30),
                           edad INT,
                           NIF_padre CHAR(10) NOT NULL,
                           PRIMARY KEY (nombre, NIF_padre),
                           FOREIGN KEY (NIF_padre) REFERENCES empleados(NIF) ON DELETE CASCADE);

Done.
Done.

[]