EJERCICIO 4
======

Antes de nada contestaremos a la segunda pregunta del Diagrama. Donde la pregunta es: 
"Si hay alguna restricción que no puedes expresar en el diagrama ER indı́cala".
- La unica restriccion que no se puede indicar mediante el Diagrama ER, es la de indicar que varios musicos comparten una misma direccion, donde en cada direccion el telefono es unico

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///ejercicio4.db

'Connected: None@ejercicio4.db'

Creamos la tabla de Musico

In [4]:
%%sql 
DROP TABLE IF EXISTS Musico;
CREATE TABLE Musico(
    nif VARCHAR(13),
    nombre VARCHAR(20),
    direccion VARCHAR(32),
    tlfno fijo VARCHAR (15),
    PRIMARY KEY (nif));

Done.
Done.

[]

Creamos La entidad que sale de Musico -> Productor

In [7]:
%%sql
DROP TABLE IF EXISTS Productor;
CREATE TABLE Productor(
    nif VARCHAR(13),
    PRIMARY KEY (nif),
    FOREIGN KEY (nif) REFERENCES Musico(nif));

Done.
Done.

[]

Tabla Instrumentos

In [8]:
%%sql
DROP TABLE IF EXISTS Instrumento;
CREATE TABLE Instrumento(
    id int,
    nombre VARCHAR(15),
    PRIMARY KEY (id));

Done.
Done.

[]

Tabla ALbum

In [9]:
%%sql
DROP TABLE IF EXISTS Album;
CREATE TABLE Album(
    id_album int,
    formato VARCHAR(10),
    titulo VARCHAR(15),
    fecha DATE,
    nif VARCHAR (13) NOT NULL,
    PRIMARY KEY (id_album),
    FOREIGN KEY (nif) REFERENCES Productor(nif));

Done.
Done.

[]

Tabla Canciones

In [1]:
%%sql
DROP TABLE IF EXISTS Canciones;
CREATE TABLE Canciones(
    nombre VARCHAR(15),
    numero_album int NOT NULL,
    PRIMARY KEY (nombre),
    FOREIGN KEY (numero_album) REFERENCES Album(id_album) ON DELETE CASCADE);

UsageError: Cell magic `%%sql` not found.

RELACIONES

In [12]:
%%sql
DROP TABLE IF EXISTS Tienen;
CREATE TABLE Tienen(
    nif VARCHAR(15),
    id_instrumento int,
    PRIMARY KEY (nif,id_instrumento),
    FOREIGN KEY (nif) REFERENCES Musico(nif),
    FOREIGN KEY (id_instrumento) REFERENCES Instrumento(id));

Done.
Done.

[]

In [ ]:
%%sql
DROP TABLE IF EXISTS Interpreta;
CREATE TABLE Interpreta(
    nombre_cancion VARCHAR(15),
    nif_musico VARCHAR(15) NOT NULL,
    PRIMARY KEY (nif_musico,nombre_cancion),
    FOREIGN KEY (nif) REFERENCES Musico(nif),
    FOREIGN KEY (id_instrumento) REFERENCES Instrumento(id));