In [ ]:
#Ejercicio1-6

In [1]:
%load_ext sql

//anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
//anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
%sql sqlite:///Ejercicio-1-6.db

u'Connected: None@Ejercicio-1-6.db'

In [3]:
%%sql
DROP TABLE Profesores

Done.

[]

In [4]:
%%sql
CREATE TABLE Profesores
    (nif VARCHAR(10), primary key(nif))

Done.

[]

In [5]:
%%sql INSERT INTO Profesores(nif) 
    VALUES ('123458487P')

1 rows affected.

[]

In [6]:
%sql SELECT * FROM Profesores

Done.

[(u'123458487P',)]

In [7]:
%%sql
DROP TABLE Asignaturas

Done.

[]

In [8]:
%%sql
CREATE TABLE Asignaturas
    (num_asignatura int, primary key(num_asignatura))

Done.

[]

In [9]:
%%sql 
INSERT INTO Asignaturas(num_asignatura) 
VALUES ('2')

1 rows affected.

[]

In [10]:
%sql SELECT * FROM Asignaturas

Done.

[(2,)]

In [11]:
%%sql
DROP TABLE Grupos

Done.

[]

In [12]:
%%sql
CREATE TABLE Grupos
    (num_grupo int, primary key(num_grupo))

Done.

[]

In [13]:
%%sql 
INSERT INTO Grupos(num_grupo) 
VALUES ('2')

1 rows affected.

[]

In [14]:
%sql SELECT * FROM Grupos

Done.

[(2,)]

In [15]:
%%sql
DROP TABLE Pertenecer

Done.

[]

In [16]:
%%sql
CREATE TABLE Pertenecer
    (nif VARCHAR(10) NOT NULL, num_grupo int,
    primary key(nif, num_grupo),
    FOREIGN KEY (nif) REFERENCES Profesores (nif),
    FOREIGN KEY (num_grupo) REFERENCES Grupos(num_grupo))

Done.

[]

In [17]:
%%sql
DROP TABLE ensenar_a

Done.

[]

In [18]:
%%sql
CREATE TABLE ensenar_a 
    (nif VARCHAR(10), num_asignatura int, NumCuatrimestre int, 
    primary key (nif, num_asignatura, NumCuatrimestre),
    FOREIGN KEY (nif) REFERENCES Profesores (nif),
    FOREIGN KEY (num_asignatura) REFERENCES Asignaturas (num_asignatura))

Done.

[]

In [19]:
%%sql
DROP TABLE ensenar

Done.

[]

In [20]:
%%sql
CREATE TABLE ensenar
    (num_grupo int, num_asignatura int,
    primary key(num_grupo, num_asignatura)
    FOREIGN KEY (num_grupo) REFERENCES Grupos(num_grupo),
    FOREIGN KEY (num_asignatura) REFERENCES Asignaturas (num_asignatura))

Done.

[]