# Ejercicio 3

![Diagrama ER E3](e3.jpg "Diagrama ER E3")

In [1]:
%reload_ext sql
%sql sqlite:///e3.db

'Connected: None@e3.db'

In [2]:
%%sql 
DROP TABLE IF EXISTS Empleados;
CREATE TABLE Empleados(nif VARCHAR(30),
                       salario INT,
                       telefono INT,
                       PRIMARY KEY (nif));

Done.
Done.

[]

In [3]:
%%sql 
DROP TABLE IF EXISTS Departamentos_Dirigido;
CREATE TABLE Departamentos_Dirigido(id_dpto INT,
                           nombre_dpto VARCHAR(30),
                           presupuesto INT,
                           nif VARCHAR(30),
                           PRIMARY KEY (id_dpto),
                           FOREIGN KEY (nif) REFERENCES Empleados(nif));

Done.
Done.

[]

In [4]:
%%sql 
DROP TABLE IF EXISTS Hijos;
CREATE TABLE Hijos(nombre VARCHAR(30),
                   edad INT,
                   PRIMARY KEY (nombre));

Done.
Done.

[]

In [5]:
%%sql
DROP TABLE IF EXISTS Trabajan;
CREATE TABLE Trabajan(nif VARCHAR(30),
                     id_dpto INT,
                     PRIMARY KEY(nif, id_dpto),
                     FOREIGN KEY(nif) REFERENCES Empleados(nif),
                     FOREIGN KEY(id_dpto) REFERENCES Departamentos_Dirigido(id_dpto))

Done.
Done.

[]

In [6]:
%%sql
DROP TABLE IF EXISTS Hijos_Tienen;
CREATE TABLE Hijos_Tienen(nombre VARCHAR(30),
                         edad INT,
                         nif VARCHAR(30) NOT NULL,
                         PRIMARY KEY (nombre, nif),
                         FOREIGN KEY (nif) REFERENCES Empleados(nif) ON DELETE CASCADE);

Done.
Done.

[]