![Diagrama ER E1](e1.jpg "Diagrama ER E1")

In [8]:
#Ejecutar al principio de cada ejercicio
#%reset
%reload_ext sql

# Ejercicio 1.1

In [13]:
%sql sqlite:///e1.db

'Connected: None@e1.db'

In [14]:
%%sql CREATE TABLE Profesores(nif VARCHAR(30),
                            PRIMARY KEY (nif));

Done.

[]

In [15]:
%%sql CREATE TABLE Asignaturas(codigo INT NOT NULL,
                               PRIMARY KEY (codigo));

Done.

[]

In [16]:
%sql CREATE TABLE Cuatrimestre(fecha VARCHAR(12));

Done.

[]

In [17]:
%%sql CREATE TABLE Enseña(nif VARCHAR(30),
                         codigo INT NOT NULL,
                         fecha VARCHAR(12),
                         PRIMARY KEY(nif, codigo, fecha),
                         FOREIGN KEY(nif) REFERENCES Profesores (nif),
                         FOREIGN KEY(codigo) REFERENCES Asignaturas (codigo),
                         FOREIGN KEY(fecha) REFERENCES Cuatrimestre (fecha));

Done.

[]

In [18]:
%%sql INSERT INTO Profesores(nif)
    VALUES('1234234N');

1 rows affected.

[]

In [19]:
%%sql INSERT INTO Asignaturas(codigo)
    VALUES(223);

1 rows affected.

[]

In [20]:
%%sql INSERT INTO Enseña(nif, codigo)
    VALUES('1234234N', 223);

1 rows affected.

[]

In [21]:
%sql SELECT * FROM Profesores

Done.

[('1234234N',)]

In [22]:
%sql SELECT * FROM Enseña

Done.

[('1234234N', 223, None)]

In [23]:
%sql DROP TABLE Profesores
%sql DROP TABLE Asignaturas
%sql DROP TABLE Cuatrimestre
%sql DROP TABLE Enseña

Done.
Done.
Done.
Done.

[]

# Ejercicio 1.2

In [24]:
%sql sqlite:///e2.db

'Connected: None@e2.db'

In [25]:
%%sql CREATE TABLE Profesores(nif VARCHAR(30),
                            PRIMARY KEY (nif));

Done.

[]

In [26]:
%%sql CREATE TABLE Asignaturas(codigo INT NOT NULL,
                               PRIMARY KEY (codigo));

Done.

[]

In [27]:
%%sql CREATE TABLE Enseña(nif VARCHAR(30),
                         codigo INT NOT NULL,
                         fecha VARCHAR(12),
                         PRIMARY KEY(nif, codigo),
                         FOREIGN KEY(nif) REFERENCES Profesores (nif),
                         FOREIGN KEY(codigo) REFERENCES Asignaturas (codigo));

Done.

[]

In [28]:
%sql DROP TABLE Profesores
%sql DROP TABLE Asignaturas
%sql DROP TABLE Enseña

Done.
Done.
Done.

[]

# Ejercicio 1.3

In [29]:
%sql sqlite:///e3.db

'Connected: None@e3.db'

In [30]:
%%sql CREATE TABLE Profesores(nif VARCHAR(30),
                            PRIMARY KEY (nif));

Done.

[]

In [31]:
%%sql CREATE TABLE Asignaturas(codigo INT NOT NULL,
                               PRIMARY KEY (codigo));

Done.

[]

In [32]:
%%sql CREATE TABLE Enseña(nif VARCHAR(30),
                         codigo INT NOT NULL,
                         cuatrimestre VARCHAR(12),
                         PRIMARY KEY(nif, codigo),
                         FOREIGN KEY(nif) REFERENCES Profesores (nif),
                         FOREIGN KEY(codigo) REFERENCES Asignaturas (codigo));

Done.

[]

In [33]:
%sql DROP TABLE Profesores
%sql DROP TABLE Asignaturas
%sql DROP TABLE Enseña

Done.
Done.
Done.

[]

# Ejercicio 1.4

In [34]:
%sql sqlite:///e4.db

'Connected: None@e4.db'

In [35]:
%%sql CREATE TABLE Profesores_Enseñan(nif VARCHAR(30),
                                      codigo INT NOT NULL,
                                      cuatrimestre VARCHAR(12),
                                      PRIMARY KEY (nif),
                                      FOREIGN KEY(codigo) REFERENCES Asignaturas (codigo));

Done.

[]

In [36]:
%%sql CREATE TABLE Asignaturas(codigo INT NOT NULL,
                               PRIMARY KEY (codigo));

Done.

[]

In [37]:
%sql DROP TABLE Profesores_Enseñan
%sql DROP TABLE Asignaturas

Done.
Done.

[]

# Ejercicio 1.5

In [38]:
%sql sqlite:///e5.db

'Connected: None@e5.db'

In [39]:
%%sql CREATE TABLE Profesores_Enseñan(nif VARCHAR(30),
                                      codigo INT NOT NULL,
                                      cuatrimestre VARCHAR(12),
                                      PRIMARY KEY (nif),
                                      FOREIGN KEY(codigo) REFERENCES Asignaturas (codigo));

Done.

[]

In [40]:
%%sql CREATE TABLE Asignaturas(codigo INT NOT NULL,
                               PRIMARY KEY (codigo));

Done.

[]

In [41]:
%sql DROP TABLE Profesores_Enseñan
%sql DROP TABLE Asignaturas

Done.
Done.

[]

# Ejercicio 1.6

In [42]:
%sql sqlite:///e6.db

'Connected: None@e6.db'

In [43]:
%%sql CREATE TABLE Profesores(nif VARCHAR(30),
                            PRIMARY KEY (nif));

Done.

[]

In [44]:
%%sql CREATE TABLE Asignaturas(codigo INT NOT NULL,
                               PRIMARY KEY (codigo));

Done.

[]

In [45]:
%%sql CREATE TABLE Grupo(id INT NOT NULL,
                        PRIMARY KEY (id));

Done.

[]

In [46]:
%%sql CREATE TABLE Pertenece(nif VARCHAR(30),
                         id INT NOT NULL,
                         PRIMARY KEY(nif, id),
                         FOREIGN KEY(nif) REFERENCES Profesores (nif),
                         FOREIGN KEY(id) REFERENCES Asignaturas (id));

Done.

[]

In [47]:
%%sql CREATE TABLE Enseña(id VARCHAR(30),
                         codigo INT NOT NULL,
                         fecha VARCHAR(12),
                         PRIMARY KEY(id, codigo),
                         FOREIGN KEY(id) REFERENCES Profesores (id),
                         FOREIGN KEY(codigo) REFERENCES Asignaturas (codigo));

Done.

[]

In [48]:
%%sql 
DROP TABLE Profesores;
DROP TABLE Asignaturas;
DROP TABLE Grupo;
DROP TABLE Pertenece;
DROP TABLE Enseña;

Done.
Done.
Done.
Done.
Done.

[]