In [1]:
#Ejercicio 3

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///Ejercicio3.db

'Connected: None@Ejercicio3.db'

In [4]:
%%sql
CREATE TABLE Empleados
    (nif_Empleados VARCHAR(10), salario float, telf int, 
    primary key(nif_Empleados))

Done.

[]

In [6]:
%%sql
DROP TABLE Departamentos

Done.

[]

In [9]:
%%sql
CREATE TABLE Departamentos
    (id_dep VARCHAR(10), nombre_dep char, presupuesto float, nif_Empleados VARCHAR(10),
    primary key(id_dep, nif_Empleados),
    foreign key (nif_Empleados) references Empleados(nif_Empleados))

Done.

[]

In [10]:
%%sql
CREATE TABLE Trabaja
    (id_dep VARCHAR(10), nif_Empleados VARCHAR(10), 
    primary key(id_dep, nif_Empleados), 
    foreign key (id_dep) references Departamentos(id_dep), 
    foreign key(nif_Empleados) references Empleados(nif_Empleados))

Done.

[]

In [ ]:
%%sql
CREATE TABLE Hijos
    (nombre_hijo VARCHAR(10), edad int, nif_Empleados VARCHAR(10) NOT NULL, 
    primary key(nombre_hijo, nif_Empleados),
    foreign key(nif_Empleados) references Empleados(nif_Empleados)
        ON CASCADE DELETE)