# Ejercicio 1 Víctor Manuel Tenorio Gómez

### Esquemas

![Esquema base de datos](Esquemas_bbdd_isi_1.jpg "Esquema bases de datos")

In [ ]:
%load_ext sql

In [3]:
%sql sqlite://

'Connected: None@None'

In [64]:
%%sql
DROP TABLE IF EXISTS Profesor;
DROP TABLE IF EXISTS Asignaturas;
DROP TABLE IF EXISTS Cuatrimestre;
DROP TABLE IF EXISTS Enseñan;
DROP TABLE IF EXISTS Grupos;
DROP TABLE IF EXISTS Pueden_dar;
DROP TABLE IF EXISTS Pertenecen;

Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [63]:
%sql SELECT * FROM sqlite_master;

Done.

[('table', 'Grupos', 'Grupos', 7, 'CREATE TABLE Grupos (nombre VARCHAR(20),\n                     PRIMARY KEY(nombre))'),
 ('index', 'sqlite_autoindex_Grupos_1', 'Grupos', 8, None),
 ('table', 'Pueden_dar', 'Pueden_dar', 9, 'CREATE TABLE Pueden_dar (nif VARCHAR(9),\n                      cod_asig INT,\n                      PRIMARY KEY(nif, cod_asig),\n                      FOREIGN KEY(nif) REFERENCES Profesor(nif),\n                      FOREIGN KEY(cod_asig) REFERENCES Asignatura(codigo))'),
 ('index', 'sqlite_autoindex_Pueden_dar_1', 'Pueden_dar', 3, None),
 ('table', 'Pertenecen', 'Pertenecen', 14, 'CREATE TABLE Pertenecen (nif VARCHAR(9),\n                      grupo VARCHAR(20),\n                      PRIMARY KEY(nif, grupo),\n                      FOREIGN KEY(nif) REFERENCES Profesor(nif),\n                      FOREIGN KEY(grupo) REFERENCES Grupos(nombre))'),
 ('index', 'sqlite_autoindex_Pertenecen_1', 'Pertenecen', 15, None),
 ('table', 'Enseñan', 'Enseñan', 2, 'CREATE TABLE Enseñan (nif VARCHAR(9),\n                      cod_asig INT,\n                      fecha VARCHAR(20),\n                      PRIMARY K ... (93 characters truncated) ...                       FOREIGN KEY(cod_asig) REFERENCES Asignatura(codigo),\n                      FOREIGN KEY(fecha) REFERENCES Cuatrimestre (fecha))'),
 ('index', 'sqlite_autoindex_Enseñan_1', 'Enseñan', 5, None)]

# Ejercicio 1.1

In [4]:
%%sql
DROP TABLE IF EXISTS Profesor;
CREATE TABLE Profesor (nif VARCHAR(9),
                       PRIMARY KEY(nif));

Done.

[]

In [5]:
%%sql
DROP TABLE IF EXISTS Asignaturas;
CREATE TABLE Asignaturas (codigo INT,
                          PRIMARY KEY(codigo));

Done.

[]

In [6]:
%%sql
DROP TABLE IF EXISTS Cuatrimestre;
CREATE TABLE Cuatrimestre (fecha VARCHAR(20),
                           PRIMARY KEY(fecha));

Done.

[]

In [62]:
%%sql
DROP TABLE IF EXISTS Enseñan;
CREATE TABLE Enseñan (nif VARCHAR(9),
                      cod_asig INT,
                      fecha VARCHAR(20),
                      PRIMARY KEY(nif, cod_asig, fecha),
                      FOREIGN KEY(nif) REFERENCES Profesor(nif),
                      FOREIGN KEY(cod_asig) REFERENCES Asignatura(codigo),
                      FOREIGN KEY(fecha) REFERENCES Cuatrimestre (fecha));

Done.
Done.

[]

In [9]:
%sql SELECT * FROM Enseñan;

Done.

[]

# Ejercicio 1.2

In [23]:
%%sql
DROP TABLE IF EXISTS Profesor;
CREATE TABLE Profesor (nif VARCHAR(9),
                       PRIMARY KEY(nif));

Done.
Done.

[]

In [24]:
%%sql
DROP TABLE IF EXISTS Asignaturas;
CREATE TABLE Asignaturas (codigo INT,
                          PRIMARY KEY(codigo));

Done.
Done.

[]

In [25]:
%%sql
DROP TABLE IF EXISTS Enseñan;
CREATE TABLE Enseñan (nif VARCHAR(9),
                      cod_asig INT,
                      fecha VARCHAR(20),
                      PRIMARY KEY(nif, cod_asig),
                      FOREIGN KEY(nif) REFERENCES Profesor(nif),
                      FOREIGN KEY(cod_asig) REFERENCES Asignatura(codigo));

Done.
Done.

[]

# Ejercicio 1.3

In [ ]:
%%sql
DROP TABLE IF EXISTS Profesor;
CREATE TABLE Profesor (nif VARCHAR(9),
                       PRIMARY KEY(nif));

In [ ]:
%%sql
DROP TABLE IF EXISTS Asignaturas;
CREATE TABLE Asignaturas (codigo INT,
                          PRIMARY KEY(codigo));

In [ ]:
%%sql
DROP TABLE IF EXISTS Enseñan;
CREATE TABLE Enseñan (nif VARCHAR(9),
                      cod_asig INT,
                      fecha VARCHAR(20),
                      PRIMARY KEY(nif, cod_asig),
                      FOREIGN KEY(nif) REFERENCES Profesor(nif),
                      FOREIGN KEY(cod_asig) REFERENCES Asignatura(codigo));

# Ejercicio 1.4

In [47]:
%%sql
DROP TABLE IF EXISTS Profesor;
CREATE TABLE Profesor (nif VARCHAR(9),
                       cod_asig INT NOT NULL,
                       PRIMARY KEY(nif),
                       FOREIGN KEY(cod_asig) REFERENCES Asignaturas(codigo));

Done.
Done.

[]

In [42]:
%%sql
DROP TABLE IF EXISTS Asignaturas;
CREATE TABLE Asignaturas (codigo INT,
                          PRIMARY KEY(codigo));

Done.
Done.

[]

# Ejercicio 1.5

In [51]:
%%sql
DROP TABLE IF EXISTS Profesor;
CREATE TABLE Profesor (nif VARCHAR(9),
                       cod_asig INT NOT NULL,
                       PRIMARY KEY(nif),
                       FOREIGN KEY(cod_asig) REFERENCES Asignaturas(codigo));

Done.
Done.

[]

In [ ]:
%%sql
DROP TABLE IF EXISTS Asignaturas;
CREATE TABLE Asignaturas (codigo INT,
                          PRIMARY KEY(codigo));

# Ejercicio 1.6

In [52]:
%%sql
DROP TABLE IF EXISTS Profesor;
CREATE TABLE Profesor (nif VARCHAR(9),
                       PRIMARY KEY(nif));

Done.
Done.

[]

In [53]:
%%sql
DROP TABLE IF EXISTS Asignaturas;
CREATE TABLE Asignaturas (codigo INT,
                          PRIMARY KEY(codigo));

Done.
Done.

[]

In [54]:
%%sql
DROP TABLE IF EXISTS Grupos;
CREATE TABLE Grupos (nombre VARCHAR(20),
                     PRIMARY KEY(nombre));

Done.
Done.

[]

In [55]:
%%sql
DROP TABLE IF EXISTS Pueden_dar;
CREATE TABLE Pueden_dar (nif VARCHAR(9),
                      cod_asig INT,
                      PRIMARY KEY(nif, cod_asig),
                      FOREIGN KEY(nif) REFERENCES Profesor(nif),
                      FOREIGN KEY(cod_asig) REFERENCES Asignatura(codigo));

Done.
Done.

[]

In [59]:
%%sql
DROP TABLE IF EXISTS Enseñan;
CREATE TABLE Enseñan (grupo VARCHAR(20),
                      cod_asig INT,
                      fecha VARCHAR(20),
                      PRIMARY KEY(grupo, cod_asig),
                      FOREIGN KEY(grupo) REFERENCES Grupos(nombre),
                      FOREIGN KEY(cod_asig) REFERENCES Asignatura(codigo));

Done.
Done.

[]

In [60]:
%%sql
DROP TABLE IF EXISTS Pertenecen;
CREATE TABLE Pertenecen (nif VARCHAR(9),
                      grupo VARCHAR(20),
                      PRIMARY KEY(nif, grupo),
                      FOREIGN KEY(nif) REFERENCES Profesor(nif),
                      FOREIGN KEY(grupo) REFERENCES Grupos(nombre));

Done.
Done.

[]