In [2]:
%load_ext sql
%sql sqlite:///ejercicio2.db

'Connected: None@ejercicio2.db'

<img src="Ejercicio2.2.jpeg">

In [3]:
%%sql create table profesor (nif varchar(10),
                             nombre char(30),
                             edad int(2),
                             cargo char(30),
                             especialidad char(30),
                             primary key (nif));

(sqlite3.OperationalError) table profesor already exists [SQL: 'create table profesor (nif varchar(10),\n                             nombre char(30),\n                             edad int(2),\n                             cargo char(30),\n                             especialidad char(30),\n                             primary key (nif));']

In [8]:
%sql SELECT * FROM profesor

Done.

[]

In [29]:
%%sql create table proyecto (num int,
                       entidad char(30),
                       comienzo date,
                       finalizacion date,
                       presupuesto float,
                       nif_prof varchar(10) not null,
                       primary key (num),
                       foreign key (nif_prof) references profesor(nif));

(sqlite3.OperationalError) table proyecto already exists [SQL: 'create table proyecto (num int,\n                       entidad char(30),\n                       comienzo date,\n                       finalizacion date,\n                       presupuesto float,\n                       nif_prof varchar(10) not null,\n                       primary key (num),\n                       foreign key (nif_prof) references profesor(nif));']

In [9]:
%sql SELECT * FROM proyecto

Done.

[]

In [25]:
%%sql create table estudiante (nombre char(30), 
                               edad int, 
                               nif varchar(10), 
                               titulacion char(30), 
                               nif_tutor varchar(10) not null, 
                               primary key (nif),
                               foreign key (nif_tutor) references estudiante (nif));

(sqlite3.OperationalError) table estudiante already exists [SQL: 'create table estudiante (nombre char(30), \n                               edad int, \n                               nif varchar(10), \n                               titulacion char(30), \n                               nif_tutor varchar(10) not null, \n                               primary key (nif), \n                               foreign key (nif_tutor) references estudiante (nif));']

In [26]:
%sql SELECT * FROM estudiante

Done.

[]

In [36]:
%%sql create table departamento(num int,
                                nombre char(30),
                                edificio int(2),
                                nif_est varchar(10),
                                nif_prof_dir varchar(10) not null,
                                primary key (num),
                                foreign key (nif_est) references estudiante(nif),
                                foreign key (nif_prof_dir) references profesor(nif));

Done.

[]

In [37]:
%sql SELECT * FROM departamento

Done.

[]

In [39]:
%%sql create table ayuda_en(num_proy int,
                            nif varchar(10) not null,
                            primary key (num_proy, nif),
                            foreign key (num_proy) references proyecto(num),
                            foreign key (nif) references estudiante(nif));

Done.

[]

In [40]:
%sql SELECT * FROM ayuda_en

Done.

[]

In [41]:
%%sql create table trabaja (num_proy int,
                            nif varchar(10) not null,
                            primary key (num_proy, nif),
                            foreign key (num_proy) references proyecto(num),
                            foreign key (nif) references profesor(nif));

Done.

[]

In [42]:
%sql SELECT * FROM trabaja

Done.

[]

In [43]:
%%sql create table trabaja_en (tiempo int,
                            num_dep int not null,
                            nif varchar(10),
                            primary key (num_dep, nif),
                            foreign key (num_dep) references departamento(num),
                            foreign key (nif) references profesor(nif));

Done.

[]

In [44]:
%sql SELECT * FROM trabaja_en

Done.

[]

In [45]:
%%sql create table supervisa(nif_prof varchar(10),
                            nif_est varchar(10),
                            num_proy int,
                            primary key (nif_prof, nif_est, num_proy),
                            foreign key (nif_prof) references profesor(nif),
                            foreign key (nif_est, num_proy) references ayuda_en(nif, num_proy));

Done.

[]

In [47]:
%sql SELECT * FROM supervisa

Done.

[]