# Ejercicio 2

![Diagrama ER E2](e2.jpg "Diagrama ER E2")

In [1]:
%reload_ext sql
%sql sqlite:///e2.db

'Connected: None@e2.db'

In [2]:
%%sql 
DROP TABLE IF EXISTS Profesores;
CREATE TABLE Profesores(nif VARCHAR(30),
                              nombre VARCHAR(30),
                              edad INT,
                              cargo VARCHAR(30),
                              especialidad VARCHAR(30),
                              PRIMARY KEY (nif));

Done.
Done.

[]

In [3]:
%%sql 
DROP TABLE IF EXISTS Proyecto_Gestionado;
CREATE TABLE Proyecto_Gestionado(id_num VARCHAR(30),
                                         nom_ent VARCHAR(30),
                                         fecha_in DATE,
                                         fecha_out DATE,
                                         presupuesto FLOAT,
                                         nif VARCHAR(30) NOT NULL,
                                         PRIMARY KEY (id_num),
                                         FOREIGN KEY (nif) REFERENCES Profesores(nif));

Done.
Done.

[]

In [4]:
%%sql 
DROP TABLE IF EXISTS Estudiantes;
CREATE TABLE Estudiantes(nif VARCHAR(30),
                         nombre VARCHAR(30),
                         edad INT,
                         titulacion VARCHAR(30),
                         id_depart VARCHAR(30) NOT NULL,
                         nif_estu VARCHAR(30) NOT NULL,
                         PRIMARY KEY (nif),
                         FOREIGN KEY (id_depart) REFERENCES Departamento_Dirigido(id_num),
                         FOREIGN KEY (nif_estu) REFERENCES Estudiantes(nif));

Done.
Done.

[]

In [5]:
%%sql 
DROP TABLE IF EXISTS Departamento_Dirigido;
CREATE TABLE Departamento_Dirigido(id_num VARCHAR(30),
                                         nombre VARCHAR(30),
                                         edificio INT,
                                         nif VARCHAR(30) NOT NULL,
                                         PRIMARY KEY (id_num)
                                         FOREIGN KEY (nif) REFERENCES Profesores(nif));

Done.
Done.

[]

In [6]:
%%sql 
DROP TABLE IF EXISTS Trabaja;
CREATE TABLE Trabaja(nif_prof VARCHAR(30),
                           nif_estu VARCHAR(30),
                           num_proy VARCHAR(30),
                           PRIMARY KEY (nif_prof, nif_estu, num_proy),
                           FOREIGN KEY (nif_prof) REFERENCES Profesores(nif),
                           FOREIGN KEY (nif_estu) REFERENCES Estudiantes(nif),
                           FOREIGN KEY (num_proy) REFERENCES Proyectos_Gestionados(id_num));

Done.
Done.

[]

In [7]:
%%sql 
DROP TABLE IF EXISTS Investiga;
CREATE TABLE Investiga(nif VARCHAR(30),
                            id_num VARCHAR(30),
                            PRIMARY KEY (nif, id_num),
                            FOREIGN KEY (nif) REFERENCES Profesores(nif),
                            FOREIGN KEY (id_num) REFERENCES Proyecto_Gestionado(id_num));

Done.
Done.

[]

In [8]:
%%sql 
DROP TABLE IF EXISTS Departamento_Trabajado;
CREATE TABLE Departamento_Trabajado(nif VARCHAR(30),
                                         id_num VARCHAR(30),
                                         tiempo_porc INT,
                                         PRIMARY KEY (nif, id_num),
                                         FOREIGN KEY (nif) REFERENCES Profesores(nif),
                                         FOREIGN KEY (id_num) REFERENCES Departamento_Dirigido(id_num));

Done.
Done.

[]