# Ejercicio 4 Víctor Manuel Tenorio Gómez

### Esquema

![Esquema base de datos](Esquemas_bbdd_isi_4.jpg "Esquema base de datos")

In [2]:
%load_ext sql
%sql sqlite:///e4.db

'Connected: None@e4.db'

In [3]:
%%sql
DROP TABLE IF EXISTS Musico;
DROP TABLE IF EXISTS Direccion;
DROP TABLE IF EXISTS Instrumento;
DROP TABLE IF EXISTS Tocan;
DROP TABLE IF EXISTS Cancion;
DROP TABLE IF EXISTS Interpreta;
DROP TABLE IF EXISTS Album;

Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [4]:
%%sql
DROP TABLE IF EXISTS Musico;
CREATE TABLE Musico (nif VARCHAR(9),
                    nombre VARCHAR(20),
                    direccion VARCHAR(20) NOT NULL,
                    PRIMARY KEY(nif),
                    FOREIGN KEY (direccion) REFERENCES Direccion(domicilio));

Done.
Done.

[]

In [5]:
%%sql
DROP TABLE IF EXISTS Direccion;
CREATE TABLE Direccion (domicilio VARCHAR(20),
                       telefono INT,
                       PRIMARY KEY (domicilio));

Done.
Done.

[]

In [6]:
%%sql
DROP TABLE IF EXISTS Instrumento;
CREATE TABLE Instrumento (id INT,
                         nombre VARCHAR(20),
                         PRIMARY KEY(id));

Done.
Done.

[]

In [7]:
%%sql
DROP TABLE IF EXISTS Tocan;
CREATE TABLE Tocan (nif_musico VARCHAR(20),
                   id_instrumento INT,
                   PRIMARY KEY (nif_musico, id_instrumento),
                   FOREIGN KEY (nif_musico) REFERENCES Musico(nif),
                   FOREIGN KEY (id_instrumento) REFERENCES Instrumento(id));

Done.
Done.

[]

In [9]:
%%sql
DROP TABLE IF EXISTS Cancion;
CREATE TABLE Cancion (id INT,
                     titulo VARCHAR(20),
                     autor VARCHAR(20),
                     id_album INT NOT NULL,
                     PRIMARY KEY(id),
                     FOREIGN KEY (id_album) REFERENCES Album(id));

Done.
Done.

[]

In [10]:
%%sql
DROP TABLE IF EXISTS Interpreta;
CREATE TABLE Interpreta (nif_musico VARCHAR(9),
                        id_cancion INT,
                        PRIMARY KEY(nif_musico, id_cancion),
                        FOREIGN KEY (nif_musico) REFERENCES Musico(nif),
                        FOREIGN KEY (id_cancion) REFERENCES Cancion(id))

Done.
Done.

[]

In [11]:
%%sql
DROP TABLE IF EXISTS Album;
CREATE TABLE Album (id INT,
                   titulo VARCHAR(20),
                   fecha_edicion DATE,
                   formato VARCHAR(10),
                   productor VARCHAR(9) NOT NULL,
                   PRIMARY KEY (id),
                   FOREIGN KEY (productor) REFERENCES Musico(nif));

Done.
Done.

[]