# Ejercicio 5 Víctor Manuel Tenorio Gómez

### Esquema

![Esquema base de datos](Esquemas_bbdd_isi_5.jpg "Esquema base de datos")

In [1]:
%load_ext sql
%sql sqlite:///e5.db

'Connected: None@e5.db'

In [2]:
%%sql
DROP TABLE IF EXISTS Paciente;
DROP TABLE IF EXISTS Medico;
DROP TABLE IF EXISTS Compañia;
DROP TABLE IF EXISTS Medicamento;
DROP TABLE IF EXISTS Recetan;
DROP TABLE IF EXISTS Farmacia;
DROP TABLE IF EXISTS Vende;
DROP TABLE IF EXISTS Contrato;
DROP TABLE IF EXISTS Firman;
DROP TABLE IF EXISTS Supervisor;

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [3]:
%%sql
DROP TABLE IF EXISTS Paciente;
CREATE TABLE Paciente (nif VARCHAR(9),
                      nombre VARCHAR(20),
                      direccion VARCHAR(20),
                      edad INT,
                      nif_medico VARCHAR(9) NOT NULL,
                      PRIMARY KEY (nif),
                      FOREIGN KEY (nif_medico) REFERENCES Medico(nif));

Done.
Done.

[]

In [4]:
%%sql
DROP TABLE IF EXISTS Medico;
CREATE TABLE Medico (nif VARCHAR(9),
                    nombre VARCHAR(20),
                    especialidad VARCHAR(20),
                    años_exp INT,
                    PRIMARY KEY (nif));

Done.
Done.

[]

In [5]:
%%sql
DROP TABLE IF EXISTS Compañia;
CREATE TABLE Compañia (nombre VARCHAR(20),
                      telefono INT,
                      PRIMARY KEY (nombre));

Done.
Done.

[]

In [6]:
%%sql
DROP TABLE IF EXISTS Medicamento;
CREATE TABLE Medicamento (nombre_comercial VARCHAR(20),
                         formula VARCHAR(20),
                         compañia VARCHAR(20) NOT NULL,
                         PRIMARY KEY (compañia, nombre_comercial),
                         FOREIGN KEY (compañia) REFERENCES Compañia(nombre) ON DELETE CASCADE);

Done.
Done.

[]

In [7]:
%%sql
DROP TABLE IF EXISTS Recetan;
CREATE TABLE Recetan (fecha DATE,
                     cantidad FLOAT,
                     nif_paciente VARCHAR(9),
                     nif_medico VARCHAR(9),
                     medicamento VARCHAR(20),
                     PRIMARY KEY (nif_paciente, nif_medico, medicamento),
                     FOREIGN KEY (nif_paciente) REFERENCES Paciente(nif),
                     FOREIGN KEY (nif_medico) REFERENCES Medico(nif),
                     FOREIGN KEY (medicamento) REFERENCES Medicamento(nombre_comercial));

Done.
Done.

[]

In [8]:
%%sql
DROP TABLE IF EXISTS Farmacia;
CREATE TABLE Farmacia (nombre VARCHAR(20),
                      direccion VARCHAR(20),
                      telefono INT,
                      PRIMARY KEY (nombre));

Done.
Done.

[]

In [9]:
%%sql
DROP TABLE IF EXISTS Vende;
CREATE TABLE Vende (precio FLOAT,
                   medicamento VARCHAR(20),
                   farmacia VARCHAR(20),
                   PRIMARY KEY (medicamento, farmacia),
                   FOREIGN KEY (medicamento) REFERENCES Medicamento(nombre_comercial),
                   FOREIGN KEY (farmacia) REFERENCES Farmacia(nombre));

Done.
Done.

[]

In [10]:
%%sql
DROP TABLE IF EXISTS Contrato;
CREATE TABLE Contrato (texto VARCHAR(200),
                      fecha_inicio DATE,
                      fecha_fin DATE,
                      PRIMARY KEY (texto));

Done.
Done.

[]

In [11]:
%%sql
DROP TABLE IF EXISTS Firman;
CREATE TABLE Firman (compañia VARCHAR(20),
                    farmacia VARCHAR(20),
                    texto_contrato VARCHAR(200),
                    PRIMARY KEY (compañia, farmacia, texto_contrato),
                    FOREIGN KEY (compañia) REFERENCES Compañia(nombre),
                    FOREIGN KEY (farmacia) REFERENCES Farmacia(nombre),
                    FOREIGN KEY (texto_contrato) REFERENCES Contrato(texto));

Done.
Done.

[]

In [12]:
%%sql
DROP TABLE IF EXISTS Supervisor;
CREATE TABLE Supervisor (nif VARCHAR(9),
                        contrato_supervisado VARCHAR(200) NOT NULL,
                        PRIMARY KEY (nif),
                        FOREIGN KEY (contrato_supervisado) REFERENCES Contrato(texto));

Done.
Done.

[]

#### 2.
El precio de los medicamentos, en lugar de ser un atributo de la relacion "Vende", tendría que ser un atributo de medicamento.

#### 3.
Receta debería ser una entidad, para poder guardar en esa tabla todas las recetas que se le vayan mandando de un mismo médico a un paciente y un medicamento en particular. Por tanto, la relación "Recetan" sería una cuádrupla que se conectaría a Paciente, Médico, Medicamento y Receta.