# Ejercicio 3 Víctor Manuel Tenorio Gómez

### Esquema

![Esquema base de datos](Esquemas_bbdd_isi_3.jpg "Esquema base de datos")

In [ ]:
%load_ext sql
%sql sqlite:///e3.db

In [3]:
%%sql
DROP TABLE IF EXISTS Empleado;
DROP TABLE IF EXISTS Departamento;
DROP TABLE IF EXISTS Trabajan;

Done.
Done.
Done.

[]

In [4]:
%%sql
DROP TABLE IF EXISTS Empleado;
CREATE TABLE Empleado (nif VARCHAR(9),
                      telefono INT,
                      salario FLOAT,
                      PRIMARY KEY(nif));

Done.
Done.

[]

In [5]:
%%sql
DROP TABLE IF EXISTS Departamento;
CREATE TABLE Departamento (id_dep INT,
                          nombre VARCHAR(20),
                          presupuesto FLOAT,
                          nif_director VARCHAR(9) NOT NULL,
                          PRIMARY KEY(id_dep),
                          FOREIGN KEY (nif_director) REFERENCES Empleado(nif));

Done.
Done.

[]

In [6]:
%%sql
DROP TABLE IF EXISTS Trabajan;
CREATE TABLE Trabajan (nif_empleado VARCHAR(9),
                      dep_id INT,
                      PRIMARY KEY (nif_empleado, dep_id),
                      FOREIGN KEY (nif_empleado) REFERENCES Empleado(nif),
                      FOREIGN KEY (dep_id) REFERENCES Departamento(id_dep));

Done.
Done.

[]

In [7]:
%%sql
DROP TABLE IF EXISTS Hijo;
CREATE TABLE Hijo (nombre VARCHAR(20),
                  edad INT,
                  nif_padre VARCHAR(9) NOT NULL,
                  PRIMARY KEY (nombre, nif_padre),
                  FOREIGN KEY (nif_padre) REFERENCES Empleado(nif) ON DELETE CASCADE);

Done.
Done.

[]