## Diagrama de una Universidad

cargamos la imagen
<img src="universidad.jpg">

In [1]:
#cargamos la extension para sql
%load_ext sql

/home/tomas/anaconda2/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/home/tomas/anaconda2/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [3]:
#creamos un fichero de base de datos
%sql sqlite:///Uni.db

u'Connected: None@Uni.db'

In [4]:
%%sql 

CREATE TABLE Profesores(nif VARCHAR(10),
                       nombre VARCHAR(30),
                       edad INT,
                       cargo VARCHAR(30),
                       especialidad VARCHAR(30),
                       PRIMARY KEY (nif)
);

Done.

[]

In [5]:
%%sql

CREATE TABLE proyectos_gestinados(id_proy INT,
                                 nomb_ent_finan VARCHAR(30),
                                 fecha_init DATE,
                                 fecha_fin DATE,
                                 presuspuesto FLOAT,
                                 nif_prof VARCHAR(10) NOT NULL,
                                 PRIMARY KEY (id_proy),
                                 FOREIGN KEY (nif_prof) REFERENCES profesores(nif)
);

Done.

[]

In [6]:
%%sql

CREATE TABLE trabaja(nif_prof VARCHAR(10),
                    id_proy INT,
                    PRIMARY KEY(nif_prof,id_proy),
                    FOREIGN KEY (nif_prof) REFERENCES profesores(nif),
                    FOREIGN KEY (id_proy) REFERENCES proyectos_gestionados(id_proy)
);

Done.

[]

In [7]:
%%sql
CREATE TABLE departamento_dirigido(num_dpto INT,
                                  nombre VARCHAR(30),
                                  edificio VARCHAR(30),
                                  nif_director VARCHAR(10),
                                  PRIMARY KEY (num_dpto),
                                  FOREIGN KEY(nif_director) REFERENCES profesores(nif)
                                  );

Done.

[]

In [8]:
%%sql
CREATE TABLE trabaja_2(nif_prof VARCHAR(10),
                      num_dpto INT,
                      PRIMARY KEY(nif_prof,num_dpto),
                      FOREIGN KEY(nif_prof) REFERENCES profesores(nif),
                      FOREIGN KEY(num_dpto) REFERENCES departamento_dirigido(num_dpto)
                      );

Done.

[]

In [9]:
%%sql

CREATE TABLE estudiantes(nif VARCHAR(10),
                        nombre VARCHAR(30),
                        edad INT,
                        titulacion VARCHAR(30),
                        num_departamento INT,
                        tutor VARCHAR(10) NOT NULL,
                        PRIMARY KEY(nif),
                        FOREIGN KEY(tutor) REFERENCES estudiantes(nif),
                        FOREIGN KEY(num_departamento) REFERENCES departamento_dirigido(num_dpto)
                        );

Done.

[]

In [11]:
%%sql
CREATE TABLE ayuda_en(nif_estudiante VARCHAR(30),
                     id_proyecto INT,
                     nif_supervisor VARCHAR NOT NULL,
                     PRIMARY KEY(nif_estudiante,id_proyecto),
                     FOREIGN KEY(nif_estudiante) REFERENCES estudiante(nif),
                     FOREIGN KEY(id_proyecto) REFERENCES proyectos_gestionados(id_proy),
                     FOREIGN KEY(nif_supervisor) REFERENCES profesores(nif)
                     );

Done.

[]