## EJ 5 FARMACIAS

<img src="farmacias.png">

In [2]:
#cargamos la extension para sql
%load_ext sql

/home/tomas/anaconda2/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/home/tomas/anaconda2/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [3]:
#creamos un fichero de base de datos
%sql sqlite:///farmacias.db

u'Connected: None@farmacias.db'

In [4]:
%%sql 

CREATE TABLE medicos(nif VARCHAR(10),
                    nombre VARCHAR(30),
                    annos_exp INT,
                    especialidad VARCHAR(30),
                    PRIMARY KEY (nif)
);

Done.

[]

In [5]:
%%sql 

CREATE TABLE pacientes(nif VARCHAR(10),
                       nombre VARCHAR(30),
                       edad INT,
                       direccion VARCHAR(30),
                       nif_medico VARCHAR(10),
                       PRIMARY KEY (nif),
                       FOREIGN KEY (nif_medico) REFERENCES medicos(nif)
);

Done.

[]

In [6]:
%%sql 

CREATE TABLE comp_farmaceutica (nombre VARCHAR(30),
                               telefono VARCHAR(10),
                               PRIMARY KEY (nombre)
);

Done.

[]

In [7]:
%%sql 

CREATE TABLE medicamento(nombre VARCHAR(30),
                        formula VARCHAR(20),
                        compannia_suministradora VARCHAR(30) NOT NULL,
                        PRIMARY KEY (nombre),
                        FOREIGN KEY (compannia_suministradora) REFERENCES comp_farmaceutica(nombre)
);

Done.

[]

In [9]:
%%sql 

CREATE TABLE recetar(nif_medico VARCHAR(10),
                    nombre_medicamento VARCHAR(30),
                    nif_paciente VARCHAR(10),
                    cantidad FLOAT,
                    Fecha DATE,
                    PRIMARY KEY (nif_medico,nif_paciente,nombre_medicamento),
                    FOREIGN KEY (nif_medico) REFERENCES medicos(nif),
                    FOREIGN KEY (nif_paciente) REFERENCES pacientes(nif),
                    FOREIGN KEY (nombre_medicamento) REFERENCES medicamentos(nombre)
);

Done.

[]

In [10]:
%%sql 

CREATE TABLE farmacias (nombre VARCHAR(30),
                        telefono VARCHAR(10),
                        direccion VARCHAR(30),
                        PRIMARY KEY (nombre)
);

Done.

[]

In [11]:
%%sql 

CREATE TABLE vende (nombre_farmacia VARCHAR(30),
                    nombre_medicamento VARCHAR(30),
                    PRIMARY KEY (nombre_farmacia,nombre_medicamento),
                    FOREIGN KEY (nombre_medicamento) REFERENCES medicamentos(nombre),
                    FOREIGN KEY (nombre_farmacia) REFERENCES farmacias(nombre)
                    
);

Done.

[]

In [16]:
%%sql 

CREATE TABLE supervisor (nif VARCHAR(10),
                         nombre VARCHAR(30),
                         PRIMARY KEY (nif)
                    
);

Done.

[]

In [19]:
%%sql 

CREATE TABLE contrata (nombre_farmacia VARCHAR(30),
                       nombre_comp_farmaceutica VARCHAR(30),
                       echa_Ini DATE,
                       echa_Fin DATE,
                       condiciones VARCHAR(50),
                       nif_supervisor VARCHAR(10) NOT NULL,
                       PRIMARY KEY (nombre_farmacia,nombre_comp_farmaceutica, nif_supervisor),
                       FOREIGN KEY (nombre_farmacia) REFERENCES farmacias(nombre),
                       FOREIGN KEY (nombre_comp_farmaceutica) REFERENCES comp_farmaceutica(nombre),
                       FOREIGN KEY (nif_supervisor) REFERENCES supervisor(nif)
                    
);

Done.

[]