# Ejercicio 1: Dise√±o del diagrama ER para un aeropuerto

In [1]:
%load_ext sql

/home/raul/anaconda2/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/home/raul/anaconda2/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
%sql sqlite:///Hoja1_Ejercicio1.db

u'Connected: None@Hoja1_Ejercicio1.db'

<img src="Hoja1_Ejercicio1.jpg">

In [3]:
%%sql
PRAGMA foreign_keys = ON;

DROP TABLE IF EXISTS modelos;
DROP TABLE IF EXISTS aviones;
DROP TABLE IF EXISTS trabajadores;
DROP TABLE IF EXISTS tecnicos;
DROP TABLE IF EXISTS controladores;
DROP TABLE IF EXISTS es_experto;
DROP TABLE IF EXISTS pruebas;
DROP TABLE IF EXISTS pasar_pruebas;


CREATE TABLE modelos(num_modelo INT,
                     capacidad INT,
                     peso FLOAT,
                     PRIMARY KEY (num_modelo));

CREATE TABLE aviones(num_registro INT,
                     num_modelo INT,
                     PRIMARY KEY (num_registro),
                     FOREIGN KEY (num_modelo) REFERENCES modelos(num_modelo));

CREATE TABLE trabajadores(nombre VARCHAR(50),
                          nif VARCHAR(9),
                          direccion VARCHAR(50),
                          telefono VARCHAR(9),
                          PRIMARY KEY (nif));

CREATE TABLE tecnicos(salario FLOAT,
                      nif VARCHAR(9),
                      PRIMARY KEY (nif),
                      FOREIGN KEY (nif) REFERENCES trabajadores(nif) ON DELETE CASCADE);

CREATE TABLE controladores(nif VARCHAR(9) NOT NULL,
                         fecha_examen_medico DATE,
                         PRIMARY KEY (nif),
                         FOREIGN KEY (nif) REFERENCES trabajadores(nif) ON DELETE CASCADE);

CREATE TABLE es_experto(nif VARCHAR(9),
                        num_modelo INT,
                        FOREIGN KEY (nif) REFERENCES tecnicos(nif),
                        FOREIGN KEY (num_modelo) REFERENCES modelos(num_modelo));

CREATE TABLE pruebas(num_prueba INT,
                     nombre_prueba VARCHAR(30),
                     puntuacion_maxima INT,
                     PRIMARY KEY(num_prueba));

CREATE TABLE pasar_pruebas(fecha DATE,
                           num_horas INT,
                           puntuacion INT,
                           num_registro INT,
                           nif VARCHAR(9),
                           num_prueba INT,
                           FOREIGN KEY(num_registro) REFERENCES aviones(num_reg),
                           FOREIGN KEY(nif) REFERENCES tecnicos(nif),
                           FOREIGN KEY(num_prueba) REFERENCES pruebas(num_prueba));

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]