# Ejercicio_1: DISEÑO_DE_DIAGRAMAS_ER_PARA_PROFESORES_DE_UNA_UNIVERSIDAD

![Diagrama ER: Ejercicio_1](IMG_20171011_084537.jpg "Diagrama ER Ejercicio_1")

In [32]:
%reload_ext sql

### Ejercicio 1.1

In [35]:
%sql sqlite:///ISI-Ejercicio_1_1-sql.db

'Connected: None@ISI-Ejercicio_1_1-sql.db'

In [58]:
%%sql
sqlite:///ISI-Ejercicio_1_1-sql.db
DROP TABLE IF EXISTS Profesores;
CREATE TABLE Profesores(
 dni VARCHAR (20), 
 PRIMARY KEY (dni)
);

Done.
Done.

[]

In [59]:
%%sql
sqlite:///ISI-Ejercicio_1_1-sql.db
DROP TABLE IF EXISTS Asignatura;
CREATE TABLE Asignatura (
 num_asignatura INT,
 PRIMARY KEY (num_asignatura)
);

Done.
Done.

[]

In [60]:
%%sql
sqlite:///ISI-Ejercicio_1_1-sql.db
DROP TABLE IF EXISTS Cuatrimestre;
CREATE TABLE Cuatrimestre (
 num_cuatrimestre INT,
 PRIMARY KEY (num_cuatrimestre)
);

Done.
Done.

[]

In [61]:
%%sql
sqlite:///ISI-Ejercicio_1_1-sql.db
DROP TABLE IF EXISTS Ensenar;
PRAGMA foreign_keys = ON;
CREATE TABLE Ensenar (
 dni VARCHAR (20),
 num_asignatura INT,
 num_cuatrimestre INT,
 PRIMARY KEY (dni, num_asignatura, num_cuatrimestre),
 FOREIGN KEY (dni) REFERENCES Profesores (dni),
 FOREIGN KEY (num_asignatura) REFERENCES Asignaturas (num_asignatura),
 FOREIGN KEY (num_cuatrimestre) REFERENCES Cuatrimestres (num_cuatrimestre)
);

Done.
Done.
Done.

[]

### Ejercicio 1.2

In [44]:
%sql sqlite:///ISI-Ejercicio_1_2-sql.db

'Connected: None@ISI-Ejercicio_1_2-sql.db'

In [62]:
%%sql
sqlite:///ISI-Ejercicio_1_2-sql.db
DROP TABLE IF EXISTS Profesores;
CREATE TABLE Profesores(
 dni VARCHAR (20), 
 PRIMARY KEY (dni)
);

Done.
Done.

[]

In [63]:
%%sql
sqlite:///ISI-Ejercicio_1_2-sql.db
DROP TABLE IF EXISTS Asignatura;
CREATE TABLE Asignatura (
 num_asignatura INT,
 PRIMARY KEY (num_asignatura)
);

Done.
Done.

[]

In [64]:
%%sql
sqlite:///ISI-Ejercicio_1_2-sql.db
DROP TABLE IF EXISTS Ensenar;
PRAGMA foreign_keys = ON;
CREATE TABLE Ensenar (
 dni VARCHAR (20),
 num_asignatura INT,
 fecha DATE,
 PRIMARY KEY (dni, num_asignatura),
 FOREIGN KEY (dni) REFERENCES Profesores (dni),
 FOREIGN KEY (num_asignatura) REFERENCES Asignaturas (num_asignatura)
);

Done.
Done.
Done.

[]

### Ejercicio 1.3

In [49]:
# El ejercicio 1.3 se corresponde con el 1.2 al no poder representar la información diferente
# al ejercicio anterior que es la restricción de haber mínimo un profesor para enseñar cada asignatura.

### Ejercicio 1.4

In [50]:
%sql sqlite:///ISI-Ejercicio_1_4-sql.db

'Connected: None@ISI-Ejercicio_1_4-sql.db'

In [65]:
%%sql
sqlite:///ISI-Ejercicio_1_4-sql.db
DROP TABLE IF EXISTS Profesores_Ensenan;
PRAGMA foreign_keys = ON;
CREATE TABLE Profesores_Ensenan(
 dni VARCHAR (20),
 num_asignatura INT NOT NULL,
 fecha DATE,
 PRIMARY KEY (dni),
 FOREIGN KEY (num_asignatura) REFERENCES Asignaturas (num_asignatura)
);

Done.
Done.
Done.

[]

In [66]:
%%sql
sqlite:///ISI-Ejercicio_1_4-sql.db
DROP TABLE IF EXISTS Asignatura;
CREATE TABLE Asignatura (
 num_asignatura INT,
 PRIMARY KEY (num_asignatura)
);

Done.
Done.

[]

### Ejercicio 1.5

In [ ]:
# El ejercicio 1.5 se corresponde con el 1.4 al no poder representar la información diferente
# al ejercicio anterior que es la restricción de haber mínimo una asignatura que enseñe cada profesor.

### Ejercicio 1.6

In [52]:
%sql sqlite:///ISI-Ejercicio_1_6-sql.db

'Connected: None@ISI-Ejercicio_1_6-sql.db'

In [67]:
%%sql
sqlite:///ISI-Ejercicio_1_6-sql.db
DROP TABLE IF EXISTS Profesores;
CREATE TABLE Profesores(
 dni VARCHAR (20), 
 PRIMARY KEY (dni)
);

Done.
Done.

[]

In [68]:
%%sql
sqlite:///ISI-Ejercicio_1_6-sql.db
DROP TABLE IF EXISTS Asignatura;
CREATE TABLE Asignatura (
 num_asignatura INT,
 PRIMARY KEY (num_asignatura)
);

Done.
Done.

[]

In [55]:
%%sql
sqlite:///ISI-Ejercicio_1_6-sql.db
DROP TABLE IF EXISTS Grupo;
CREATE TABLE Grupo (
 num_prof INT DEFAULT '0',
 PRIMARY KEY (num_prof)
);

Done.
Done.

[]

In [56]:
%%sql
sqlite:///ISI-Ejercicio_1_6-sql.db
DROP TABLE IF EXISTS Ensenar;
PRAGMA foreign_keys = ON;
CREATE TABLE Ensenar (
 dni VARCHAR (20),
 num_asignatura INT,
 num_prof INT DEFAULT '0',
 PRIMARY KEY (dni, num_asignatura, num_prof),
 FOREIGN KEY (dni) REFERENCES Profesores (dni),
 FOREIGN KEY (num_asignatura) REFERENCES Asignaturas (num_asignatura),
 FOREIGN KEY (num_prof) REFERENCES Grupo (num_prof)
);

Done.
Done.
Done.

[]

In [69]:
%%sql
sqlite:///ISI-Ejercicio_1_6-sql.db
DROP TABLE IF EXISTS Componer;
PRAGMA foreign_keys = ON;
CREATE TABLE Componer (
 dni VARCHAR (20),
 num_prof INT DEFAULT '0',
 PRIMARY KEY (dni, num_prof),
 FOREIGN KEY (dni) REFERENCES Profesores (dni),
 FOREIGN KEY (num_prof) REFERENCES Grupo (num_prof)
);

Done.
Done.
Done.

[]