In [1]:
#Ejercicio 4

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///Ejercicio4.db

'Connected: None@Ejercicio4.db'

In [6]:
%%sql
DROP TABLE Musicos

Done.

[]

In [7]:
%%sql
CREATE TABLE Musicos
    (nif_Musicos VARCHAR(10), nombre char(30), 
    primary key (nif_Musicos))

Done.

[]

In [10]:
%%sql
DROP TABLE Instrumentos

Done.

[]

In [11]:
%%sql
CREATE TABLE Instrumentos
    (id_instrumento int, nombre char(30), 
    primary key (id_instrumento))

Done.

[]

In [14]:
%%sql
DROP TABLE Tocar

Done.

[]

In [15]:
%%sql 
CREATE TABLE Tocar
    (id_instrumento int, nif_Musicos VARCHAR(10) NOT NULL, 
    primary key(id_instrumento, nif_Musicos), 
    foreign key(id_instrumento) references Instrumentos(id_instrumento), 
     foreign key(nif_Musicos) references Musicos(nif_Musicos))

Done.

[]

In [18]:
%%sql
DROP TABLE Tienen

Done.

[]

In [19]:
%%sql
CREATE TABLE Tienen
    (id_instrumento int NOT NULL, nif_Musicos VARCHAR(10), 
    primary key(id_instrumento, nif_Musicos), 
    foreign key(id_instrumento) references Instrumentos(id_instrumento), 
     foreign key(nif_Musicos) references Musicos(nif_Musicos))

Done.

[]

In [22]:
%%sql
DROP TABLE Direcciones

Done.

[]

In [23]:
%%sql
CREATE TABLE Direcciones
    (telf int(9),
    primary key(telf))

Done.

[]

In [26]:
%%sql
DROP TABLE Viven_En

Done.

[]

In [27]:
%%sql
CREATE TABLE Viven_En
    (nif_Musicos VARCHAR(10) NOT NULL, telf int(9), 
    primary key(nif_Musicos, telf), 
    foreign key(nif_Musicos) references Musicos(nif_Musicos), 
    foreign key (telf) references Direcciones(telf))

Done.

[]

In [38]:
%%sql
DROP TABLE Canciones

Done.

[]

In [39]:
%%sql
CREATE TABLE Canciones
    (titulo_Cancion VARCHAR(30) NOT NULL, autor char(30), num_Album int,  
    primary key(titulo_Cancion), 
    foreign key(num_Album) references Album(num_Album))

Done.

[]

In [40]:
%%sql
DROP TABLE Interpretar

Done.

[]

In [41]:
%%sql
CREATE TABLE Interpretar
    (nif_Musicos VARCHAR(10)NOT NULL, titulo_Cancion VARCHAR(30), 
    primary key(nif_Musicos, titulo_Cancion), 
    foreign key(nif_Musicos) references Musicos(nif_Musicos), 
    foreign key(titulo_Cancion) references Canciones(titulo_Cancion))

Done.

[]

In [45]:
%%sql
DROP TABLE Album

Done.

[]

In [44]:
%%sql
CREATE TABLE Album
    (num_Album int, titulo char(30), formato VARCHAR(10), fecha DATE, nif_Musicos VARCHAR(10),
    primary key(num_Album, nif_Musicos), 
    foreign key(nif_Musicos) references Musicos(nif_Musicos))

Done.

[]