In [1]:
%reload_ext sql
%sql sqlite:///ejercicio3.db

'Connected: None@ejercicio3.db'

In [2]:
%%sql
DROP table IF EXISTS Departamento;
CREATE table Departamento (Id_Dep INT,
                          Nombre CHAR(30),
                          Presupuesto FLOAT,
                          Nif_Empleado CHAR(10) NOT NULL,
                          Primary Key (Id_Dep),
                           Foreign Key (Nif_Empleado) REFERENCES Empleado(Nif))

Done.
Done.

[]

In [3]:
%%sql
DROP table IF EXISTS Empleado;
CREATE table Empleado (Nif CHAR(10),
                      Salario FLOAT,
                      Tel√©fono CHAR(6),
                      Primary Key (Nif))

Done.
Done.

[]

In [4]:
%%sql
DROP table IF EXISTS Trabaja;
CREATE table Trabaja (Nif_Empleado CHAR(10),
                     Id_Dep INT NOT NULL,
                     Primary Key(Nif_Empleado,Id_Dep)
                     Foreign Key (Nif_Empleado) REFERENCES Empleado(Nif),
                     Foreign Key (Id_Dep) REFERENCES Departamento(Id_Dep))

Done.
Done.

[]

In [6]:
%%sql
DROP table IF EXISTS Hijos;
CREATE table HIJOS (Nombre CHAR(30),
                   Edad INT,
                   Nif_Empleado CHAR(10) NOT NULL,
                   Primary Key (Nombre, Nif_Empleado),
                   Foreign Key (Nif_Empleado) REFERENCES Empleado(Nif) 
                                               ON DELETE CASCADE);

Done.
Done.

[]

In [7]:
%sql PRAGMA table_info(Hijos)

Done.

[(0, 'Nombre', 'CHAR(30)', 0, None, 1),
 (1, 'Edad', 'INT', 0, None, 0),
 (2, 'Nif_Empleado', 'CHAR(10)', 1, None, 2)]

In [13]:
%sql SELECT sql FROM sqlite_master WHERE name = 'Departamento'

Done.

[('CREATE TABLE Departamento (Id_Dep INT,\n                          Nombre CHAR(30),\n                          Presupuesto FLOAT,\n                    ... (19 characters truncated) ...  CHAR(10) NOT NULL,\n                          Primary Key (Id_Dep),\n                           Foreign Key (Nif_Empleado) REFERENCES Empleado(Nif))',)]

In [14]:
%sql SELECT * FROM Hijos

Done.

[]