Ejercicio 1 
== 

Tiene varios apartados.

from IPython.display import Image
./ej1.JPG

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///ej1.db

'Connected: None@ej1.db'

1. Los profesores pueden enseñar la misma asignatura en varios cuatrimestres, y se deben guardar todas ellas.

In [3]:
%%sql 
DROP TABLE IF EXISTS profesor ;
CREATE TABLE profesor(
    dni VARCHAR(10),
    PRIMARY KEY (dni));

Done.
Done.

[]

In [4]:
%%sql 
DROP TABLE IF EXISTS asignaturas;
CREATE TABLE asignaturas(
    num INT,
    PRIMARY KEY(num)
);

Done.
Done.

[]

In [5]:
%%sql 
DROP TABLE IF EXISTS cuatrimestre;
CREATE TABLE cuatrimestre(
    num_cuatri INT,
    PRIMARY KEY(num_cuatri)
);

Done.
Done.

[]

In [6]:
%%sql 
DROP TABLE IF EXISTS enseña;
CREATE TABLE enseña(
    num_cuatri INT,
    num INT,
    dni VARCHAR(10),


    PRIMARY KEY(num_cuatri,num,dni)
    FOREIGN KEY (num_cuatri) REFERENCES cuatrimestre(num_cuatri),
    FOREIGN KEY (num) REFERENCES asignaturas(num),
    FOREIGN KEY (dni) REFERENCES profesor(dni));

Done.
Done.

[]

b- Los profesores pueden enseñar la misma asignatura en varios cuatrimestres, y sólo se debe guardar la más reciente.

In [ ]:
%%sql 
DROP TABLE IF EXISTS profesor ;
CREATE TABLE profesor(
    dni VARCHAR(10),
    PRIMARY KEY (dni));

In [ ]:
%%sql 
DROP TABLE IF EXISTS asignaturas;
CREATE TABLE asignaturas(
    num INT,
    PRIMARY KEY(num)
);

In [8]:
%%sql 
DROP TABLE IF EXISTS enseña;
CREATE TABLE enseña(
    num_cuatri INT,
    num INT,
    dni VARCHAR(10),


    PRIMARY KEY(num,dni),
    FOREIGN KEY (num) REFERENCES asignaturas(num),
    FOREIGN KEY (dni) REFERENCES profesor(dni));

Done.
Done.

[]

c- Los profesores pueden enseñar la misma asignatura en varios cuatrimestres, y sólo se debe guardar la más reciente. Cada profesor tiene la obligación de enseñar alguna asignatra.

In [ ]:
%%sql 
DROP TABLE IF EXISTS profesor ;
CREATE TABLE profesor(
    dni VARCHAR(10),
    PRIMARY KEY (dni));

In [ ]:
%%sql 
DROP TABLE IF EXISTS asignaturas;
CREATE TABLE asignaturas(
    num INT,
    PRIMARY KEY(num)
);

In [ ]:
%%sql 
DROP TABLE IF EXISTS enseña;
CREATE TABLE enseña(
    num_cuatri INT,
    num INT NOT NULL,
    dni VARCHAR(10) NOT NULL,


    PRIMARY KEY(num,dni),
    FOREIGN KEY (num) REFERENCES asignaturas(num),
    FOREIGN KEY (dni) REFERENCES profesor(dni));

d- Los profesores pueden enseñar la misma asignatura en varios cuatrimestres, y sólo se debe guardar la más reciente. Cada profesor enseña exactamente una asignatura en el cuatrimestre.

In [ ]:
%%sql 
DROP TABLE IF EXISTS profesor ;
CREATE TABLE profesor(
    dni VARCHAR(10),
    PRIMARY KEY (dni));

In [10]:
%%sql 
DROP TABLE IF EXISTS asignaturas;
CREATE TABLE asignaturas(
    num INT,
    dni VARCHAR(10) NOT NULL,
    cuatrimentre VARCHAR(30),
    PRIMARY KEY(num),
    FOREIGN KEY (dni) REFERENCES profesor(dni));

Done.
Done.

[]

e- Los profesores pueden enseñar la misma asignatura en varios cuatrimestres, y sólo se debe guardar la más reciente. Cada profesor enseña exactamente una asignatura en el cuatrimestre, y toda asignatura debe ser enseñada por al menos un profesor.

In [7]:
%%sql 
DROP TABLE IF EXISTS profesor ;
CREATE TABLE profesor(
    dni VARCHAR(10),
    PRIMARY KEY (dni));

Done.
Done.

[]

In [8]:
%%sql 
DROP TABLE IF EXISTS asignaturas;
CREATE TABLE asignaturas(
    num INT NOT NULL,
    dni VARCHAR(10) NOT NULL,
    cuatrimentre VARCHAR(30),
    PRIMARY KEY(num),
    FOREIGN KEY (dni) REFERENCES profesor(dni));

Done.
Done.

[]

f- Los profesores pueden enseñar la misma asignatura en varios cuatrimestres, y sólo se debe guardar la más reciente. Algunas asignaturas tienen que ser enseñadas por un grupo de profesores conjuntamente, pero es posible que en un grupo no haya ningún profesor que pueda enseñar una asignatura.

In [9]:
%%sql 
DROP TABLE IF EXISTS profesor ;
CREATE TABLE profesor(
    dni VARCHAR(10),
    grupo VARCHAR(30),
    PRIMARY KEY (dni));

Done.
Done.

[]

In [10]:
%%sql 
DROP TABLE IF EXISTS asignaturas;
CREATE TABLE asignaturas(
    num INT NOT NULL,
    dni VARCHAR(10),
    cuatrimentre VARCHAR(30),
    PRIMARY KEY(num),
    FOREIGN KEY (dni) REFERENCES profesor(dni));

Done.
Done.

[]