# Ejercicio 3

In [3]:
%load_ext sql
%sql sqlite:///ej3.db
%sql PRAGMA foreign_keys = ON;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@ej3.db'

In [5]:
%%sql
DROP TABLE IF EXISTS HijoDe;
DROP TABLE IF EXISTS Empleado;
DROP TABLE IF EXISTS Departamento;
DROP TABLE IF EXISTS Trabaja;

Done.
Done.
Done.
Done.

[]

In [7]:
%%sql
CREATE TABLE Empleado(nif VARCHAR(30), tlf INT,
                      salario INT,
                      PRIMARY KEY(nif));

Done.

[]

In [9]:
%%sql
CREATE TABLE HijoDe(nombre VARCHAR(30), nifEmp VARCHAR(30) NOT NULL,
                    edad INT,
                    PRIMARY KEY(nombre, nifEmp),
                    FOREIGN KEY(nifEmp) REFERENCES Empleado(nif) ON DELETE CASCADE);

Done.

[]

In [11]:
%%sql
CREATE TABLE Departamento(nombre VARCHAR(30), id INT,
                          presupuesto INT, nifDir VARCHAR(30) NOT NULL,
                          PRIMARY KEY(id),
                          FOREIGN KEY(nifDir) REFERENCES Empleado(nif));

CREATE TABLE Trabaja(nifEmp VARCHAR(30), depID INT,
                     PRIMARY KEY(nifEmp, depID),
                    FOREIGN KEY(nifEmp) REFERENCES Empleado(nif),
                    FOREIGN KEY(depID) REFERENCES Departamento(id));

Done.
Done.

[]