In [1]:
%load_ext sql
%sql sqlite:///ejercicio3.db

'Connected: None@ejercicio3.db'

In [2]:
%%sql create table musico(nif varchar(10),
                         nombre char(30),
                         primary key(nif));

Done.

[]

In [7]:
%sql SELECT * FROM musico

Done.

[]

In [13]:
%%sql create table domicilio(direccion char(50),
                            telefono int(9),
                            primary key(direccion, telefono));

Done.

[]

In [14]:
%sql SELECT * FROM domicilio

Done.

[]

In [5]:
%%sql create table instrumento(num int,
                              nombre char(30),
                              primary key(num));

Done.

[]

In [15]:
%sql SELECT * FROM instrumento

Done.

[]

In [16]:
%%sql create table vive_en(nif varchar(10) not null,
                          direccion char(50),
                          telefono int(9),
                          primary key (nif, direccion, telefono),
                          foreign key (nif) references musico(nif),
                          foreign key (direccion, telefono) references domicilio(direccion, telefono));

Done.

[]

In [17]:
%sql SELECT * FROM vive_en

Done.

[]

In [21]:
%%sql create table album (num int,
                         fecha date,
                         titulo char(20),
                         formato char(10),
                         nif varchar(10) not null,
                          primary key (num),
                         foreign key (nif) references musico(nif));

Done.

[]

In [19]:
%%sql create table cancion (titulo char(20),
                           autor char(20),
                           num_album int,
                           primary key (titulo),
                           foreign key (num_album) references album(num));

Done.

[]

In [22]:
%%sql create table interpreta(nif varchar(10) not null,
                             titulo char(20),
                             primary key(nif, titulo),
                             foreign key(nif) references musico(nif),
                             foreign key(titulo) references cancion(titulo));

Done.

[]

In [25]:
%%sql create table toca(nif varchar(10),
                        num_ins int,
                        primary key(nif, num_ins),
                        foreign key(nif) references musico(nif),
                        foreign key(num_ins) references instrumento(num));

Done.

[]

Done.

[]