In [8]:
#Ejercicio-1-3

In [9]:
%reload_ext sql

In [10]:
%sql sqlite:///Ejercicio1-3-.db

'Connected: None@Ejercicio1-3-.db'

In [11]:
%%sql 
CREATE TABLE Profesores
    (nif VARCHAR(10), primary key(nif))

Done.

[]

In [12]:
%%sql
INSERT INTO Profesores(nif)
    VALUES('1234567895')

1 rows affected.

[]

In [13]:
%%sql 
CREATE TABLE Asignatura
    (num_asignatura INT NULL, primary key(num_asignatura))

Done.

[]

In [14]:
%%sql
INSERT INTO Asignatura(num_asignatura)
    VALUES('1')

1 rows affected.

[]

In [15]:
%sql SELECT * FROM Profesores

Done.

[('1234567895',)]

In [16]:
%sql SELECT * FROM Asignatura

Done.

[(1,)]

In [17]:
%%sql
CREATE TABLE Ense√±ar
    (nif VARCHAR(10), num_asignatura int NOT NULL, num_cuatrimestre int,
    primary key(nif, num_asignatura), 
    foreign key (nif) references Profesores (nif), 
    foreign key (num_asignatura) references Asignatura(num_asignatura))

Done.

[]