In [ ]:
#Ejercicio-1-6

In [ ]:
%reload_ext sql

In [ ]:
%sql sqlite:///Ejercicio1-6-.db

In [ ]:
%%sql 
CREATE TABLE Profesores
    (nif VARCHAR(10), 
     primary key(nif))

In [ ]:
%%sql 
CREATE TABLE Asigantura
    (num_asigantura INT, primary key(num_asigantura))

In [ ]:
%%sql
INSERT INTO Asigantura(num_asigantura)
    VALUES('3')

In [ ]:
%sql SELECT * FROM Asigantura

In [ ]:
%%sql 
CREATE TABLE Grupos
    (num_grupos INT, primary key(num_grupos))

In [ ]:
%%sql
INSERT INTO Asigantura(num_asigantura)
    VALUES('1')

In [ ]:
%%sql 
CREATE TABLE Pertenecer
    (nif VARCHAR(10) NOT NULL, num_grupos int), 
    primary key (nif, num_grupos), 
    foreign key (nif) references Profesores(nif), 
    foreign key (num_grupos) references Grupos (num_grupos))

In [ ]:
%%sql 
CREATE TABLE Enseñar_a
    (nif VARCHAR(10), num_asignatura int, num_cuatrimestre int), 
    primary key (nif, nif, num_asignatura, num_cuatrimestre), 
    foreign key (nif) references Profesores(nif), 
    foreign key (num_asignatura) references Asignatura (num_asignatura))

In [ ]:
%%sql 
CREATE TABLE Enseñar
    (num_grupo int, num_asignatura int, num_cuatrimestre int), 
    primary key (num_grupo, num_asignatura), 
    foreign key (num_grupos) references Grupos(num_grupos), 
    foreign key (num_asignatura) references Asignatura (num_asignatura))