In [12]:
#Ejercicio-1-4

In [13]:
%reload_ext sql

In [14]:
%sql sqlite:///Ejercicio1-4.db

'Connected: None@Ejercicio1-4.db'

In [15]:
%%sql 
CREATE TABLE Profesores
    (nif VARCHAR(10),num_cuatrimestre int NOT NULL, num_asignatura int NOT NULL,
     primary key(nif)
     foreign key (num_asignatura) references Asignatura(num_asignatura))

Done.

[]

In [16]:
%%sql
INSERT INTO Profesores(nif, num_cuatrimestre, num_asignatura)
    VALUES('1234567899', '1', '3')

1 rows affected.

[]

In [17]:
%%sql 
CREATE TABLE Asignatura
    (num_asignatura INT NULL, primary key(num_asignatura))

Done.

[]

In [18]:
%%sql
INSERT INTO Asignatura(num_asignatura)
    VALUES('1')

1 rows affected.

[]

In [19]:
%sql SELECT * FROM Profesores

Done.

[('1234567899', 1, 3)]

In [20]:
%sql SELECT * FROM Asignatura

Done.

[(1,)]