## Ej 1 cuadernillo 1 Diagrama de un Aeropuerto

<img src="aeropuerto.png">

In [2]:
#cargamos la extension para sql
%load_ext sql

/home/tomas/anaconda2/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/home/tomas/anaconda2/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [4]:
#creamos un fichero de base de datos
%sql sqlite:///aero.db

u'Connected: None@aero.db'

In [5]:
%%sql
PRAGMA foreign_keys = ON;

Done.

[]

In [4]:
%%sql 

CREATE TABLE modelos(num INT,
                     capacidad INT,
                     peso FLOAT,
                     PRIMARY KEY(num,capacidad,peso)
                    );

Done.

[]

In [10]:
%%sql 


CREATE TABLE aviones(num_reg INT,
                     num_modelo INT NOT NULL,
                     PRIMARY KEY (num_reg),
                     FOREIGN KEY(num_modelo) REFERENCES modelos(num) 
);

Done.

[]

In [8]:
%%sql
CREATE TABLE trabajador(nif VARCHAR(10),
                       nombre VARCHAR(30),
                       direccion VARCHAR(30),
                       telefono VARCHAR(10),
                       PRIMARY KEY(nif)
                       );

Done.

[]

In [10]:
%%sql
CREATE TABLE tecnico(nif VARCHAR(10) NOT NULL,
                     salario FLOAT,
                     PRIMARY KEY (nif),
                     FOREIGN KEY (nif) REFERENCES trabajador(nif) ON DELETE CASCADE
                     );

Done.

[]

In [12]:
%%sql
CREATE TABLE es_experto(num_modelo INT,
                       nif_tecnico VARCHAR(10),
                       PRIMARY KEY(num_modelo,nif_tecnico),
                        FOREIGN KEY (nif_tecnico) REFERENCES tecnico(nif),
                        FOREIGN KEY (num_modelo) REFERENCES modelos(num)
                       );

Done.

[]

In [13]:
%%sql
CREATE TABLE controlador(nif VARCHAR(10) NOT NULL,
                     fech_ult_exam_med DATE,
                     PRIMARY KEY (nif),
                     FOREIGN KEY (nif) REFERENCES trabajador(nif) ON DELETE CASCADE
                     );

Done.

[]

In [15]:
%%sql
CREATE TABLE pruebas(num INT,
                    nombre VARCHAR(30),
                    punt_Max FLOAT,
                    PRIMARY KEY(num)
                    );

Done.
Done.

[]

In [16]:
%%sql
CREATE TABLE pasar_pruebas(num_avion INT,
                           nif_tecnico VARCHAR(10),
                           num_prueba INT,
                           fecha DATE,
                           num_horas INT,
                           puntuacion FLOAT,
                           PRIMARY KEY(nif_tecnico,num_prueba,num_avion),
                           FOREIGN KEY(num_avion) REFERENCES aviones(num_reg),
                           FOREIGN KEY(nif_tecnico) REFERENCES tecnicos(nif),
                           FOREIGN KEY(num_prueba) REFERENCES pruebas(num)
                    );

Done.

[]