In [1]:
#Ejercicio2

In [1]:
%load_ext sql

//anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
//anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
%sql sqlite:///Ejercicio2.db

u'Connected: None@Ejercicio2.db'

In [3]:
%%sql
DROP TABLE Profesores

Done.

[]

In [4]:
%%sql
CREATE TABLE Profesores
    (nif VARCHAR(10), nombre CHAR(30), edad int, especialidad CHAR,
    primary key(nif))

Done.

[]

In [5]:
%%sql
DROP TABLE Proyectos

Done.

[]

In [6]:
%%sql
CREATE TABLE Proyectos
    (num int, entidad char(30), comienzo DATE, finalizacion DATE, presupuesto float,
    nif_profe VARCHAR(10) NOT NULL,
    primary key(num),
    FOREIGN KEY(nif_profe) REFERENCES Profesores (nif))

Done.

[]

In [7]:
%%sql
DROP TABLE Estudiantes

Done.

[]

In [8]:
%%sql
CREATE TABLE Estudiantes
    (nombre CHAR(30), edad int, nif VARCHAR(10), titulacion CHAR(30), num_departamento int NOT NULL,
    nif_tutor VARCHAR(10) NOT NULL ,
    primary key(nif),
    FOREIGN KEY(nif_tutor) REFERENCES Estudiantes(nif)
    FOREIGN KEY(num_departamento) REFERENCES Departamentos(num_departamento))

Done.

[]

In [9]:
%%sql
DROP TABLE Departamentos

Done.

[]

In [10]:
%%sql
CREATE TABLE Departamentos
    (num_departamento int, nombre CHAR(30), edificio int, 
    nif_profe VARCHAR(10) NOT NULL, 
    primary key(num_departamento)
    FOREIGN KEY(nif_profe) REFERENCES Profesores(nif))

Done.

[]

In [11]:
%%sql
DROP TABLE Ayuda_en

Done.

[]

In [12]:
%%sql
CREATE TABLE Ayuda_en
    (num_proyecto int, nif_estudiante VARCHAR(10) NOT NULL, nif_profe VARCHAR(10) NOT NULL,  
    primary key(num_proyecto, nif_estudiante, nif_profe),
    FOREIGN KEY(nif_estudiante) REFERENCES Estudiantes(nif),
    FOREIGN KEY(num_proyecto) REFERENCES Proyectos(num),
    FOREIGN KEY(nif_profe) REFERENCES Profesores(nif))

Done.

[]

In [13]:
%%sql
DROP TABLE Trabaja1

Done.

[]

In [14]:
%%sql
CREATE TABLE Trabaja1
    (nif_profe VARCHAR(10) NOT NULL, num_proyecto int,
    primary key(nif_profe, num_proyecto),
    FOREIGN KEY(nif_profe) REFERENCES Profesores(nif),
    FOREIGN KEY(num_proyecto) REFERENCES Proyectos(num))

Done.

[]

In [15]:
%%sql
DROP TABLE Trabaja2

Done.

[]

In [16]:
%%sql
CREATE TABLE Trabaja2
    (nif_profe VARCHAR(10), num_departamento int,
    primary key(nif_profe, num_departamento),
    FOREIGN KEY(nif_profe) REFERENCES Profesores(nif),
    FOREIGN KEY(num_departamento) REFERENCES Departamentos(num_departamento))

Done.

[]