# INGENIERÍA DE SISTEMAS DE INFORMACIÓN

## EJERCICIOS DISEÑO CONCEPTUAL MEDIANTE DIAGRAMAS ENTIDAD RELACIÓN Y MODELO RELACIONAL.

# Sergio Cobos Manjavacas


# Ejercicio 1: Diseño de diagramas ER para profesores de una Universidad

### Ejercicio 1.1

<img src="EJ1_Parte2.jpg">

In [57]:
%reload_ext sql

In [70]:
%%sql
sqlite:///ISI-DIAGRAMAS-ER-EJERCICIO-e1__1.db
    
DROP TABLE IF EXISTS Profesores;
DROP TABLE IF EXISTS Asignaturas;
DROP TABLE IF EXISTS Cuatrimestre;
DROP TABLE IF EXISTS Enseña;

PRAGMA foreign_keys = ON;

CREATE TABLE Profesores( nif VARCHAR(10),
                       PRIMARY KEY (nif));
CREATE TABLE Asignaturas( num INT,
                        PRIMARY KEY(num));
CREATE TABLE Cuatrimestre( numero INT,
                         PRIMARY KEY(numero));
CREATE TABLE Enseña(nif VARCHAR(10),
                   num INT,
                   numero INT,
                   PRIMARY KEY(nif, num, numero),
                   FOREIGN KEY (nif) REFERENCES Profesores(nif),
                   FOREIGN KEY (num) REFERENCES Asignaturas(num),
                   FOREIGN KEY (numero) REFERENCES Cuatrimestre(numero));

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

### Ejercicio 1.2

In [69]:
%%sql
sqlite:///ISI-DIAGRAMAS-ER-EJERCICIO-e1__2.db
DROP TABLE IF EXISTS Profesores;
DROP TABLE IF EXISTS Asignaturas;
DROP TABLE IF EXISTS Enseña;

PRAGMA foreign_keys = ON;

CREATE TABLE Profesores( nif VARCHAR(10),
                       PRIMARY KEY (nif));
CREATE TABLE Asignaturas( num INT,
                        PRIMARY KEY(num));

CREATE TABLE Enseña(nif VARCHAR(10),
                    num INT,
                    fecha DATE,
                    PRIMARY KEY(nif, num),
                    FOREIGN KEY (nif) REFERENCES Profesores(nif),
                    FOREIGN KEY (num) REFERENCES Asignaturas(num));

Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

### Ejercicio 1.3

In [60]:
# Es exactamente igual que el 1.2

### Ejercicio 1.4

In [68]:
%%sql
sqlite:///ISI-DIAGRAMAS-ER-EJERCICIO-e1__4.db
DROP TABLE IF EXISTS Profesores_Enseñan;
DROP TABLE IF EXISTS Asignaturas;

PRAGMA foreign_keys = ON;

CREATE TABLE Asignaturas( num INT,
                        PRIMARY KEY(num));
CREATE TABLE Profesores_Enseñan(nif VARCHAR(10),
                                num INT,
                                fecha DATE,
                                PRIMARY KEY (nif),
                               FOREIGN KEY(num) REFERENCES Asignaturas(num));

Done.
Done.
Done.
Done.
Done.

[]

### Ejercicio 1.5

In [62]:
## Es igual que el 1.4

### Ejercicio 1.6

In [72]:
%%sql
sqlite:///ISI-DIAGRAMAS-ER-EJERCICIO-e1__6.db
    
DROP TABLE IF EXISTS Profesores;
DROP TABLE IF EXISTS Asignaturas;
DROP TABLE IF EXISTS Grupo;
DROP TABLE IF EXISTS Pertenecen;
DROP TABLE IF EXISTS Enseña;
DROP TABLE IF EXISTS Pueden;

PRAGMA foreign_keys = ON;
CREATE TABLE Profesores( nif VARCHAR(10),
                       PRIMARY KEY (nif));
CREATE TABLE Asignaturas( num INT,
                        PRIMARY KEY(num));
CREATE TABLE Grupo(numero_grupo INT,
                  PRIMARY KEY(numero_grupo));
CREATE TABLE Enseña(num INT,
                    num_group INT,
                    fecha DATE,
                    PRIMARY KEY(num, num_group),
                    FOREIGN KEY (num) REFERENCES Asignaturas(num),
                    FOREIGN KEY (num_group) REFERENCES Grupo(numero_grupo));
CREATE TABLE Pertenecen(nif INT,
                        numero INT,
                        PRIMARY KEY(nif, numero),
                        FOREIGN KEY (nif) REFERENCES Profesores(nif),
                        FOREIGN KEY (numero) REFERENCES Grupo(numero_grupo));
CREATE TABLE Pueden(nif INT,
                    numero INT,
                    PRIMARY KEY(nif, numero),
                    FOREIGN KEY (nif) REFERENCES Profesores(nif),
                    FOREIGN KEY (numero) REFERENCES Asignaturas(num));

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]