# Ejercicio 3 Compa√±ia

<img src="compannia.png">

In [1]:
#cargamos la extension para sql
%load_ext sql

/home/tomas/anaconda2/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/home/tomas/anaconda2/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
#creamos un fichero de base de datos
%sql sqlite:///Compania.db

u'Connected: None@Compania.db'

In [3]:
%%sql
PRAGMA foreign_keys = ON;

Done.

[]

In [4]:
%%sql

CREATE TABLE empleado(nif VARCHAR(10),
                     salario FLOAT,
                     telefono VARCHAR(10),
                     PRIMARY KEY(nif)
                     );

Done.

[]

In [5]:
%%sql

CREATE TABLE hijo(nombre VARCHAR(30),
                 edad INT,
                 padre VARCHAR(30) NOT NULL,
                 PRIMARY KEY(nombre),
                 FOREIGN KEY(padre) REFERENCES empleado(nif) ON DELETE CASCADE
                 );

Done.

[]

In [6]:
%%sql

CREATE TABLE departamento(num_id INT,
                         nombre VARCHAR(30),
                         presupuesto FLOAT,
                         director VARCHAR(10) NOT NULL,
                         PRIMARY KEY(num_id),
                         FOREIGN KEY(director) REFERENCES empleado(nif)
                         );

Done.

[]

In [7]:
%%sql

CREATE TABLE trabaja(nif_trabajador VARCHAR(10),
                    id_dpto INT,
                    PRIMARY KEY(nif_trabajador,id_dpto),
                    FOREIGN KEY(nif_trabajador) REFERENCES empleado(nif),
                    FOREIGN KEY(id_dpto) REFERENCES departamento(num_id)
                    );

Done.

[]