In [2]:
%reload_ext sql
%sql sqlite:///ejercicio4.db

'Connected: None@ejercicio4.db'

In [3]:
%%sql
DROP table IF EXISTS Instrumento;
CREATE table Instrumento (Num_Id INT,
                         Nombre CHAR(30),
                         Primary Key(Num_Id))

Done.
Done.

[]

In [4]:
%%sql
DROP table IF EXISTS Músico;
CREATE table Músico (Nif CHAR(10),
                    Nombre CHAR(30),
                    Dirección CHAR(30),
                    Teléfono CHAR(6),
                    Primary Key(Nif))

Done.
Done.

[]

In [5]:
%%sql
DROP table IF EXISTS Toca;
CREATE table Toca(Nif_Músico CHAR(10),
                 Id_Instrumento INT,
                 Primary Key(Nif_Músico,Id_Instrumento),
                 Foreign Key (Nif_Músico) REFERENCES Músico(Nif),
                 Foreign Key(Id_Instrumento) REFERENCES Instrumento(Num_Id))

Done.
Done.

[]

In [6]:
%%sql
DROP table IF EXISTS Álbum;
CREATE table Álbum(Num_Id INT,
                  Título CHAR(30),
                  Fecha DATE,
                  Formato CHAR(30),
                  Nif_Músico CHAR(10) NOT NULL,
                  Primary Key (Num_Id),
                  Foreign Key (Nif_Músico) REFERENCES Músico(Nif))

Done.
Done.

[]

In [9]:
%%sql
DROP table IF EXISTS Canción;
CREATE table Canción (Título CHAR(30),
                     Autor CHAR(30),
                     Id_Álbum INT NOT NULL,
                     Primary Key (Título,Id_Álbum),
                     Foreign Key(Id_Álbum) REFERENCES Álbum(Num_Id)
                                            ON DELETE CASCADE)

Done.
Done.

[]

In [10]:
%%sql
DROP table IF EXISTS Interpreta;
CREATE table Interpreta(Nif_Músico CHAR(10),
                       Título_Canción CHAR(30) NOT NULL,
                        Id_Álbum INT NOT NULL,
                       Primary Key(Nif_Músico, Título_Canción, Id_Álbum),
                       FOREIGN Key (Nif_Músico) REFERENCES Músico(Nif),
                       Foreign Key(Título_Canción) REFERENCES Canción(Título),
                       Foreign Key(Id_Álbum) REFERENCES Álbum(Num_Id)
                                               ON DELETE CASCADE)

Done.
Done.

[]