# Ejercicio_2: DISEÃ‘O_DE_DIAGRAMAS_ER_DE_UNA_UNIVERSIDAD

![Diagrama ER: Ejercicio_2](IMG_20171011_084446.jpg "Diagrama ER: Ejercicio_2")

In [6]:
%reload_ext sql

In [7]:
%sql sqlite:///ISI-Ejercicio_2-sql.db

'Connected: None@ISI-Ejercicio_2-sql.db'

In [18]:
%sql PRAGMA foreign_keys = ON;

Done.

[]

In [19]:
%%sql
DROP TABLE IF EXISTS Profesor;
CREATE TABLE Profesor(
 dni_prof VARCHAR (20),
 nombre VARCHAR (30),
 edad INT,
 especialidad VARCHAR (30),
 cargo VARCHAR(30),
 PRIMARY KEY (dni_prof)
);

Done.
Done.

[]

In [20]:
%%sql
DROP TABLE IF EXISTS Departamento_Dirige;
CREATE TABLE Departamento_Dirige(
 dni_prof VARCHAR (20) NOT NULL,
 nombre VARCHAR (30),
 num_dep INT,
 edificio VARCHAR (30),
 PRIMARY KEY (num_dep),
 FOREIGN KEY (dni_prof) REFERENCES Profesor (dni_prof)
);

Done.
Done.

[]

In [21]:
%%sql
DROP TABLE IF EXISTS Pertenecer;
CREATE TABLE Pertenecer(
 dni_prof VARCHAR (20),
 num_dep INT,
 porcent_t FLOAT,
 PRIMARY KEY (num_dep, dni_prof)
);

Done.
Done.

[]

In [22]:
%%sql
DROP TABLE IF EXISTS Trabajar;
CREATE TABLE Trabajar(
 dni VARCHAR (20),
 num_proy INT,
 PRIMARY KEY (num_proy, dni)
);

Done.
Done.

[]

In [23]:
%%sql
DROP TABLE IF EXISTS Proyecto_Gestionar;
CREATE TABLE Proyecto_Gestionar(
 num_proy INT,
 nombre_ent_finan VARCHAR (30),
 fecha_inicio DATE,
 fecha_fin DATE,
 PRESUPUESTO FLOAT,
 dni VARCHAR (20),
 PRIMARY KEY (num_proy),
 FOREIGN KEY (dni) REFERENCES Profesor (dni_prof)
);

Done.
Done.

[]

In [24]:
%%sql
DROP TABLE IF EXISTS Ayuda;
CREATE TABLE Ayuda(
 dni_est VARCHAR (20),
 num_proy INT,
 dni VARCHAR (20),
 PRIMARY KEY (num_proy, dni_est, dni),
  FOREIGN KEY (dni) REFERENCES Profesor (dni_prof),
 FOREIGN KEY (dni_est) REFERENCES Estudiantes (dni_est),
 FOREIGN KEY (num_proy) REFERENCES Proyecto (num_proy)
);

Done.
Done.

[]

In [25]:
%%sql
DROP TABLE IF EXISTS Estudiantes;
CREATE TABLE Estudiantes(
 dni_est VARCHAR (20) NOT NULL,
 edad INT,
 nombre VARCHAR (30),
 titulacion VARCHAR (30),
 num_dep INT NOT NULL,
 dni_tutor VARCHAR (20),
 PRIMARY KEY (dni_est),
 FOREIGN KEY (num_dep) REFERENCES Departamento (num_dep),
 FOREIGN KEY (dni_tutor) REFERENCES Estudiantes (dni_est)
);

Done.
Done.

[]