# Ejercicios T2 ISI 1

In [1]:
%load_ext sql
%sql sqlite:///ej1_6.db
%sql PRAGMA foreign_keys = ON;

'Connected: None@ej1_6.db'

In [2]:
%%sql
DROP TABLE IF EXISTS Asignatura;
DROP TABLE IF EXISTS Profesor;
DROP TABLE IF EXISTS Ense単aSolo;
DROP TABLE IF EXISTS Pertenece;
DROP TABLE IF EXISTS Grupo;
DROP TABLE IF EXISTS Ense単an;

Done.
Done.
Done.
Done.
Done.
Done.

[]

In [3]:
%%sql
CREATE TABLE Asignatura(nombre VARCHAR(30));

Done.

[]

In [5]:
%%sql
CREATE TABLE Profesor(nif VARCHAR(30),
                      PRIMARY KEY(nif));
CREATE TABLE Grupro(nombre VARCHAR(30),
                    PRIMARY KEY(nombre));
CREATE TABLE Pertenece(prof VARCHAR(30), grup VARCHAR(30),
                      FOREIGN KEY (prof) REFERENCES Profesor(nif),
                      FOREIGN KEY (grup) REFERENCES Grupo(nombre));
CREATE TABLE Ense単aSolo(prof VARCHAR(30), asig VARCHAR(30),
                      FOREIGN KEY (prof) REFERENCES Profesor(nif),
                      FOREIGN KEY (asig) REFERENCES Asignatura(nombre));
CREATE TABLE Ense単an(asig VARCHAR(30), grup VARCHAR(30),
                      FOREIGN KEY (asig) REFERENCES Asignatura(nombre),
                      FOREIGN KEY (grup) REFERENCES Grupo(nombre));

(sqlite3.OperationalError) table Profesor already exists [SQL: 'CREATE TABLE Profesor(nif_prof VARCHAR(30));']