# Ejercicios T2 ISI 1.1

In [3]:
%load_ext sql
%sql sqlite:///ej1_2.db
%sql PRAGMA foreign_keys = ON;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@ej1.db'

In [5]:
%%sql
DROP TABLE IF EXISTS Profesor;
DROP TABLE IF EXISTS Asignatura;
DROP TABLE IF EXISTS Ense単a;

CREATE TABLE Profesor(nif VARCHAR(30),
                      PRIMARY KEY(nif));

Done.
Done.
Done.
Done.
Done.

[]

In [10]:
%%sql
CREATE TABLE Asignatura(nombre VARCHAR(30)
                        PRIMARY KEY(nombre));

Done.

[]

In [13]:
%%sql
CREATE TABLE Ense単a(nif_prof VARCHAR(30), nombre_as VARCHAR(30),
                   fecha VARCHAR(30),
                   PRIMARY KEY(nif_prof, nombre_as, fecha),
                   FOREIGN KEY (nif_prof) REFERENCES Profesor(dni),
                   FOREIGN KEY (nombre_as) REFERENCES Asignatura(nombre));

(sqlite3.OperationalError) table Ense単a already exists [SQL: 'CREATE TABLE Ense単a(nif_prof VARCHAR(30), nombre_as VARCHAR(30),\n                   fecha VARCHAR(30),\n                   PRIMARY KEY(nif_prof, nombre_as, fecha),\n                   FOREIGN KEY (nif_prof) REFERENCES Profesor(dni),\n                   FOREIGN KEY (nombre_as) REFERENCES Asignatura(nombre),\n                   FOREIGN KEY (fecha) REFERENCES Cuatri(fecha));']