# Ejercicios T2 ISI 1

In [3]:
%load_ext sql
%sql sqlite:///ej1_3.db
%sql PRAGMA foreign_keys = ON;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@ej1_3.db'

In [4]:
%%sql
DROP TABLE IF EXISTS Profesor;
DROP TABLE IF EXISTS Asignatura;
DROP TABLE IF EXISTS Enseña;

CREATE TABLE Profesor(nif VARCHAR(30),
                      PRIMARY KEY(nif));

Done.
Done.
Done.
Done.

[]

In [5]:
%%sql
CREATE TABLE Asignatura(nombre VARCHAR(30),
                        PRIMARY KEY(nombre));

Done.

[]

In [6]:
%%sql
CREATE TABLE Enseña(nif_prof VARCHAR(30), nombre_as VARCHAR(30),
                   fecha VARCHAR(30),
                   PRIMARY KEY(nif_prof, nombre_as, fecha),
                   FOREIGN KEY (nif_prof) REFERENCES Profesor(dni),
                   FOREIGN KEY (nombre_as) REFERENCES Asignatura(nombre));

Done.

[]

In [7]:
#LA LINEA GRUESA EN LA BASE DE DATOS NO SE PUEDE REPRESENTAR EN SQL