<img src="Ejercicio2.png">

In [36]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [37]:
%sql sqlite:///ejercicio2.db

'Connected: None@ejercicio2.db'

In [40]:
%sql DROP TABLE IF EXISTS profesores
%sql DROP TABLE IF EXISTS departamentos
%sql DROP TABLE IF EXISTS proyectos
%sql DROP TABLE IF EXISTS estudiantes
%sql DROP TABLE IF EXISTS trabajan_en_departamento
%sql DROP TABLE IF EXISTS trabajan_en_proyecto
%sql DROP TABLE IF EXISTS supervisan
%sql DROP TABLE IF EXISTS tutoriza

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [41]:
%%sql
DROP TABLE IF EXISTS profesores;
CREATE TABLE profesores(NIF CHAR(10),
                        nombre CHAR(30),
                        edad INT,
                        cargo CHAR(30),
                        especialidad CHAR(30),
                        PRIMARY KEY(NIF));

Done.
Done.

[]

In [42]:
%%sql
DROP TABLE IF EXISTS departamentos;
CREATE TABLE departamentos(Numero INT,
                           Nombre CHAR(30),
                           Edificio INT,
                           prof_dirige CHAR(10) NOT NULL,
                           FOREIGN KEY(prof_dirige) REFERENCES profesores(NIF),
                           PRIMARY KEY(Numero));

Done.
Done.

[]

In [43]:
%%sql DROP TABLE IF EXISTS proyectos;
CREATE TABLE proyectos(Numero INT,
                       Nom_Entidad_Fin CHAR(30),
                       Fecha_Inicio DATE,
                       Fecha_Fin DATE,
                       Presupuesto FLOAT,
                       prof_gestor CHAR(10) NOT NULL,
                       FOREIGN KEY(prof_gestor) REFERENCES profesores(NIF),
                       PRIMARY KEY(Numero));

Done.
Done.

[]

In [47]:
%%sql DROP TABLE IF EXISTS estudiantes;
CREATE TABLE estudiantes(NIF CHAR(10),
                              Edad INT,
                              Nombre CHAR(30),
                              Titulacion CHAR(30),
                              dep_asociado INT,
                              tutoriza CHAR(10),
                              FOREIGN KEY(tutoriza) REFERENCES estudiantes(NIF),
                              FOREIGN KEY (dep_Asociado) REFERENCES departamento(Numero),
                              PRIMARY KEY(NIF));

Done.
Done.

[]

In [52]:
%%sql
DROP TABLE IF EXISTS supervisan;
CREATE TABLE supervisan(estudiante CHAR(10),
                       profesor CHAR(10),
                       proyecto INT,
                       PRIMARY KEY (estudiante, profesor, proyecto),
                       FOREIGN KEY(estudiante) REFERENCES estudiantes(NIF),
                       FOREIGN KEY(profesor) REFERENCES profesores(NIF),
                       FOREIGN KEY(proyecto) REFERENCES proyecto(Numero));

Done.
Done.

[]

In [55]:
%%sql
DROP TABLE IF EXISTS trabajan_en_departamento;
CREATE TABLE trabajan_en_departamento (profesor CHAR(10),
                                       departamento INT,
                                       PRIMARY KEY(profesor, departamento),
                                       FOREIGN KEY(profesor) REFERENCES profesores(NIF),
                                       FOREIGN KEY(departamento) REFERENCES departamentos(Numero));

Done.
Done.

[]

In [56]:
%%sql
DROP TABLE IF EXISTS trabajan_en_proyecto;
CREATE TABLE trabajan_en_proyecto (profesor CHAR(10),
                                   proyecto INT,
                                   PRIMARY KEY(profesor, proyecto),
                                   FOREIGN KEY(profesor) REFERENCES profesores(NIF),
                                   FOREIGN KEY(proyecto) REFERENCES proyectos(Numero));

Done.
Done.

[]