# INGENIERÍA DE SISTEMAS DE INFORMACIÓN

## EJERCICIOS DISEÑO CONCEPTUAL MEDIANTE DIAGRAMAS ENTIDAD RELACIÓN Y MODELO RELACIONAL.

# SERGIO COBOS MANJAVACAS


# Ejercicio 2: Diseño del diagrama ER de una Universidad

<img src="EJ2_Parte 2.jpg">

In [2]:
%reload_ext sql

In [3]:
%%sql
sqlite:///ISI-DIAGRAMAS-ER-EJERCICIO-e2.db

'Connected: None@ISI-DIAGRAMAS-ER-EJERCICIO-e2.db'

In [4]:
%sql PRAGMA foreign_keys = ON;

Done.

[]

In [5]:
%%sql 
DROP TABLE IF EXISTS Profesores;

CREATE TABLE Profesores(nif VARCHAR(10),
                       nombre VARCHAR(30),
                       edad INT,
                       cargo VARCHAR(100),
                       especialidad VARCHAR(20),
                       PRIMARY KEY (nif));

Done.
Done.

[]

In [6]:
%%sql

DROP TABLE IF EXISTS Proyecto_Gestiona;

CREATE TABLE Proyecto_Gestiona(num INT,
                               nombre_entidad VARCHAR(30),
                               fecha_ini DATE,
                               fecha_fin DATE,
                               presupuesto FLOAT,
                               nif VARCHAR(10) NOT NULL,
                               PRIMARY KEY(num),
                               FOREIGN KEY(nif) REFERENCES Profesores(nif));

Done.
Done.

[]

In [7]:
%%sql

DROP TABLE IF EXISTS Departamentos_Dirigidos;

CREATE TABLE Departamentos_Dirigidos(num INT,
                                     nombre VARCHAR(25),
                                     edificio VARCHAR(30),
                                     nif VARCHAR(10) NOT NULL,
                                     PRIMARY KEY(num),
                                     FOREIGN KEY(nif) REFERENCES Profesores(nif));

Done.
Done.

[]

In [8]:
%%sql

DROP TABLE IF EXISTS Estudiantes;

CREATE TABLE Estudiantes(nif VARCHAR(10),
                        nombre VARCHAR(20),
                        edad INT,
                        titulación VARCHAR(50),
                        nif_tutor VARCHAR(10) NOT NULL,
                        num INT NOT NULL,
                        PRIMARY KEY(nif),
                        FOREIGN KEY(nif_tutor) REFERENCES Estudiantes(nif),
                        FOREIGN KEY(num) REFERENCES Departamentos_Dirigidos(num));

Done.
Done.

[]

In [9]:
%%sql

DROP TABLE IF EXISTS Trabaja;

CREATE TABLE Trabaja(nif VARCHAR(10),
                    num INT,
                    PRIMARY KEY(nif, num),
                    FOREIGN KEY (nif) REFERENCES Profesores(nif),
                    FOREIGN KEY (num) REFERENCES Proyecto_Gestiona(num));

Done.
Done.

[]

In [10]:
%%sql

DROP TABLE IF EXISTS Trabaja_En;

CREATE TABLE Trabaja_En(nif VARCHAR(10),
                       num INT,
                       porcentaje_tiempo FLOAT,
                       PRIMARY KEY(nif, num),
                       FOREIGN KEY(nif) REFERENCES Profesores(nif),
                       FOREIGN KEY(num) REFERENCES Departamentos_Dirigidos(num));

Done.
Done.

[]

In [11]:
%%sql

DROP TABLE IF EXISTS Ayuda_En;

CREATE TABLE Ayuda_En(nif_estudiante VARCHAR(10),
                        num_proyecto INT,
                        nif_profesor VARCHAR(10) NOT NULL,
                        PRIMARY KEY(nif_estudiante, num_proyecto, nif_profesor),
                        FOREIGN KEY (nif_estudiante) REFERENCES Estudiantes(nif),
                        FOREIGN KEY (num_proyecto) REFERENCES Proyecto_Gestiona(num),
                        FOREIGN KEY (nif_profesor) REFERENCES Profesores(nif)
                     )

Done.
Done.

[]

In [20]:
%%sql
INSERT INTO Profesores(nif, nombre, edad, cargo, especialidad)
    VALUES('45999999Z', 'Pedro', 50, 'doctor', 'programacion');

1 rows affected.

[]

In [21]:
%%sql
SELECT *
FROM Profesores

Done.

[('45999999Z', 'Pedro', 50, 'doctor', 'programacion')]

In [22]:
%%sql
INSERT INTO Departamentos_Dirigidos(num, nombre, edificio, nif)
    VALUES(1, 'GSYC', 'LABS3','45999999Z');

1 rows affected.

[]

In [23]:
%%sql
INSERT INTO Profesores(nif, nombre, edad, cargo, especialidad)
    VALUES('99999999Z', 'Jose', 48, 'doctor', 'programacion');

1 rows affected.

[]

In [24]:
%%sql
INSERT INTO Profesores(nif, nombre, edad, cargo, especialidad)
    VALUES('444444444Z', 'Antonio', 48, 'catedratico', 'signals');

1 rows affected.

[]

In [25]:
%%sql
INSERT INTO Profesores(nif, nombre, edad, cargo, especialidad)
    VALUES('333333333Z', 'Sergio', 27, 'asociado', 'signals');

1 rows affected.

[]

In [26]:
%%sql
INSERT INTO Departamentos_Dirigidos(num, nombre, edificio, nif)
    VALUES(2, 'TSC', 'LABS3','444444444Z');

1 rows affected.

[]

In [32]:
%%sql
INSERT INTO Proyecto_Gestiona(num, nombre_entidad, fecha_ini, fecha_fin, presupuesto, nif)
    VALUES(1, 'BBVA','10/10/2017' ,'10/10/2018' ,15000.84, '444444444Z');
INSERT INTO Proyecto_Gestiona(num, nombre_entidad, fecha_ini, fecha_fin, presupuesto, nif)
    VALUES(2, 'AIRBUS','10/05/2017' ,'20/09/2018' ,86700, '99999999Z');

1 rows affected.
1 rows affected.

[]

In [33]:
%%sql
SELECT *
From Proyecto_Gestiona

Done.

[(1, 'BBVA', '10/10/2017', '10/10/2018', 15000.84, '444444444Z'),
 (2, 'AIRBUS', '10/05/2017', '20/09/2018', 86700.0, '99999999Z')]

In [52]:
%%sql
INSERT INTO Trabaja(nif,num)
    VALUES('444444444Z',2 );
INSERT INTO Trabaja(nif,num)
    VALUES('333333333Z',1 );

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: Trabaja.nif, Trabaja.num [SQL: "INSERT INTO Trabaja(nif,num)\n    VALUES('444444444Z',2 );"]

In [50]:

%%sql
SELECT *
FROM Trabaja

Done.

[('444444444Z', 2)]

In [53]:
%%sql
SELECT *
FROM Proyecto_Gestiona

Done.

[(1, 'BBVA', '10/10/2017', '10/10/2018', 15000.84, '444444444Z'),
 (2, 'AIRBUS', '10/05/2017', '20/09/2018', 86700.0, '99999999Z')]

Cuales son los directores de cada proyecto

In [66]:
%%sql
SELECT 
Profesores.nombre AS 'Director',
Proyecto_Gestiona.num AS 'Proyecto'
FROM Proyecto_Gestiona
INNER JOIN Profesores
ON Proyecto_Gestiona.nif = Profesores.nif;

Done.

[('Antonio', 1), ('Jose', 2)]

In [67]:
%%sql
SELECT *
FROM Trabaja
where num = 2

Done.

[('444444444Z', 2)]

Profesores que no gestionan ningun proyecto

In [73]:
%%sql

SELECT *
FROM Profesores
LEFT JOIN Proyecto_Gestiona
ON Profesores.nif = Proyecto_Gestiona.nif
WHERE Proyecto_Gestiona.num IS NULL;

Done.

[('45999999Z', 'Pedro', 50, 'doctor', 'programacion', None, None, None, None, None, None),
 ('333333333Z', 'Sergio', 27, 'asociado', 'signals', None, None, None, None, None, None)]

Profesores con menos de 30 años

In [74]:
%%sql
SELECT *
FROM Profesores
WHERE Profesores.edad <30

Done.

[('333333333Z', 'Sergio', 27, 'asociado', 'signals')]

Profesores que trabajan en TSC

In [83]:
%%sql

SELECT 
Departamentos_Dirigidos.nombre AS 'Nombre',
Profesores.nombre AS 'Profesor'
FROM Departamentos_Dirigidos
INNER JOIN Profesores
ON Departamentos_Dirigidos.nif = Profesores.nif
WHERE Departamentos_Dirigidos.nombre = 'TSC';

Done.

[('TSC', 'Antonio')]