EJERCICIO 1
======

1.1

In [1]:
%load_ext sql

In [3]:
%sql sqlite:///ejercicio1.db

'Connected: None@ejercicio1.db'

In [14]:
%%sql
DROP TABLE IF EXISTS Profesores;
CREATE TABLE Profesores(
    nif VARCHAR(13),
    PRIMARY KEY (nif));

Done.
Done.

[]

In [13]:
%%sql
DROP TABLE IF EXISTS Asignaturas;
CREATE TABLE Asignaturas(
    id INT,
    cuatrimestre VARCHAR(20),
    PRIMARY KEY (id,cuatrimestre));

Done.
Done.

[]

In [16]:
%%sql
DROP TABLE IF EXISTS Enseñan;
CREATE TABLE Enseñan(
    nif_profe VARCHAR(13),
    cuatrimestre VARCHAR(20),
    id INT,
    PRIMARY KEY (nif_profe,cuatrimestre,id),
    FOREIGN KEY (nif_profe) REFERENCES Profesores(nif),
    FOREIGN KEY (cuatrimestre) REFERENCES Asignaturas(cuatrimestre),
    FOREIGN KEY (id) REFERENCES Asignaturas(id))

Done.
Done.

[]

1.2.

In [12]:
%%sql
DROP TABLE IF EXISTS Profesores;
CREATE TABLE Profesores(
    nif VARCHAR(13),
    PRIMARY KEY (nif));

Done.
Done.

[]

In [15]:
%%sql
DROP TABLE IF EXISTS Asignaturas;
CREATE TABLE Asignaturas(
    id INT,
    PRIMARY KEY (id));

Done.
Done.

[]

In [17]:
%%sql
DROP TABLE IF EXISTS Enseñan;
CREATE TABLE Enseñan(
    nif_profe VARCHAR(13),
    cuatrimestre VARCHAR(20),
    id_cuatri INT,
    PRIMARY KEY (nif_profe,id_cuatri),
    FOREIGN KEY (nif_profe) REFERENCES Profesores(nif),
    FOREIGN KEY (id_cuatri) REFERENCES Asignaturas(id))

Done.
Done.

[]

1.3

In [18]:
%%sql
DROP TABLE IF EXISTS Profesores;
CREATE TABLE Profesores(
    nif VARCHAR(13),
    PRIMARY KEY (nif));

Done.
Done.

[]

In [19]:
%%sql
DROP TABLE IF EXISTS Asignaturas;
CREATE TABLE Asignaturas(
    id INT,
    PRIMARY KEY (id));

Done.
Done.

[]

In [20]:
%%sql
DROP TABLE IF EXISTS Enseñan;
CREATE TABLE Enseñan(
    nif_profe VARCHAR(13) NOT NULL,
    cuatrimestre VARCHAR(20),
    id_cuatri INT,
    PRIMARY KEY (nif_profe,id_cuatri),
    FOREIGN KEY (nif_profe) REFERENCES Profesores(nif),
    FOREIGN KEY (id_cuatri) REFERENCES Asignaturas(id))

Done.
Done.

[]

1.4

In [21]:
%%sql
DROP TABLE IF EXISTS Profesores;
CREATE TABLE Profesores(
    nif VARCHAR(13),
    id_cuatri INT,
    PRIMARY KEY (nif),
    FOREIGN KEY (id_cuatri) REFERENCES Asignaturas(id_cuatri));

Done.
Done.

[]

In [22]:
%%sql
DROP TABLE IF EXISTS Asignaturas;
CREATE TABLE Asignaturas(
    id INT,
    PRIMARY KEY (id));

Done.
Done.

[]

1.5

In [ ]:
%%sql
DROP TABLE IF EXISTS Profesores;
CREATE TABLE Profesores(
    nif VARCHAR(13),
    id_cuatri INT NOT NULL,
    PRIMARY KEY (nif),
    FOREIGN KEY (id_cuatri) REFERENCES Asignaturas(id_cuatri));