<img src="Ejercicio5.png">

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///ejercicio5.db

'Connected: None@ejercicio5.db'

In [3]:
%%sql
DROP TABLE IF EXISTS pacientes;
DROP TABLE IF EXISTS medicos;
DROP TABLE IF EXISTS medicamentos;
DROP TABLE IF EXISTS compañias;
DROP TABLE IF EXISTS farmacias;
DROP TABLE IF EXISTS supervisores;
DROP TABLE IF EXISTS recetas;
DROP TABLE IF EXISTS ventas;
DROP TABLE IF EXISTS contrata;

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [4]:
%%sql
DROP TABLE IF EXISTS pacientes;
CREATE TABLE pacientes(nif CHAR(10),
                      nombre CHAR(30),
                      direccion CHAR(30),
                      edad INT,
                      nif_doctor CHAR(10) NOT NULL,
                      FOREIGN KEY(nif_doctor) REFERENCES medicos(nif),
                      PRIMARY KEY(nif));

Done.
Done.

[]

In [6]:
%%sql
DROP TABLE IF EXISTS medicos;
CREATE TABLE medicos(nif CHAR(10),
                    nombre CHAR(30),
                    direccion CHAR(30),
                    experiencia INT,
                    PRIMARY KEY(Nif));

Done.
Done.

[]

In [10]:
%%sql
DROP TABLE IF EXISTS medicamentos;
CREATE TABLE medicamentos(nombre_medicamento CHAR(30),
                         formula CHAR(30),
                         nombre_compañia CHAR(30) NOT NULL,
                         FOREIGN KEY(nombre_compañia) REFERENCES compañias(nombre) ON DELETE CASCADE,
                         PRIMARY KEY(nombre_medicamento, nombre_compañia));

Done.
Done.

[]

In [11]:
%%sql
DROP TABLE IF EXISTS compañias;
CREATE TABLE compañias(nombre CHAR(30),
                      telefono INT,
                      PRIMARY KEY(nombre));

Done.
Done.

[]

In [12]:
%%sql
DROP TABLE IF EXISTS farmacias;
CREATE TABLE farmacias(nombre CHAR(30),
                      direccion CHAR(30),
                      telefono INT,
                      PRIMARY KEY(direccion));

Done.
Done.

[]

In [13]:
%%sql
DROP TABLE IF EXISTS supervisores;
CREATE TABLE supervisores(nif CHAR(10),
                         nombre CHAR(30),
                         PRIMARY KEY(nif));

Done.
Done.

[]

In [14]:
%%sql
DROP TABLE IF EXISTS recetas;
CREATE TABLE recetas(fecha DATE,
                    cantidad INT,
                    nif_paciente CHAR(10),
                    nif_medico CHAR(10),
                    nombre_medicamento CHAR(30),
                    PRIMARY KEY(nif_paciente, nif_medico, nombre_medicamento),
                    FOREIGN KEY(nif_paciente) REFERENCES pacientes(nif),
                    FOREIGN KEY(nif_medico)REFERENCES medicos(nif),
                    FOREIGN KEY(nombre_medicamento) REFERENCES medicamentos(nombre));

Done.
Done.

[]

In [15]:
%%sql
DROP TABLE IF EXISTS ventas;
CREATE TABLE ventas(precio INT,
                    medicamento CHAR(30),
                    farmacia CHAR(30),
                    PRIMARY KEY (medicamento, farmacia),
                    FOREIGN KEY(medicamento) REFERENCES medicamentos(nombre),
                    FOREIGN KEY(farmacia) REFERENCES farmacias(direccion));

Done.
Done.

[]

In [16]:
%%sql
DROP TABLE IF EXISTS contrata;
CREATE TABLE contrata(fecha_inicio DATE,
                     fecha_fin DATE,
                     texto CHAR(300),
                     compañia CHAR(30),
                     supervisor CHAR(10),
                     farmacia CHAR(30),
                     PRIMARY KEY(compañia, supervisor, farmacia),
                     FOREIGN KEY(compañia) REFERENCES compañias(nombre),
                     FOREIGN KEY(supervisor) REFERENCES supervisores(nif),
                     FOREIGN KEY(farmacia) REFERENCES frmacias(direccion));

Done.
Done.

[]