In [10]:
%load_ext sql
%sql sqlite:///ejercicio1.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@ejercicio1.db'

In [17]:
%sql CREATE TABLE profesor(nif varchar(10),primary key (nif));
%sql CREATE TABLE asignatura (numeroAsignatura int(5),primary key (numeroAsignatura));

IndentationError: unexpected indent (<ipython-input-17-d461ca1f657a>, line 6)

<img src="Ejercicio2.1.jpeg">

In [ ]:
#Apartado 1
%sql CREATE TABLE periodoLectivo (cuatrimestre varchar(10), primary key (cuatrimestre));
%sql CREATE TABLE imparte (nif varchar(10),
                           numeroAsignatura int(5),
                           cuatrimestre varchar(10),
                           primary key (nif, numeroAsignatura, cuatrimestre),
                           foreign key (nif) references profesor(nif),
                           foreign key (numeroAsignatura) references asignatura(numeroAsignatura),
                           foreign key (cuatrimestre) references periodoLectivo(cuatrimestre));

In [ ]:
#Apartado 2
%sql DROP TABLE imparte;
%sql CREATE TABLE imparte (nif varchar(10),
                           numeroAsignatura int(5),
                           cuatrimestre varchar(10),
                           primary key (nif, numeroAsignatura),
                           foreign key (nif) references profesor(nif),
                           foreign key (numeroAsignatura) references asignatura(numeroAsignatura));

In [ ]:
#Apartado 3
%sql DROP TABLE imparte;
%sql CREATE TABLE imparte (nif varchar(10),
                           numeroAsignatura int(5) not null,
                           cuatrimestre varchar(10),
                           primary key (nif, numeroAsignatura),
                           foreign key (nif) references profesor(nif),
                           foreign key (numeroAsignatura) references asignatura(numeroAsignatura));

In [ ]:
#Apartado 4 (totalmente independiente)
%sql CREATE TABLE asignatura (numeroAsignatura int(5),primary key (numeroAsignatura));
%sql CREATE TABLE profesor(nif varchar(10),numeroAsignatura int(5), primary key (nif), foreign key (numeroAsignatura) references asignatura(numeroAsignatura));

In [ ]:
#Apartado 5 (totalmente independiente)
%sql CREATE TABLE asignatura (numeroAsignatura int(5),primary key (numeroAsignatura));
%sql CREATE TABLE profesor(nif varchar(10) not null,numeroAsignatura int(5), primary key (nif), foreign key (numeroAsignatura) references asignatura(numeroAsignatura));