# Ejercicio 4: Diseño del diagrama ER para una compañía de discos

In [1]:
%load_ext sql

/home/raul/anaconda2/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/home/raul/anaconda2/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
%sql sqlite:///Hoja2_Ejercicio4.db

u'Connected: None@Hoja2_Ejercicio4.db'

<img src="Hoja2_Ejercicio4.jpg">

In [3]:
%%sql
PRAGMA foreign_keys = ON;

DROP TABLE IF EXISTS musico;
DROP TABLE IF EXISTS domicilio;
DROP TABLE IF EXISTS vive_en;
DROP TABLE IF EXISTS instrumento;
DROP TABLE IF EXISTS toca;
DROP TABLE IF EXISTS album;
DROP TABLE IF EXISTS cancion;
DROP TABLE IF EXISTS interpreta;

CREATE TABLE musico(nif VARCHAR(9),
                    nombre CHAR(50),
                    PRIMARY KEY (nif));

CREATE TABLE domicilio(telefono INT(9),
                       direccion CHAR(50),
                       PRIMARY KEY(telefono, direccion));

CREATE TABLE vive_en(nif VARCHAR(9) NOT NULL,
                     direccion CHAR(50),
                     telefono INT(9),
                     PRIMARY KEY (nif, direccion, telefono),
                     FOREIGN KEY (nif) REFERENCES music(nif),
                     FOREIGN KEY (direccion) REFERENCES domicilio(direccion),
                     FOREIGN KEY (telefono) REFERENCES domicilio(telefono));

CREATE TABLE instrumento(num_identificacion INT,
                         nombre CHAR(20),
                         PRIMARY KEY(num_identificacion));

CREATE TABLE toca(nif_musico VARCHAR(9),
                  num_id_instrumento INT,
                  PRIMARY KEY(nif_musico, num_id_instrumento),
                  FOREIGN KEY (nif_musico) REFERENCES musico(nif),
                  FOREIGN KEY (num_id_instrumento) REFERENCES instrumento(num_identificacion));

CREATE TABLE cancion(titulo CHAR(30),
                     autor CHAR(30),
                     num_id_album INT,
                     PRIMARY KEY (titulo),
                     FOREIGN KEY (num_id_album) references album(num_identificacion));

CREATE TABLE album(num_identificacion INT,
                   fecha_edicion DATE,
                   titulo CHAR(30),
                   formato CHAR(10),
                   nif_productor VARCHAR(9) NOT NULL,
                   PRIMARY KEY (num_identificacion),
                   FOREIGN KEY (nif_productor) REFERENCES musico(nif));

CREATE TABLE interpreta(nif VARCHAR(9) NOT NULL,
                        titulo CHAR(20),
                        PRIMARY KEY(nif, titulo),
                        FOREIGN KEY (nif) REFERENCES musico(nif),
                        FOREIGN KEY (titulo) REFERENCES cancion(titulo));

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]