<img src="Ejercicio4.png">

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%sql sqlite:///ejercicio4.db

'Connected: None@ejercicio4.db'

In [6]:
%%sql   DROP TABLE IF EXISTS musicos;
        DROP TABLE IF EXISTS domicilios;
        DROP TABLE IF EXISTS instrumentos;
        DROP TABLE IF EXISTS albumes;
        DROP TABLE IF EXISTS canciones;
        DROP TABLE IF EXISTS interpreta;
        DROP TABLE IF EXISTS tiene;
        DROP TABLE IF EXISTS toca;

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [8]:
%%sql
DROP TABLE IF EXISTS musicos;
CREATE TABLE musicos(NIF CHAR(10),
                    nombre CHAR(30),
                    telefono INT NOT NULL,
                    PRIMARY KEY(NIF),
                    FOREIGN KEY(telefono) REFERENCES domicilios(telefono));

Done.
Done.

[]

In [9]:
%%sql
DROP TABLE IF EXISTS domicilios;
CREATE TABLE domicilios(telefono INT,
                             direccion CHAR(30),
                             PRIMARY KEY(telefono));

Done.
Done.

[]

In [14]:
%%sql
DROP TABLE IF EXISTS instrumentos;
CREATE TABLE instrumentos(numero INT,
                          nombre CHAR(30),
                          PRIMARY KEY(numero));

Done.
Done.

[]

In [37]:
%%sql
DROP TABLE IF EXISTS albumes;
CREATE TABLE albumes(numero INT,
                    titulo CHAR(30),
                    fecha DATE,
                    formato CHAR(30),
                    productor CHAR(10) NOT NULL,
                    PRIMARY KEY(numero),
                    FOREIGN KEY(productor) REFERENCES musicos(NIF));

Done.
Done.

[]

In [39]:
%%sql
DROP TABLE IF EXISTS canciones;
CREATE TABLE canciones(id INT,
                       titulo CHAR(30),
                       autor CHAR(30),
                       id_album INT NOT NULL,
                       PRIMARY KEY(id),
                       FOREIGN KEY(id_album) REFERENCES albumes(numero));

Done.
Done.

[]

In [23]:
%%sql
DROP TABLE IF EXISTS interpreta;
CREATE TABLE interpreta(NIF_musico CHAR(10),
                       id_cancion INT,
                       PRIMARY KEY(NIF_musico, id_cancion),
                       FOREIGN KEY(NIF_musico) REFERENCES musicos(NIF),
                       FOREIGN KEY(id_cancion) REFERENCES canciones(id));

Done.
Done.

[]

In [28]:
%%sql
DROP TABLE IF EXISTS tiene;
CREATE TABLE tiene(NIF_musico CHAR(10),
                  numero_instrumento INT,
                  PRIMARY KEY(NIF_musico, numero_instrumento),
                  FOREIGN KEY(NIF_musico) REFERENCES musicos(NIF),
                  FOREIGN KEY(numero_instrumento) REFERENCES instrumentos(numero));

Done.
Done.

[]

In [30]:
%%sql
DROP TABLE IF EXISTS toca;
CREATE TABLE toca(NIF_musico CHAR(10),
                  numero_instrumento INT,
                  PRIMARY KEY(NIF_musico, numero_instrumento),
                  FOREIGN KEY(NIF_musico) REFERENCES musicos(NIF),
                  FOREIGN KEY(numero_instrumento) REFERENCES instrumentos(numero));

Done.
Done.

[]