In [1]:
%load_ext sql

In [2]:
%sql sqlite:///Ejercicio5.db

'Connected: None@Ejercicio5.db'

In [8]:
%%sql Create table pacientes
    (nif varchar(10) not null, nombre char(30),direccion char(30),
     edad int,nif_med varchar(10) not null,
    primary key(nif),
    foreign key (nif_med) references medicos(nif))

Done.

[]

In [9]:
%%sql Create table medicos
    (nif varchar(10), nombre char(30),especialidad char(30),anos_exp int,
    primary key(nif))

Done.

[]

In [10]:
%%sql Create table receta
    (nif_p varchar(10),nif_med varchar(10),nombre_medicamento char(30),
     nombre_comp char(30), fecha date, cantidad float,
    primary key(nif_p,nif_med,nombre_medicamento,nombre_comp),
    foreign key (nif_med) references medicos(nif),
    foreign key (nif_p) references pacientes(nif),
    foreign key (nombre_medicamento) references medicamentos(nombre),
    foreign key (nombre_comp) references compania(nombre))

Done.

[]

In [24]:
%%sql Create table medicamentos
    (nombre char(30) not null,formula char(30),nombre_comp char(30) not null,
    primary key(nombre),
    foreign key (nombre_comp) references compania(nombre)
                                on delete cascade)

Done.

[]

In [14]:
%%sql Create table compania
    (nombre char(30),telefono int,
    primary key(nombre))

Done.

[]

In [15]:
%%sql Create table vender
    (nombre_medicamento char(30),nombre_farmacia char(30) not null,precio float,
    primary key(nombre_medicamento,nombre_farmacia),
    foreign key (nombre_medicamento) references medicamentos(nombre),
    foreign key (nombre_farmacia) references farmacias(nombre))

Done.

[]

In [16]:
%%sql Create table farmacia
    (nombre char(30),direccion char(30),telefono int,
    primary key(nombre))

Done.

[]

In [17]:
%%sql Create table contratar
    (nombre_compania char(30),nombre_farmacia char(30),texto_contrato char(100),
    primary key(nombre_compania,nombre_farmacia,texto_contrato),
    foreign key (nombre_compania) references compania(nombre),
    foreign key (nombre_farmacia) references farmacias(nombre),
    foreign key (texto_contrato) references contrato(texto))

Done.

[]

In [18]:
%%sql Create table contrato
    (fecha_ini date,fecha_fin date,texto char(100),
    primary key(texto))

Done.

[]

In [19]:
%%sql Create table supervisor
    (nif varchar(10),
    primary key(nif))

Done.

[]

In [20]:
%%sql Create table supervisa
    (nif_supervisor varchar(10) not null,texto_contrato char(100),
    primary key(nif_supervisor,texto_contrato),
    foreign key (nif_supervisor) references supervisor(nif),
    foreign key (texto_contrato) references contrato(texto))

Done.

[]