In [2]:
%load_ext sql

In [3]:
%sql sqlite:///Ejercicio1.db

'Connected: None@Ejercicio1.db'

In [4]:
%%sql Create table profesores
(nif varchar(10),
 primary key (nif))

Done.

[]

In [5]:
%%sql Create table asignaturas 
(num_as int,
 primary key (num_as))

Done.

[]

In [47]:
%%sql Create table cuatrimestre 
(num_cuatri int,
 primary key (num_cuatri))

Done.

[]

In [53]:
%sql drop table ensenar_12

Done.

[]

In [54]:
%%sql Create table ensenar_1 
(nif varchar(10), num_as int, num_cuatri int,
 primary key (nif , num_as, num_cuatri),
 foreign key (nif) references profesores(nif),
 foreign key (num_as) references asignaturas(num_as),
 foreign key (num_cuatri) references cuatrimestre(num_cuatri))

Done.

[]

In [55]:
%%sql Create table ensenar_2 
(nif varchar(10), num_as int, num_cuatri int,
 primary key (nif , num_as),
 foreign key (nif) references profesores(nif),
 foreign key (num_as) references asignaturas(num_as))

Done.

[]

In [56]:
%%sql Create table ensenar_3
(nif varchar(10), num_as int not null, num_cuatri int,
 primary key (nif , num_as),
 foreign key (nif) references profesores(nif),
 foreign key (num_as) references asignaturas(num_as))

Done.

[]

In [57]:
%%sql Create table profesores_4
(nif varchar(10), num_as int not null, num_cuatri int,
 primary key (nif),
 foreign key (num_as) references asignaturas(num_as))

Done.

[]

In [58]:
%%sql Create table grupos
(num_grupo int,
 primary key (num_grupo))

Done.

[]

In [59]:
%%sql Create table ensenar_6
(num_grupo int,num_as int,
 primary key (num_grupo,num_as),
 foreign key (num_as) references asignaturas(num_as),
 foreign key (num_grupo) references gruposs(num_grupo))

Done.

[]

In [63]:
%%sql Create table pertenece
(num_grupo int,nif varchar(10) not null,
 primary key (num_grupo,nif),
 foreign key (nif) references profesores(nif),
 foreign key (num_grupo) references grupos(num_grupo))

Done.

[]

In [64]:
%%sql Create table dar
(num_as int,nif varchar(10),num_cuatri int,
 primary key (num_as,nif),
 foreign key (nif) references profesores(nif),
 foreign key (num_as) references asignaturas(num_as))

Done.

[]