In [1]:
%load_ext sql

In [2]:
%sql sqlite:///Ejercicio2.db

'Connected: None@Ejercicio2.db'

In [3]:
%%sql Create table profesores
(nif varchar(10),
 nombre char(30),
 edad int,
 especialidad char(30),
 primary key (nif))

Done.

[]

In [4]:
%%sql Create table proyectos
(num_pro int,
 entidad char(30),
 fecha_ini date,
 fecha_fin date,
 presupuesto float,
 nif_prof varchar(10) not null,
 primary key (num_pro),
 foreign key (nif_prof) references profesores(nif))

Done.

[]

In [6]:
%%sql Create table estudiantes
(nombre char(30),
 edad int,
 nif varchar(10),
 titulacion char(30),
 nif_tutor varchar(10) not null,
 num_dep int not null,
 primary key (nif),
 foreign key (nif_tutor) references estudiantes(nif),
 foreign key (num_dep) references departamentos(num_id))

Done.

[]

In [7]:
%%sql Create table departamentos
(num_id int,
 nombre char(30),
 edificio int,
 nif_profe varchar(10) not null,
 primary key (num_id),
 foreign key (nif_profe) references profesores(nif))

Done.

[]

In [13]:
%%sql Create table ayuda_en
(num_pro int,
 nif_est varchar(10) not null,
 nif_prof varchar(10) not null,
 primary key (num_pro, nif_est, nif_prof),
 foreign key (num_pro) references proyectos(num_pro),
 foreign key (nif_est) references estudiantes(nif),
 foreign key (nif_prof) references profesores(nif))

Done.

[]

In [12]:
%sql drop table ayuda_en

Done.

[]

In [14]:
%%sql Create table trabaja_pp
(num_pro int,
 nif_prof varchar(10) not null,
 primary key (num_pro, nif_prof),
 foreign key (num_pro) references proyectos(num_pro),
 foreign key (nif_prof) references profesores(nif))

Done.

[]

In [17]:
%%sql Create table trabaja_pd
(num_dep int not null,
 nif_prof varchar(10),
 primary key (num_dep, nif_prof),
 foreign key (num_dep) references departamentos(num_id),
 foreign key (nif_prof) references profesores(nif))

Done.

[]