<img src="Ejercicio1.png">

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///ejercicio1.db

'Connected: None@ejercicio1.db'

In [46]:
%sql DROP TABLE IF EXISTS profesores
%sql DROP TABLE IF EXISTS asignaturas
%sql DROP TABLE IF EXISTS cuatrimestres
%sql DROP TABLE IF EXISTS enseña1
%sql DROP TABLE IF EXISTS enseña2
%sql DROP TABLE IF EXISTS enseña3
%sql DROP TABLE IF EXISTS enseña4
%sql DROP TABLE IF EXISTS enseña5

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [47]:
%%sql CREATE TABLE profesores(NIF VARCHAR(10),
                              PRIMARY KEY (NIF));

Done.

[]

In [48]:
%%sql CREATE TABLE asignaturas(codigo INT,
                              PRIMARY KEY (codigo));

Done.

[]

In [49]:
%%sql CREATE TABLE cuatrimestres(añonumero INT,
                                PRIMARY KEY (añonumero)); -- Año y cuatrimestre. Ejemplo: 20171 ó 20172

Done.

[]

In [50]:
%%sql CREATE TABLE enseña1(NIF VARCHAR(10), 
                           codigo INT,
                           añonumero INT,
                           PRIMARY KEY (NIF, codigo),
                           FOREIGN KEY(NIF) references profesores(NIF),
                           FOREIGN KEY(codigo) references asignaturas(codigo),
                           FOREIGN KEY(añonumero) references cuatrimestres(añonumero));

Done.

[]

In [51]:
%%sql CREATE TABLE enseña2(NIF VARCHAR(10), 
                           codigo INT,
                           cuatrimestre INT,
                           PRIMARY KEY (NIF, codigo, cuatrimestre)
                           FOREIGN KEY(NIF) references profesores(NIF),
                           FOREIGN KEY(codigo) references asignaturas(codigo),
                           FOREIGN KEY(cuatrimestre) references cuatrimestres(añonumero));

Done.

[]

In [52]:
%%sql CREATE TABLE enseña3(NIF VARCHAR(10), 
                           codigo INT,
                           cuatrimestre INT,
                           PRIMARY KEY (NIF, codigo, cuatrimestre)
                           FOREIGN KEY(NIF) references profesores(NIF),
                           FOREIGN KEY(codigo) references asignaturas(codigo),
                           FOREIGN KEY(cuatrimestre) references cuatrimestres(añonumero));

Done.

[]

In [ ]:
%%sql CREATE TABLE enseña4(NIF VARCHAR(10) NOT NULL, 
                           codigo INT,
                           cuatrimestre INT,
                           PRIMARY KEY (NIF, codigo, cuatrimestre)
                           FOREIGN KEY(NIF) references profesores(NIF),
                           FOREIGN KEY(codigo) references asignaturas(codigo),
                           FOREIGN KEY(cuatrimestre) references cuatrimestres(añonumero));

In [ ]:
%%sql CREATE TABLE enseña5(NIF VARCHAR(10) NOT NULL, 
                           codigo INT,
                           cuatrimestre INT,
                           PRIMARY KEY (NIF, codigo, cuatrimestre)
                           FOREIGN KEY(NIF) references profesores(NIF),
                           FOREIGN KEY(codigo) references asignaturas(codigo),
                           FOREIGN KEY(cuatrimestre) references cuatrimestres(añonumero));

In [ ]:
El apartado 6 no se puede implementar en SQL únicamente