In [16]:
%load_ext sql
%sql sqlite:///ejercicio1_2.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@ejercicio1_2.db'

<img src="Ejercicio1.2.jpeg">

In [18]:
%%sql CREATE TABLE artista(nombre varchar(20),
                              estilo varchar(20),
                              edad int(3),
                              fechaNacimiento varchar(10),
                              primary key (nombre));

Done.

[]

In [19]:
%%sql CREATE TABLE obraArte(titulo varchar(20),
                            tipoPintura varchar(20),
                            precio int(7),
                            a√±o varchar(10),
                            primary key (titulo));

Done.

[]

In [20]:
%%sql CREATE TABLE grupoObra(criterio varchar(20),
                            primary key (criterio));

Done.

[]

In [21]:
%%sql CREATE TABLE cliente(nombre varchar(20),
                            direccion varchar(20),
                            dineroGastado int(14),
                            primary key (nombre));

Done.

[]

In [22]:
%%sql CREATE TABLE pinta(nombre VARCHAR(20) NOT NULL, 
                         titulo VARCHAR(20),
                         PRIMARY KEY (nombre, titulo),
                         FOREIGN KEY (nombre) REFERENCES artista(nombre),
                         FOREIGN KEY (titulo) REFERENCES obraArte(titulo));

Done.

[]

In [24]:
%%sql CREATE TABLE pertenece(criterio VARCHAR(20) NOT NULL, 
                         titulo VARCHAR(20),
                         PRIMARY KEY (criterio, titulo),
                         FOREIGN KEY (criterio) REFERENCES grupoObra(criterio),
                         FOREIGN KEY (titulo) REFERENCES obraArte(titulo));

Done.

[]

In [25]:
%%sql CREATE TABLE leGusta(criterio VARCHAR(20), 
                           nombre VARCHAR(20),
                           PRIMARY KEY (criterio, nombre),
                           FOREIGN KEY (criterio) REFERENCES grupoObra(criterio),
                           FOREIGN KEY (nombre) REFERENCES cliente(nombre));

Done.

[]