# Ejercicios T2 ISI 1

In [41]:
%load_ext sql
%sql sqlite:///ej1_4.db
%sql PRAGMA foreign_keys = ON;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Done.

[]

In [42]:
%%sql
DROP TABLE IF EXISTS Asignatura;
DROP TABLE IF EXISTS Profesor;

Done.
Done.

[]

In [43]:
%%sql
CREATE TABLE Asignatura(nombre VARCHAR(30),
                        PRIMARY KEY(nombre));

Done.

[]

In [44]:
%%sql
CREATE TABLE Profesor(nif_prof VARCHAR(30), nombre_as VARCHAR(30) NOT NULL,
                   fecha VARCHAR(30),
                   PRIMARY KEY(nif_prof),
                   FOREIGN KEY (nombre_as) REFERENCES Asignatura(nombre));

Done.

[]

In [45]:
#LA LINEA GRUESA EN LA BASE DE DATOS NO SE PUEDE REPRESENTAR EN SQL