# Ejercicios T2 ISI 1.1

In [1]:
%load_ext sql
%sql sqlite:///ej1.db
%sql PRAGMA foreign_keys = ON;

Done.

[]

In [2]:
%%sql
DROP TABLE IF EXISTS Profesor;
DROP TABLE IF EXISTS Asignatura;
DROP TABLE IF EXISTS Enseña;
DROP TABLE IF EXISTS Cuatri;

CREATE TABLE Profesor(nif VARCHAR(30),
                      PRIMARY KEY(nif));

Done.
Done.
Done.
Done.
Done.

[]

In [3]:
%%sql
CREATE TABLE Asignatura(nombre VARCHAR(30),
                        PRIMARY KEY(nombre));

Done.

[]

In [4]:
%%sql
CREATE TABLE Cuatri(fecha VARCHAR(30),
                    PRIMARY KEY(fecha));

Done.

[]

In [5]:
%%sql
CREATE TABLE Enseña(nif_prof VARCHAR(30), nombre_as VARCHAR(30),
                   fecha VARCHAR(30),
                   PRIMARY KEY(nif_prof, nombre_as, fecha),
                   FOREIGN KEY (nif_prof) REFERENCES Profesor(dni),
                   FOREIGN KEY (nombre_as) REFERENCES Asignatura(nombre),
                   FOREIGN KEY (fecha) REFERENCES Cuatri(fecha));

Done.

[]