# INGENIERÍA DE SISTEMAS DE INFORMACIÓN

## EJERCICIOS DISEÑO CONCEPTUAL MEDIANTE DIAGRAMAS ENTIDAD RELACIÓN Y MODELO RELACIONAL.

# Ejercicio 4: Diseño del diagrama ER para una compañia de discos

<img src="EJ4_Parte2.jpg">

In [1]:
%reload_ext sql

/Users/SergioCobos/anaconda3/lib/python3.6/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/SergioCobos/anaconda3/lib/python3.6/site-packages/sql/magic.py:4: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  from IPython.utils.traitlets import Bool, Int, Unicode

In [2]:
%%sql
sqlite:///ISI-DIAGRAMAS-ER-EJERCICIO-e4.db

'Connected: None@ISI-DIAGRAMAS-ER-EJERCICIO-e4.db'

In [3]:
%sql PRAGMA foreign_keys = ON;

Done.

[]

In [4]:
%%sql

DROP TABLE IF EXISTS Musicos;

CREATE TABLE Musicos(nif VARCHAR(10),
                    nombre VARCHAR(20),
                    telefono INT,
                    PRIMARY KEY(nif),
                    FOREIGN KEY(telefono) REFERENCES Domicilios(telefono));

Done.
Done.

[]

In [5]:
%%sql

DROP TABLE IF EXISTS Domicilios;

CREATE TABLE Domicilios(telefono INT,
                       direccion VARCHAR(30),
                       PRIMARY KEY(telefono));

Done.
Done.

[]

In [6]:
%%sql

DROP TABLE IF EXISTS Instrumentos;

CREATE TABLE Instrumentos(id INT,
                         nombre VARCHAR(25),
                         PRIMARY KEY(id));

Done.
Done.

[]

In [7]:
%%sql

DROP TABLE IF EXISTS Album;

CREATE TABLE Album(id INT,
                  titulo VARCHAR(50),
                  fecha DATE,
                  formato VARCHAR(50),
                  nif VARCHAR(10) NOT NULL,
                  PRIMARY KEY(id),
                  FOREIGN KEY(nif) REFERENCES Musicos(nif));

Done.
Done.

[]

In [8]:
%%sql

DROP TABLE IF EXISTS Cancion;

CREATE TABLE Cancion(id INT,
                    titulo VARCHAR(25),
                    autor VARCHAR(25),
                    id_album INT NOT NULL,
                    PRIMARY KEY(id), 
                    FOREIGN KEY(id_album) REFERENCES Album(id));

Done.
Done.

[]

In [9]:
%%sql

DROP TABLE IF EXISTS Tocan;

CREATE TABLE Tocan(nif VARCHAR(10),
                  id INT,
                  PRIMARY KEY(nif, id),
                  FOREIGN KEY(nif) REFERENCES Musicos(nif),
                  FOREIGN KEY(id) REFERENCES Instrumentos(id));

Done.
Done.

[]

In [10]:
%%sql

DROP TABLE IF EXISTS Interpretan;

CREATE TABLE Interpretan(nif VARCHAR(10),
                        id INT,
                        PRIMARY KEY(nif, id),
                        FOREIGN KEY(nif) REFERENCES Musicos(nif),
                        FOREIGN KEY(id) REFERENCES Cancion(id));

Done.
Done.

[]