In [1]:
#Ejercicio5

In [2]:
%load_ext sql

//anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
//anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [3]:
%sql sqlite:///Ejercicio5.db

u'Connected: None@Ejercicio5.db'

In [ ]:
%%sql
DROP TABLE Pacientes

In [5]:
%%sql
CREATE TABLE Pacientes
    (nif_paciente VARCHAR(10) NOT NULL, nombre CHAR(30), direccion CHAR(30), edad int, nif_medico VARCHAR(10),
    primary key(nif_paciente, nif_medico),
    FOREIGN KEY(nif_paciente) REFERENCES Pacientes(nif_paciente),
    FOREIGN KEY(nif_medico) REFERENCES Medicos(nif_medico))

Done.

[]

In [8]:
%%sql
DROP TABLE Medicos

Done.

[]

In [9]:
%%sql
CREATE TABLE Medicos
    (nif_medico VARCHAR(10), nombre CHAR, especialidad CHAR, anos_experiencia int,
    primary key(nif_medico))

Done.

[]

In [ ]:
%%sql
DROP TABLE Medicamentos

In [11]:
%%sql
CREATE TABLE Medicamentos
    (nombre_comercial CHAR(30), formula VARCHAR(30), nombre_compania CHAR(30) NOT NULL,
    primary key(nombre_comercial, nombre_compania),
    FOREIGN KEY(nombre_compania) REFERENCES Compania_Farmaceutica(nombre_compania))

Done.

[]

In [22]:
%%sql
DROP TABLE Recetar

Done.

[]

In [23]:
%%sql
CREATE TABLE Recetar
    (nif_paciente VARCHAR(10), nif_medico VARCHAR(10),nombre_comercial CHAR(30), fecha DATE, cantidad int,
     primary key(nif_paciente, nif_medico, nombre_comercial),
     FOREIGN KEY(nif_paciente) REFERENCES Pacientes(nif_paciente), 
     FOREIGN KEY(nif_medico) REFERENCES Medicos(nif_medico),
     FOREIGN KEY(nombre_comercial) REFERENCES Medicamentos(nombre_comercial))

Done.

[]

In [27]:
%%sql
DROP TABLE Compania_Farmaceutica

Done.

[]

In [29]:
%%sql
CREATE TABLE Compania_Farmaceutica
    (nombre_compania CHAR(30), telefono int(9),
    primary key(nombre_compania))

Done.

[]

In [31]:
%%sql
DROP TABLE Farmacias

Done.

[]

In [32]:
%%sql
CREATE TABLE Farmacias
    (nombre CHAR(30), direccion CHAR(30), telefono int(9),
    primary key(nombre))

Done.

[]

In [34]:
%%sql
DROP TABLE Vende

Done.

[]

In [35]:
%%sql
CREATE TABLE Vende
    (nombre_medicamento CHAR(30), nombre_farmacia CHAR(30) NOT NULL, precio float,
    primary key(nombre_medicamento,nombre_farmacia),
    FOREIGN KEY(nombre_medicamento) REFERENCES Medicamentos(nombre_comercial),
    FOREIGN KEY(nombre_farmacia) REFERENCES Farmacias(nombre))

Done.

[]

In [37]:
%%sql
DROP TABLE Contratos

Done.

[]

In [38]:
%%sql
CREATE TABLE Contratos
    (condiciones CHAR(30), inicio DATE, finalizacion DATE, 
    primary key(condiciones))

Done.

[]

In [41]:
%%sql
DROP TABLE Contratar

(sqlite3.OperationalError) no such table: Contratar [SQL: u'DROP TABLE Contratar']

In [44]:
%%sql
CREATE TABLE Contratar
    (nombre_farmacia CHAR(30), nombre_compania CHAR(30), condiciones CHAR(30),
    primary key(nombre_farmacia, nombre_compania, condiciones),
    FOREIGN KEY(nombre_farmacia) REFERENCES Farmacias(nombre),
    FOREIGN KEY(nombre_compania) REFERENCES Compania_Farmaceutica(nombre_compania),
    FOREIGN KEY(condiciones) REFERENCES Contratos(condiciones))

Done.

[]

In [46]:
%%sql
DROP TABLE Supervisor

Done.

[]

In [47]:
%%sql
CREATE TABLE Supervisor
    (nif_supervisor VARCHAR(10), 
    primary key(nif_supervisor))

Done.

[]

In [50]:
%%sql
DROP TABLE Supervisar

Done.

[]

In [51]:
%%sql
CREATE TABLE Supervisar
    (nif_supervisor VARCHAR(10) NOT NULL, condiciones CHAR(30),
    primary key(nif_supervisor, condiciones),
    FOREIGN KEY(nif_supervisor) REFERENCES Supervisor(nif_supervisor),
    FOREIGN KEY(condiciones) REFERENCES Contratos(condiciones))

Done.

[]

In [ ]:
#5.2)     Tendría que poner el atributo precio en la tabla medicamentos y no en la tabla vende
#5.3)     Hacer una tabla con las recetas