In [1]:
%load_ext sql

In [2]:
%sql sqlite:///Ejercicio3.db

'Connected: None@Ejercicio3.db'

In [3]:
%%sql Create table empleados
    (nif varchar(10),salario float,tel int,
    primary key(nif))

Done.

[]

In [5]:
%%sql Create table departamentos
    (id_dep int,nombre varchar(30),presupuesto float,nif_emp varchar(10),
    primary key(nif_emp,id_dep),
    foreign key (nif_emp) references empleados(nif))

Done.

[]

In [6]:
%%sql Create table trabaja
    (id_dep int,nif_emp varchar(10),
    primary key(nif_emp,id_dep),
    foreign key (nif_emp) references empleados(nif),
    foreign key (id_dep) references departamentos(id_dep))

Done.

[]

In [7]:
%%sql Create table hijos
    (edad int,nombre char(30),nif_papa varchar(10) not null,
    primary key(nif_papa,nombre),
    foreign key (nif_papa) references empleados(nif)
                    on delete cascade)

Done.

[]