EJERCICIO2
======

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%sql sqlite:///ejercicio2.db

'Connected: None@ejercicio2.db'

In [17]:
%%sql
DROP TABLE IF EXISTS Profesor;
CREATE TABLE Profesor(
    nif VARCHAR(13),
    edad INT,
    especialiad VARCHAR(13),
    nombre VARCHAR(13),
    PRIMARY KEY (nif));

Done.
Done.

[]

In [18]:
%%sql
DROP TABLE IF EXISTS Proyecto;
CREATE TABLE Proyecto(
    nif_profesor VARCHAR(13) NOT NULL,
    num INT,
    entidad VARCHAR(13),
    presupuesto INT,
    fecha_ini DATE,
    fecha_fin DATE,
    PRIMARY KEY (num),
    FOREIGN KEY (nif_profesor) REFERENCES Profesor(nif));

Done.
Done.

[]

In [19]:
%%sql
DROP TABLE IF EXISTS Trabajan;
CREATE TABLE Trabajan(
    nif_profesor VARCHAR(13) NOT NULL,
    num_proyecto INT,
    PRIMARY KEY (nif_profesor,num_proyecto),
    FOREIGN KEY (nif_profesor) REFERENCES Profesor(nif),
    FOREIGN KEY (num_proyecto) REFERENCES Proyecto(num));

Done.
Done.

[]

In [20]:
%%sql
DROP TABLE IF EXISTS Departamento;
CREATE TABLE Departamento(
    num_dpt INT,
    nif_profesor VARCHAR(13) NOT NULL,
    Edificio VARCHAR(13),
    nombre VARCHAR(13),
    PRIMARY KEY (num_dpt),
    FOREIGN KEY (nif_profesor) REFERENCES Profesor(nif));

Done.
Done.

[]

In [21]:
%%sql
DROP TABLE IF EXISTS Trabajan;
CREATE TABLE Trabajan(
    nif_profesor VARCHAR(13),
    num_dpt INT NOT NULL,
    PRIMARY KEY (nif_profesor,num_dpt),
    FOREIGN KEY (nif_profesor) REFERENCES Profesor(nif),
    FOREIGN KEY (num_dpt) REFERENCES Departamento(num_dpt));

Done.
Done.

[]

In [24]:
%%sql
DROP TABLE IF EXISTS Estudiante;
CREATE TABLE Estudiante(
    nif VARCHAR(13),
    num_dpt INT NOT NULL,
    nif_alumno VARCHAR(14) NOT NULL,
    edad INT,
    Titulacion VARCHAR(13),
    nombre VARCHAR(13),
    PRIMARY KEY (nif),
    FOREIGN KEY (nif_alumno) REFERENCES Estudiante(nif),
    FOREIGN KEY (num_dpt) REFERENCES Departamento(num_dpt));

Done.
Done.

[]

In [1]:
%%sql
DROP TABLE IF EXISTS Ayudan;
CREATE TABLE Ayudan(
    nif_estudiante VARCHAR(13) NOT NULL,
    num_proyecto INT,
    nif_profesor VARCHAR(13) NOT NULL,
    PRIMARY KEY (nif_estudiante,num_proyecto),
    FOREIGN KEY (nif_estudiante) REFERENCES Estudiante(nif),
    FOREIGN KEY (num_proyecto) REFERENCES Proyecto(num),
    FOREIGN KEY (nif_profesor) REFERENCES Profesor(nif));

UsageError: Cell magic `%%sql` not found.