EJERCICIO 5
======
2. ¿Qué cambios habrı́a que aplicar al diseño que has realizado si cada medicamento debe venderse al mismo precio en todas las farmacias de la cadena?

Habria que mover, el atributo precio de donde esta en el modelo original(en la relacion Vende) a la entidad Medicamentos

3. ¿Qué cambios habrı́a que aplicar al diseño que has realizado si cuando un médico receta el mismo medicamento al mismo paciente más de una vez hubiese que almacenar cada una de las recetas?

No sería necesario ningún cambio, nuestra base de datos esta preparada para ese caso


TABLAS
===

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///ejercicio5.db

'Connected: None@ejercicio5.db'

In [3]:
%%sql 
DROP TABLE IF EXISTS Pacientes;
CREATE TABLE Pacientes(
    nif VARCHAR(11),
    nif_medico VARCHAR(11) NOT NULL,
    direccion VARCHAR(20),
    nombre VARCHAR(10),
    edad INT,
    PRIMARY KEY (nif),
    FOREIGN KEY (nif_medico) REFERENCES Medico(nif));

Done.
Done.

[]

In [4]:
%%sql 
DROP TABLE IF EXISTS Medicos;
CREATE TABLE Medicos(
    nif VARCHAR(11),
    especialidad VARCHAR(20),
    nombre VARCHAR(10),
    años_exp INT,
    PRIMARY KEY (nif));

Done.
Done.

[]

In [6]:
%%sql
DROP TABLE IF EXISTS Recetan;
CREATE TABLE Recetan(
    nif_paciente VARCHAR(12),
    nif_medico VARCHAR(12),
    nombre_comercial VARCHAR(20) NOT NULL,
    nombre_compañia VARCHAR(20) NOT NULL,
    fecha DATE,
    cantidad INT,
    PRIMARY KEY(nif_paciente,nif_medico,nombre_comercial,nombre_compañia),
    FOREIGN KEY(nombre_comercial,nombre_compañia) REFERENCES Medicamentos(nombre_comercial,nombre_compañia),
    FOREIGN KEY(nif_paciente) REFERENCES Medicos(nif),
    FOREIGN KEY(nif_medico) REFERENCES Pacientes(nif))

Done.
Done.

[]

In [8]:
%%sql
DROP TABLE IF EXISTS Medicamento;
CREATE TABLE Medicamento(
    nombre_comercial VARCHAR(20),
    nombre_compañia VARCHAR(20) NOT NULL,
    formula VARCHAR(12),
    PRIMARY KEY (nombre_comercial,nombre_compañia),
    FOREIGN KEY (nombre_compañia) REFERENCES Compañia(nombre_compañia) ON DELETE CASCADE)

Done.
Done.

[]

In [9]:
%%sql
DROP TABLE IF EXISTS Compañia;
CREATE TABLE Compañia(
    nombre VARCHAR(12),
    tlfno VARCHAR(11),
    PRIMARY KEY (nombre));

Done.
Done.

[]

In [10]:
%%sql
DROP TABLE IF EXISTS Contrato;
CREATE TABLE Contrato(
    id INT,
    condiciones VARCHAR(11),
    fecha_init DATE,
    fecha_fin DATE,
    PRIMARY KEY (id));

Done.
Done.

[]

In [11]:
%%sql
DROP TABLE IF EXISTS Farmacia;
CREATE TABLE Farmacia(
    nombre VARCHAR(15),
    direccion VARCHAR(20),
    tlfno VARCHAR(12),
    PRIMARY KEY(nombre,direccion));

Done.
Done.

[]

In [12]:
%%sql
DROP TABLE IF EXISTS Supervisor;
CREATE TABLE Supervisor(
    nif VARCHAR(12),
    PRIMARY KEY (nif));

Done.
Done.

[]

In [14]:
%%sql
DROP TABLE IF EXISTS Contrata;
CREATE TABLE Contrata(
    nombre_farmacia VARCHAR(15),
    direccion_farmacia VARCHAR(20),
    id_contrato INT,
    nif_supervisor VARCHAR(13),
    PRIMARY KEY (id_contrato,direccion_farmacia,nombre_farmacia,nif_supervisor),
    FOREIGN KEY (nombre_farmacia,direccion_farmacia) REFERENCES Farmacia(nombre,direccion),
    FOREIGN KEY (id_contrato) REFERENCES Contrato(id));

Done.
Done.

[]

In [ ]:
%%sql
DROP TABLE IF EXISTS Se_Le_Asigna;
CREATE TABLA Se_Le_Asigna(
    nif_supervisor VARCHAR(13);
    nombre_farmacia VARCHAR(15),
    direccion_farmacia VARCHAR(20),
    id_contrato INT,
    PRIMARY KEY(nif_supervisor,nombre_farmacia,direccion_farmacia,id_contrato),
    FOREIGN KEY (nif_supervisor) REFERENCES Supervisor(nif),
    FOREIGN KEY (id_contrato,nombre_farmacia,direccion_farmacia) REFERENCES 
)