In [1]:
%load_ext sql
%sql sqlite:///ej5.db
%sql PRAGMA foreign_keys = ON;

'Connected: None@ej5.db'

In [7]:
%%sql
DROP TABLE IF EXISTS Paciente;
DROP TABLE IF EXISTS Medico;
DROP TABLE IF EXISTS Receta;
DROP TABLE IF EXISTS MedicamComer;
DROP TABLE IF EXISTS Compañia;
DROP TABLE IF EXISTS Supervisor;
DROP TABLE IF EXISTS Farmacia;
DROP TABLE IF EXISTS Vende;

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [8]:
%%sql
CREATE TABLE Paciente(direccion VARCHAR(30), nif VARCHAR(30),
                     edad INT, nombre VARCHAR(30),
                     nifMed VARCHAR(30),
                     PRIMARY KEY(nif),
                     FOREIGN KEY(nifMed) REFERENCES Medico(nif));

CREATE TABLE Medico(nif VARCHAR(30), exp INT,
                   nombre VARCHAR(30), especialidad VARCHAR(30),
                   PRIMARY KEY(nif));

Done.
Done.

[]

In [9]:
%%sql
CREATE TABLE Receta(fecha VARCHAR(30), cantidad INT,
                   nifMed VARCHAR(30), nifPa VARCHAR(30),
                   FOREIGN KEY(nifMed) REFERENCES Medico(nif),
                   FOREIGN KEY(nifPa) REFERENCES Paciente(nif));

CREATE TABLE Compañia(nombre VARCHAR(30), tlf INT,
                     PRIMARY KEY(nombre));

CREATE TABLE MedicamComer(nombre VARCHAR(30), nombreComp VARCHAR(30) NOT NULL,
                          PRIMARY KEY(nombre, nombreComp),
                          FOREIGN KEY(nombreComp) REFERENCES Compañia(nombre) ON DELETE CASCADE);
                          
CREATE TABLE Supervisor(nombreComp VARCHAR(30) NOT NULL, inicioCont VARCHAR(30),
                       finCont VARCHAR(30), tlfFar INT NOT NULL,
                       texto VARCHAR(300), nif VARCHAR(30),
                       PRIMARY KEY(nif, nombreComp, tlfFar),
                       FOREIGN KEY(nombreComp) REFERENCES Compañia(nombre),
                       FOREIGN KEY(tlfFar) REFERENCES Farmacia(nombre));

CREATE TABLE Farmacia(nombre VARCHAR(30), dir VARCHAR(30),
                      tlf INT,
                      PRIMARY KEY(tlf));

CREATE TABLE Vende(precio INT, nombMed VARCHAR(30),
                  tlfFar INT,
                  PRIMARY KEY(nombMed, tlfFar),
                  FOREIGN KEY(tlfFar) REFERENCES Farmacia(nombre),
                  FOREIGN KEY(nombMed) REFERENCES MedicamComer(nombre))

Done.
Done.
Done.
(sqlite3.OperationalError) near "CREATE": syntax error [SQL: 'CREATE TABLE Supervisor(nombreComp VARCHAR(30) NOT NULL, inicioCont VARCHAR(30),\n                       finCont VARCHAR(30), tlfFar INT NOT NULL,\n                       texto VARCHAR(300), nif VARCHAR(30),\n                       PRIMARY KEY(nif, nombreComp, tlfFar),\n                       FOREIGN KEY(nombreComp) REFERENCES Compañia(nombre),\n                       FOREIGN KEY(tlfFar) REFERENCES Farmacia(nombre))\n\nCREATE TABLE Farmacia(nombre VARCHAR(30), dir VARCHAR(30),\n                      tlf INT,\n                      PRIMARY KEY(tlf));']