In [1]:
#Ejercicio4

In [2]:
%load_ext sql

//anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
//anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [4]:
%sql sqlite:///Ejercicio4.db

u'Connected: None@Ejercicio4.db'

In [5]:
%sql DROP TABLE Musicos

(sqlite3.OperationalError) no such table: Musicos [SQL: u'DROP TABLE Musicos']

In [6]:
%%sql
CREATE TABLE Musicos
    (nif VARCHAR(10), nombre char(30), 
    primary key(nif))

Done.

[]

In [8]:
%sql DROP TABLE Instrumentos

(sqlite3.OperationalError) no such table: Instrumentos [SQL: u'DROP TABLE Instrumentos']

In [9]:
%%sql
CREATE TABLE Instrumentos
    (num_id int, nombre CHAR(30),
    primary key(num_id))

Done.

[]

In [14]:
%%sql
DROP TABLE Tocar

Done.

[]

In [15]:
%%sql
CREATE TABLE Tocar
    (nif_musico VARCHAR(10) NOT NULL, num_id int, 
    primary key(nif_musico, num_id),
    FOREIGN KEY(nif_musico) REFERENCES Musicos(nif),
    FOREIGN KEY(num_id) REFERENCES Instrumentos(num_id))

Done.

[]

In [17]:
%%sql
DROP TABLE TIENEN

Done.

[]

In [18]:
%%sql
CREATE TABLE TIENEN
    (nif_musico VARCHAR(10), num_id int NOT NULL, 
    primary key(nif_musico, num_id),
    FOREIGN KEY(nif_musico) REFERENCES Musicos(nif),
    FOREIGN KEY(num_id) REFERENCES Instrumentos(num_id))

Done.

[]

In [21]:
%%sql
DROP TABLE Direcciones

Done.

[]

In [22]:
%%sql
CREATE TABLE Direcciones
    (telefono_fijo int(9), primary key(telefono_fijo))

Done.

[]

In [ ]:
%%sql
DROP TABLE Viven_en

In [23]:
%%sql
CREATE TABLE Viven_en
    (nif_musico VARCHAR(10) NOT NULL, telefono_fijo int(9),
     primary KEY(nif_musico, telefono_fijo),
     FOREIGN KEY(nif_musico) REFERENCES Musicos(nif),
     FOREIGN KEY(telefono_fijo) REFERENCES Direcciones(telefono_fijo))

Done.

[]

In [31]:
%%sql
DROP TABLE Canciones

Done.

[]

In [32]:
%%sql
CREATE TABLE Canciones
    (titulo VARCHAR(30) NOT NULL, autor CHAR(30), num_id_album int,
    primary key(titulo, num_id_album)
    FOREIGN KEY(num_id_album) REFERENCES Album(num_id))

Done.

[]

In [33]:
%%sql
DROP TABLE Interpretar

Done.

[]

In [34]:
%%sql
CREATE TABLE Interpretar
    (titulo_cancion VARCHAR(30), nif_musico VARCHAR(10) NOT NULL, 
    primary key(titulo_cancion, nif_musico)
    FOREIGN KEY(titulo_cancion) REFERENCES Cancion(titulo),
    FOREIGN KEY(nif_musico) REFERENCES Musicos(nif))

Done.

[]

In [36]:
%%sql
DROP TABLE Album

Done.

[]

In [37]:
%%sql
CREATE TABLE Album
    (num_id int, titulo CHAR, fecha_edicion DATE, formato VARCHAR(30), nif_musico VARCHAR(10),
    primary key(num_id, nif_musico),
    FOREIGN KEY(nif_musico) REFERENCES Musicos(nif))

Done.

[]