In [1]:
%load_ext sql
%sql sqlite:///ejercicio5.db

'Connected: None@ejercicio5.db'

<img src="Ejercicio2.5.jpeg">

In [2]:
%%sql create table medico(nif varchar(10),
                            nombre varchar(20),
                            especialidad varchar(20),
                            experiencia int(3),
                            primary key(nif));

Done.

[]

In [3]:
%%sql create table paciente(nif varchar(10),
                            nombre varchar(20),
                            direccion varchar(20),
                            edad int(3),
                            nifMedico varchar(10) NOT NULL,
                            FOREIGN KEY (nifMedico) REFERENCES medico(nifMedico)
                            primary key(nif));

Done.

[]

In [4]:
%%sql create table receta(idReceta varchar(10),
                          fecha varchar(20),
                          cantidad int(3),
                          primary key(idReceta));

Done.

[]

In [5]:
%%sql create table farmaceutica(nombre varchar(15),
                          tlf varchar(9),
                          primary key(nombre));

Done.

[]

In [6]:
%%sql create table farmacia(nombre varchar(15),
                          tlf varchar(9),
                          direccion varchar(20),
                          primary key(nombre));

Done.

[]

In [7]:
%%sql create table supervisor(nif varchar(10),
                          primary key(nif));

Done.

[]

In [8]:
%%sql create table medicamento(nombre varchar(15),
                          formula varchar(20),
                          direccion varchar(20),
                          nombreFarmaceutica varchar(15) NOT NULL,
                          primary key(nombre, nombreFarmaceutica),
                          FOREIGN KEY (nombreFarmaceutica) REFERENCES farmaceutica(nombreFarmaceutica));

Done.

[]

In [9]:
%%sql create table hace(nifPaciente varchar(10),
                          nifMedico varchar(10),
                          idReceta varchar(10),
                          primary key(nifPaciente, nifMedico, idReceta),
                          FOREIGN KEY (nifPaciente) REFERENCES paciente(nif),
                          FOREIGN KEY (nifMedico) REFERENCES farmaceutica(nif),
                          FOREIGN KEY (idReceta) REFERENCES receta(idReceta));

Done.

[]

In [10]:
%%sql create table tiene(nombreMedicamento varchar(15) NOT NULL,
                         idReceta varchar(10),
                          primary key(nombreMedicamento, idReceta),
                          FOREIGN KEY (nombreMedicamento) REFERENCES medicamento(nombre),
                          FOREIGN KEY (idReceta) REFERENCES receta(idReceta));

Done.

[]

In [11]:
%%sql create table vende(nombreMedicamento varchar(15),
                         nombreFarmacia varchar(15),
                         precio int(3),
                          primary key(nombreMedicamento, nombreFarmacia),
                          FOREIGN KEY (nombreMedicamento) REFERENCES medicamento(nombre),
                          FOREIGN KEY (nombreFarmacia) REFERENCES farmacia(nombre));

Done.

[]

In [ ]:
%%sql create table contrata(nombreFarmaceutica varchar(15),
                            nombreFarmacia varchar(15),
                            fechaInicio varchar(10),
                            fechaSalida varchar(10),
                            condiciones varchar(20),
                          primary key(nombreFarmaceutica, nombreFarmacia),
                          FOREIGN KEY (nombreFarmaceutica) REFERENCES farmaceutica(nombre),
                          FOREIGN KEY (nombreFarmacia) REFERENCES farmacia(nombre));

In [12]:
%%sql create table asigna(nifSupervisor varchar(10),
                         nombreFarmacia varchar(15),
                          primary key(nifSupervisor, nombreFarmacia),
                          FOREIGN KEY (nifSupervisor) REFERENCES supervisor(nif),
                          FOREIGN KEY (nombreFarmacia) REFERENCES farmacia(nombre));

Done.

[]

In [15]:
%%sql create table supervisa(nobreFarmaceutica varchar(15),
                             nombreFarmacia varchar(15),
                             nifSupervisor varchar(10),
                          primary key(nobreFarmaceutica, nombreFarmacia, nifSupervisor),
                          FOREIGN KEY (nifSupervisor) REFERENCES supervisor(nif),
                          FOREIGN KEY (nobreFarmaceutica, nombreFarmacia) REFERENCES contrata(nobreFarmaceutica, nombreFarmacia));

Done.

[]