In [41]:
#Ejecutar al principio de cada ejercicio
%reset
%reload_ext sql

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

# Ejercicio 1.1

In [42]:
%sql sqlite:///e1.db

'Connected: None@e1.db'

In [43]:
%%sql CREATE TABLE Profesores(nif VARCHAR(30),
                            PRIMARY KEY (nif));

Done.

[]

In [44]:
%%sql CREATE TABLE Asignaturas(codigo INT NOT NULL,
                               PRIMARY KEY (codigo));

Done.

[]

In [45]:
%sql CREATE TABLE Cuatrimestre(fecha VARCHAR(12));

Done.

[]

In [46]:
%%sql CREATE TABLE Enseña(nif VARCHAR(30),
                         codigo INT NOT NULL,
                         fecha VARCHAR(12),
                         PRIMARY KEY(nif, codigo, fecha),
                         FOREIGN KEY(nif) REFERENCES Profesores (nif),
                         FOREIGN KEY(codigo) REFERENCES Asignaturas (codigo),
                         FOREIGN KEY(fecha) REFERENCES Cuatrimestre (fecha));

Done.

[]

In [47]:
%%sql INSERT INTO Profesores(nif)
    VALUES('1234234N');

1 rows affected.

[]

In [48]:
%%sql INSERT INTO Asignaturas(codigo)
    VALUES(223);

1 rows affected.

[]

In [49]:
%%sql INSERT INTO Enseña(nif, codigo)
    VALUES('1234234N', 223);

1 rows affected.

[]

In [50]:
%sql SELECT * FROM Profesores

Done.

[('1234234N',)]

In [51]:
%sql SELECT * FROM Enseña

Done.

[('1234234N', 223, None)]

In [53]:
%sql DROP TABLE Profesores
%sql DROP TABLE Asignaturas
%sql DROP TABLE Cuatrimestre
%sql DROP TABLE Enseña

Done.
Done.
Done.
Done.

[]

# Ejercicio 1.2

In [72]:
%sql sqlite:///e2.db

'Connected: None@e2.db'

In [73]:
%%sql CREATE TABLE Profesores(nif VARCHAR(30),
                            PRIMARY KEY (nif));

Done.

[]

In [74]:
%%sql CREATE TABLE Asignaturas(codigo INT NOT NULL,
                               PRIMARY KEY (codigo));

Done.

[]

In [75]:
%%sql CREATE TABLE Enseña(nif VARCHAR(30),
                         codigo INT NOT NULL,
                         fecha VARCHAR(12),
                         PRIMARY KEY(nif, codigo),
                         FOREIGN KEY(nif) REFERENCES Profesores (nif),
                         FOREIGN KEY(codigo) REFERENCES Asignaturas (codigo));

Done.

[]

In [76]:
%sql DROP TABLE Profesores
%sql DROP TABLE Asignaturas
%sql DROP TABLE Enseña

Done.
Done.
Done.

[]

# Ejercicio 1.3

In [59]:
%sql sqlite:///e3.db

'Connected: None@e3.db'

In [60]:
%%sql CREATE TABLE Profesores(nif VARCHAR(30),
                            PRIMARY KEY (nif));

Done.

[]

In [61]:
%%sql CREATE TABLE Asignaturas(codigo INT NOT NULL,
                               PRIMARY KEY (codigo));

Done.

[]

In [62]:
%%sql CREATE TABLE Enseña(nif VARCHAR(30),
                         codigo INT NOT NULL,
                         fecha VARCHAR(12),
                         PRIMARY KEY(nif, codigo),
                         FOREIGN KEY(nif) REFERENCES Profesores (nif),
                         FOREIGN KEY(codigo) REFERENCES Asignaturas (codigo));
                        #COOOOMMMMPPPLLLEEETTTAAARRR

Done.
(sqlite3.OperationalError) near "#COOOOMMMMPPPLLLEEETTTAAARRR": syntax error [SQL: '#COOOOMMMMPPPLLLEEETTTAAARRR']

In [63]:
%sql DROP TABLE Profesores
%sql DROP TABLE Asignaturas
%sql DROP TABLE Enseña

Done.
Done.
Done.

[]

# Ejercicio 1.4

In [64]:
%sql sqlite:///e4.db

'Connected: None@e4.db'

In [77]:
%%sql CREATE TABLE Profesores_Enseñan(nif VARCHAR(30),
                                      codigo INT NOT NULL,
                                      fecha VARCHAR(12),
                                      PRIMARY KEY (nif),
                                      FOREIGN KEY(codigo) REFERENCES Asignaturas (codigo));

Done.

[]

In [78]:
%%sql CREATE TABLE Asignaturas(codigo INT NOT NULL,
                               PRIMARY KEY (codigo));

Done.

[]

In [83]:
%sql DROP TABLE Profesores_Enseñan
%sql DROP TABLE Asignaturas

Done.
Done.

[]

# Ejercicio 1.5

In [84]:
%sql sqlite:///e5.db

'Connected: None@e5.db'

In [85]:
%%sql CREATE TABLE Profesores_Enseñan(nif VARCHAR(30),
                                      codigo INT NOT NULL,
                                      fecha VARCHAR(12),
                                      PRIMARY KEY (nif),
                                      FOREIGN KEY(codigo) REFERENCES Asignaturas (codigo));

Done.

[]

In [86]:
%%sql CREATE TABLE Asignaturas(codigo INT NOT NULL,
                               PRIMARY KEY (codigo));
                                #COOOOMMMMPPPLLLEEETTTAAARRR

Done.
(sqlite3.OperationalError) near "#COOOOMMMMPPPLLLEEETTTAAARRR": syntax error [SQL: '#COOOOMMMMPPPLLLEEETTTAAARRR']

In [87]:
%sql DROP TABLE Profesores_Enseñan
%sql DROP TABLE Asignaturas

Done.
Done.

[]

# Ejercicio 1.6

In [88]:
%sql sqlite:///e5.db

'Connected: None@e5.db'

In [89]:
%%sql CREATE TABLE Profesores(nif VARCHAR(30),
                            PRIMARY KEY (nif));

Done.

[]

In [90]:
%%sql CREATE TABLE Asignaturas(codigo INT NOT NULL,
                               PRIMARY KEY (codigo));

Done.

[]

In [91]:
%%sql CREATE TABLE Grupo(id INT NOT NULL,
                        PRIMARY KEY (id));

Done.

[]

In [92]:
%%sql CREATE TABLE Pertenece(nif VARCHAR(30),
                         id INT NOT NULL,
                         PRIMARY KEY(nif, id),
                         FOREIGN KEY(nif) REFERENCES Profesores (nif),
                         FOREIGN KEY(id) REFERENCES Asignaturas (id));

Done.

[]

In [93]:
%%sql CREATE TABLE Enseña(id VARCHAR(30),
                         codigo INT NOT NULL,
                         fecha VARCHAR(12),
                         PRIMARY KEY(id, codigo),
                         FOREIGN KEY(id) REFERENCES Profesores (id),
                         FOREIGN KEY(codigo) REFERENCES Asignaturas (codigo));

Done.

[]

In [95]:
%%sql 
DROP TABLE Profesores;
DROP TABLE Asignaturas;
DROP TABLE Grupo;
DROP TABLE Pertenece;
DROP TABLE Enseña;

Done.
Done.
Done.
Done.
Done.

[]