# Ejercicio 4. Diseño del Diagrama ER para una compañía de discos

![Diagrama ER: Ejercicio_4](IMG_20171010_182417.jpg "Diagrama ER: Ejercicio_4")

In [1]:
%reload_ext sql

In [2]:
%sql sqlite:///ISI-Ejercicio_4-sql.db

'Connected: None@ISI-Ejercicio_4-sql.db'

In [4]:
% sql PRAGMA foreign_keys = ON;

Done.

[]

In [5]:
%%sql
DROP TABLE IF EXISTS Instrumentos;
CREATE TABLE Instrumentos(
 nombre VARCHAR (20),
 num_inst INT,
 PRIMARY KEY (num_inst)
);

Done.
Done.

[]

In [6]:
%%sql
DROP TABLE IF EXISTS Toca;
CREATE TABLE Toca(
 dni VARCHAR (20),
 num_inst INT,
 PRIMARY KEY (num_inst, dni),
 FOREIGN KEY (dni) REFERENCES Musico (dni),
 FOREIGN KEY (num_inst) REFERENCES Instrumentos (num_inst)
);

Done.
Done.

[]

In [7]:
%%sql
DROP TABLE IF EXISTS Musico_Vive;
CREATE TABLE Musico_Vive(
 dni VARCHAR (20),
 nombre VARCHAR (30),
 tlf INT NOT NULL,
 PRIMARY KEY (tlf, dni),
 FOREIGN KEY (tlf) REFERENCES Domicilio (tlf)
);

Done.
Done.

[]

In [9]:
%%sql
DROP TABLE IF EXISTS Interpreta;
CREATE TABLE Interpreta(
 dni VARCHAR (20),
 id_cancion INT,
 PRIMARY KEY (id_cancion, dni),
 FOREIGN KEY (dni) REFERENCES Musico (dni),
 FOREIGN KEY (id_cancion) REFERENCES Canciones (id_cancion)
);

Done.
Done.

[]

In [10]:
%%sql
DROP TABLE IF EXISTS Domicilio;
CREATE TABLE Domicilio(
 direccion VARCHAR (30),
 tlf INT,
 PRIMARY KEY (tlf)
);

Done.
Done.

[]

In [11]:
%%sql
DROP TABLE IF EXISTS Canciones_Tiene;
CREATE TABLE Canciones_Tiene(
 titulo VARCHAR (30),
 autor VARCHAR (30),
 id_cancion INT,
 num_id INT NOT NULL,
 PRIMARY KEY (id_cancion),
 FOREIGN KEY (num_id) REFERENCES Album (num_id)
);

Done.
Done.

[]

In [12]:
%%sql
DROP TABLE IF EXISTS Album_graba;
CREATE TABLE Album_graba(
 num_id INT,
 titulo VARCHAR (30),
 edicion VARCHAR (30),
 formato VARCHAR (30),
 fecha DATE,
 dni VARCHAR (20),
 PRIMARY KEY (num_id),
 FOREIGN KEY (dni) REFERENCES Musico (dni)
);

Done.
Done.

[]