In [1]:
%reload_ext sql
%sql sqlite:///ejercicio1c.db

'Connected: None@ejercicio1c.db'

In [2]:
%%sql
DROP table IF EXISTS Profesor;
CREATE table Profesor (Nif CHAR(10),
                      Primary Key (Nif))

Done.
Done.

[]

In [3]:
%%sql
DROP table IF EXISTS Asignatura;
CREATE table Asignatura(Num_Asig INT,
                        Primary Key (Num_Asig))

Done.
Done.

[]

In [5]:
%%sql
DROP table IF EXISTS Enseña;
CREATE table Enseña (Nif_Profesor CHAR(10) NOT NULL,
                    Num_Asig INT,
                    Num_Cuat CHAR(20),
                    Primary Key (Nif_Profesor, Num_Asig),
                    Foreign Key (Nif_Profesor) REFERENCES Profesor(Nif),
                    Foreign Key (Num_Asig) REFERENCES Asignatura(Num_Asig))

Done.
Done.

[]