In [87]:
#Ejercicio 5

In [88]:
%reload_ext sql

In [89]:
%sql sqlite:///Ejercicio5.db

'Connected: None@Ejercicio5.db'

In [90]:
%%sql
DROP TABLE Pacientes

(sqlite3.OperationalError) no such table: Pacientes [SQL: 'DROP TABLE Pacientes']

In [91]:
%%sql
CREATE TABLE Pacientes
    (edad int, nif_Paciente VARCHAR(10) NOT NULL, nombre char(30), direccion char(30), nif_Medico VARCHAR(10), 
    primary key(nif_Paciente, nif_Medico), 
    foreign key(nif_Medico) references Medicos(nif_Medico))

Done.

[]

In [92]:
%%sql
DROP TABLE Medicos

Done.

[]

In [93]:
%%sql
CREATE TABLE Medicos
    (nif_Medico VARCHAR(10), nif_Paciente VARCHAR(10), nombre_Medico char(30), especialidad char(30), experiencia int, 
    primary key(nif_Medico, nif_Paciente), 
    foreign key(nif_Paciente) references Pacientes(nif_Paciente))

Done.

[]

In [94]:
%%sql
DROP TABLE Medicamentos

(sqlite3.OperationalError) no such table: Medicamentos [SQL: 'DROP TABLE Medicamentos']

In [95]:
%%sql
CREATE TABLE Medicamentos
    (nombre_Medicamento char(30), formula VARCHAR(10), nombre_Compañia char(30) NOT NULL, 
    primary key(nombre_Medicamento, nombre_Compañia), 
    foreign key (nombre_Compañia) references Compañia(nombre_Compañia))

Done.

[]

In [96]:
%%sql
DROP TABLE Recetar

(sqlite3.OperationalError) no such table: Recetar [SQL: 'DROP TABLE Recetar']

In [97]:
%%sql
CREATE TABLE Recetar
    (nif_Paciente VARCHAR(10), nif_Medico VARCHAR(10), nombre_Medicamento char(30), cantidad int, fecha DATE, 
    primary key(nif_Paciente, nif_Medico,nombre_Medicamento), 
    foreign key(nif_Paciente) references Pacientes(nif_Paciente), 
    foreign key(nif_Medico) references Medicos(nif_Medicos), 
    foreign key(nombre_Medicamento) references Medicamentos(nombre_Medicamento))

Done.

[]

In [98]:
%%sql
DROP TABLE Compañia

Done.

[]

In [99]:
%%sql
CREATE TABLE Compañia
    (nombre_Compañia char(30), telf_Compañia int, 
    primary key(nombre_Compañia))

Done.

[]

In [100]:
%%sql
DROP TABLE Farmacias

(sqlite3.OperationalError) no such table: Farmacias [SQL: 'DROP TABLE Farmacias']

In [101]:
%%sql
CREATE TABLE Farmacias
    (nombre_farmacia char(30), telf int, direccion char(30), 
    primary key(nombre_farmacia))

Done.

[]

In [102]:
%%sql
DROP TABLE Vender

(sqlite3.OperationalError) no such table: Vender [SQL: 'DROP TABLE Vender']

In [103]:
%%sql
CREATE TABLE Vender
    (precio float, nombre_Medicamento char(30), nombre_farmacia char(30) NOT NULL, 
    primary key (nombre_Medicamento, nombre_farmacia), 
    foreign key(nombre_Medicamento) references Medicamentos(nombre_Medicamento), 
    foreign key(nombre_farmacia) references Farmacias(nombre_farmacia))

Done.

[]

In [112]:
%%sql
DROP TABLE Contratos

Done.

[]

In [113]:
%%sql
CREATE TABLE Contratos
    (condicion char(100), inicio DATE, Fin DATE, 
    primary key(condicion))

Done.

[]

In [114]:
%%sql
DROP TABLE Contratar

Done.

[]

In [115]:
%%sql
CREATE TABLE Contratar
    (nombre_Compañia char(30), condicion char(100), nombre_farmacia char(30), 
    primary key(nombre_Compañia,condicion,nombre_farmacia), 
    foreign key(nombre_Compañia) references Compañias(nombre_Compañia), 
    foreign key(condicion) references Contratos(condicion),
    foreign key(nombre_farmacia) references Farmacias(nombre_farmacia))

Done.

[]

In [116]:
%%sql
DROP TABLE Supervisores

Done.

[]

In [117]:
%%sql
CREATE TABLE Supervisores
    (nif_supervisor VARCHAR(10), 
    primary key(nif_supervisor))

Done.

[]

In [118]:
%%sql
DROP TABLE Superva

Done.

[]

In [119]:
%%sql
CREATE TABLE Superva
    (condicion char(100), nif_supervisor VARCHAR(10) NOT NULL,
    primary key(condicion, nif_supervisor), 
    foreign key(condicion) references Contratos(condicion), 
    foreign key(nif_supervisor) references Supervisor(nif_Supervisor))

Done.

[]