# INGENIERÍA DE SISTEMAS DE INFORMACIÓN

## EJERCICIOS DISEÑO CONCEPTUAL MEDIANTE DIAGRAMAS ENTIDAD RELACIÓN Y MODELO RELACIONAL.

# Ejercicio 5: Diseño del diagrama ER para una cadena de farmacias

<img src="EJ5_Parte2.jpg">

In [1]:
%reload_ext sql

In [2]:
%%sql
sqlite:///ISI-DIAGRAMAS-ER-EJERCICIO-e5.db

'Connected: None@ISI-DIAGRAMAS-ER-EJERCICIO-e5.db'

In [3]:
%sql PRAGMA foreign_keys = ON;

Done.

[]

In [4]:
%%sql

DROP TABLE IF EXISTS Medicos;

CREATE TABLE Medicos(nif VARCHAR(10),
                    nombre VARCHAR(25),
                    especialidad VARCHAR(25),
                    edad INT,
                    PRIMARY KEY(nif));

Done.
Done.

[]

In [5]:
%%sql

DROP TABLE IF EXISTS Pacientes;

CREATE TABLE Pacientes(nif VARCHAR(10),
                      nombre VARCHAR(25),
                      direccion VARCHAR(25),
                      edad INT,
                      nif_medico INT NOT NULL,
                      PRIMARY KEY(nif),
                      FOREIGN KEY(nif_medico) REFERENCES Medicos(nif));

Done.
Done.

[]

In [6]:
%%sql

DROP TABLE IF EXISTS Medicamentos;

CREATE TABLE Medicamentos(nombre_comercial VARCHAR(30),
                         formula VARCHAR(30),
                         nombre_compania VARCHAR(30) NOT NULL,
                         PRIMARY KEY(nombre_comercial, nombre_compania),
                         FOREIGN KEY(nombre_compania) REFERENCES Compania(nombre) ON DELETE CASCADE);

Done.
Done.

[]

In [7]:
%%sql

DROP TABLE IF EXISTS Compania;

CREATE TABLE Compania(nombre VARCHAR(30),
                     telefono INT,
                     PRIMARY KEY(nombre));

(sqlite3.OperationalError) foreign key mismatch - "Venden" referencing "Medicamentos" [SQL: 'DROP TABLE IF EXISTS Compania;']

In [8]:
%%sql

DROP TABLE IF EXISTS Recetan;

CREATE TABLE Recetan(nif_paciente VARCHAR(10),
                    nif_medico VARCHAR(10),
                    nombre_comercial VARCHAR(30),
                    fecha DATE,
                    cantidad FLOAT,
                    PRIMARY KEY(nif_paciente, nif_medico, nombre_comercial),
                    FOREIGN KEY(nif_paciente) REFERENCES Pacientes(nif),
                    FOREIGN KEY(nif_medico) REFERENCES Medicos(nif),
                    FOREIGN KEY (nombre_comercial) REFERENCES Medicamentos(nombre_comercial)
                    );

Done.
Done.

[]

In [9]:
%%sql 

DROP TABLE IF EXISTS Farmacias;

CREATE TABLE Farmacias(nombre VARCHAR(10),
                      direccion VARCHAR(50),
                      telefono INT,
                      PRIMARY KEY(telefono));

Done.
Done.

[]

In [10]:
%%sql

DROP TABLE IF EXISTS Venden;

CREATE TABLE Venden(nombre_comercial VARCHAR(10),
                   telefono_farmacia INT,
                   precio FLOAT,
                   PRIMARY KEY(nombre_comercial, telefono_farmacia),
                   FOREIGN KEY(nombre_comercial) REFERENCES Medicamentos(nombre_comercial),
                   FOREIGN KEY(telefono_farmacia) REFERENCES Farmacias(telefono));

Done.
Done.

[]

In [11]:
%%sql

DROP TABLE IF EXISTS Contratos;

CREATE TABLE Contratos(id INT,
                      fecha_ini DATE,
                      fecha_fin DATE,
                      texto VARCHAR(20000),
                      PRIMARY KEY(id));

Done.
Done.

[]

In [12]:
%%sql

DROP TABLE IF EXISTS Firman;

CREATE TABLE Firman(nombre_compania VARCHAR(30),
                   id_contrato INT,
                   telefono_farmacia INT,
                   PRIMARY KEY(nombre_compania, id_contrato, telefono_farmacia),
                   FOREIGN KEY(nombre_compania) REFERENCES Compania(nombre),
                   FOREIGN KEY(id_contrato) REFERENCES Contratos(id),
                   FOREIGN KEY(telefono_farmacia) REFERENCES Farmacias(telefono));

Done.
Done.

[]

In [13]:
%%sql

DROP TABLE IF EXISTS Supervisores;

CREATE TABLE Supervisores(nif VARCHAR(10),
                         id_contrato INT NOT NULL,
                         PRIMARY KEY(nif),
                         FOREIGN KEY(id_contrato) REFERENCES Contratos(id_contrato));

Done.
Done.

[]