## EJERCICIO COMPAÃ‘IA MUSICAL

<img src="musica.png">

In [1]:
#cargamos la extension para sql
%load_ext sql

/home/tomas/anaconda2/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/home/tomas/anaconda2/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
#creamos un fichero de base de datos
%sql sqlite:///Musica.db

u'Connected: None@Musica.db'

In [3]:
%%sql
PRAGMA foreign_keys = ON;

Done.

[]

In [4]:
%%sql

CREATE TABLE instrumento(num_id INT,
                        nombre VARCHAR(30),
                        PRIMARY KEY(num_id)
                        );

Done.

[]

In [5]:
%%sql

CREATE TABLE musicos(nif VARCHAR(10),
                     nombre VARCHAR(30),
                     direccion VARCHAR(30),
                     telefono VARCHAR(10),
                     PRIMARY KEY(nif)
                     );

Done.

[]

In [6]:
%%sql

CREATE TABLE toca (nif_musico VARCHAR(10),
                   id_instrumento INT,
                   PRIMARY KEY(nif_musico,id_instrumento),
                   FOREIGN KEY (id_instrumento) REFERENCES instrumento(num_id),
                   FOREIGN KEY (nif_musico) REFERENCES musicos(nif)
                   );

Done.

[]

In [7]:
%%sql

CREATE TABLE album(nif_autor VARCHAR(10) NOT NULL,
                   id_album INT,
                   titulo VARCHAR(30),
                   formato VARCHAR(30),
                   fedha_edicion DATE,
                   PRIMARY KEY(id_album),
                   FOREIGN KEY(nif_autor) REFERENCES musicos(nif) 
                     );

Done.

[]

In [9]:
%%sql

CREATE TABLE canciones(id_cancion INT,
                       id_album INT NOT NULL,
                       PRIMARY KEY(id_cancion),
                       FOREIGN KEY(id_album) REFERENCES album(id_album) 
                     );

Done.

[]

In [10]:
%%sql

CREATE TABLE interpreta(nif_autor VARCHAR(10),
                       id_cancion INT,
                       PRIMARY KEY(nif_autor,id_cancion),
                       FOREIGN KEY(nif_autor) REFERENCES musicos(nif),
                       FOREIGN KEY(id_cancion) REFERENCES canciones(id_cancion)
                       );

Done.

[]