In [1]:
%load_ext sql

In [3]:
%sql sqlite:///Ejercicio4.db

'Connected: None@Ejercicio4.db'

In [4]:
%%sql Create table musico
    (nif varchar(10), nombre char(30),
    primary key(nif))

Done.

[]

In [5]:
%%sql Create table direccion
    (telefono int,
    primary key(telefono))

Done.

[]

In [6]:
%%sql Create table vive_en
    (nif_m varchar(10) not null, telfno int,
    primary key(nif_m,telfno),
    foreign key (nif_m) references musico(nif),
    foreign key (telfno) references direccion(telefono))

Done.

[]

In [7]:
%%sql Create table instrumento
    (num_id int, nombre char(30),
    primary key(num_id))

Done.

[]

In [8]:
%%sql Create table tener
    (nif_m varchar(10), num_id int not null,
    primary key(nif_m,num_id),
    foreign key (nif_m) references musico(nif),
    foreign key (num_id) references instrumento(num_id))

Done.

[]

In [9]:
%%sql Create table tocar
    (nif_m varchar(10) not null, num_id int,
    primary key(nif_m,num_id),
    foreign key (nif_m) references musico(nif),
    foreign key (num_id) references instrumento(num_id))

Done.

[]

In [10]:
%%sql Create table album
    (num_id int, titulo char(30),fecha_ed date, formato char(30),nif_m varchar(10) not null,
    primary key(num_id),
    foreign key (nif_m) references musico(nif))

Done.

[]

In [11]:
%%sql Create table cancion
    (titulo char(30),autor char(30),num_id_alb int not null,
    primary key(titulo),
    foreign key (num_id_alb) references album(num_id))

Done.

[]

In [12]:
%%sql Create table interpretar
    (nif_m varchar(10) not null, titulo_c char(30),
    primary key(nif_m,titulo_c),
    foreign key (nif_m) references musico(nif),
    foreign key (titulo_c) references cancion(titulo))

Done.

[]