In [2]:
%load_ext sql
%sql sqlite:///ejercicio1_1.db

'Connected: None@ejercicio1_1.db'

<img src="Ejercicio1.1.jpeg">

In [3]:
%%sql CREATE TABLE trabajador(nif varchar(10),
                              nombre varchar(20),
                              direccion varchar(20),
                              tlf int(9),
                              salario int(5),
                              primary key (nif));

Done.

[]

In [4]:
%%sql CREATE TABLE tecnico(nif varchar(10),
                           nombre varchar(20),
                           direccion varchar(20),
                           tlf int(9),
                           salario int(5),
                           primary key (nif));

Done.

[]

In [ ]:
%%sql CREATE TABLE trabajador(nif varchar(10),
                              nombre varchar(20),
                              direccion varchar(20),
                              tlf int(9),
                              salario int(5),
                              primary key (nif));

In [6]:
%%sql CREATE TABLE controlador(nif varchar(10),
                              nombre varchar(20),
                              direccion varchar(20),
                              tlf int(9),
                              salario int(5),
                              fecha varchar(15),
                              primary key (nif));

Done.

[]

In [7]:
%%sql CREATE TABLE modeloAvion(numModelo varchar(10),
                              peso int(6),
                              capacidad int(5),
                              primary key (numModelo));

Done.

[]

In [9]:
%%sql CREATE TABLE prueba(numPrueba varchar(10),
                              nombre varchar(16),
                              puntuacionMax int(5),
                              primary key (numPrueba));

Done.

[]

In [12]:
%%sql CREATE TABLE avion(numRegistro varchar(10),
                         numModelo varchar(10) NOT NULL, 
                         primary key (numRegistro),
                         foreign key(numModelo) references modeloAvion);

Done.

[]

In [13]:
%%sql CREATE TABLE esExperto(dni VARCHAR(20), 
                             numModelo VARCHAR(10) NOT NULL,
                             PRIMARY KEY (dni, numModelo),
                             FOREIGN KEY (dni) REFERENCES tecnico(dni),
                             FOREIGN KEY (numModelo) REFERENCES modelo (numModelo));

Done.

[]

In [15]:
%%sql CREATE TABLE realiza(numPueba VARCHAR(10), 
                           numRegistro VARCHAR(10),
                           puntuacion INT(5),
                           horasEmpleado INT(3),
                           fecha VARCHAR(10),
                           PRIMARY KEY (numPueba, numRegistro),
                           FOREIGN KEY (numPueba) REFERENCES prueba(numPueba),
                           FOREIGN KEY (numRegistro) REFERENCES avion(numRegistro));

Done.

[]