## Ingeniería de Sistemas de Información

# Tema 3: interrogaciones con SQL (1/3)
## Cuadernos Ipython


Esto es un **cuaderno Ipython**, también conocido como un **cuaderno Jupyter**. Perimite mezclar contenido estático con interrogaciones a una base de datos SQL. Este cuaderno utiliza SQLite como SGBD. Las instrucciones para instalar este entorno de prácticas en casa se encuentran al final de este cuaderno.

Para usar este cuaderno Ipython sitúa el cursor en la celda de más arriba (esta que estás leyendo), y después ve pulsando ``SHIFT-ENTER``. De esta forma se irá evaluando cada celda, de arriba abajo. Cuando en una celda haya código, tras evaluarlo con ``SHIFT-ENTER`` se mostrará la salida debajo. 

Los comandos de Ipython comienzan por '%'.

En primer lugar cargamos la [extensión](https://github.com/catherinedevlin/ipython-sql) ipython-sql así:

In [1]:
%reload_ext sql

In [2]:
%sql sqlite:///ejercicio2.db

'Connected: None@ejercicio2.db'

In [7]:
%%sql 
DROP table IF EXISTS Profesor;
CREATE table Profesor (Nif CHAR(10),
                      Nombre CHAR(30),
                      Edad INT,
                      Especialidad CHAR(30),
                      Cargo CHAR(30),
                      Primary Key (Nif))

Done.
Done.

[]

In [15]:
%%sql
DROP table IF EXISTS Proyecto;
CREATE table Proyecto (NúmeroProyecto INT,
                      NombreEntidad CHAR(30),
                      FechaInicio DATE,
                      FechaFin DATE,
                      Presupuesto FLOAT,
                      NifProfesor CHAR(10) NOT NULL,
                      Foreign Key (NifProfesor) REFERENCES Profesor(Nif),
                      Primary Key (NúmeroProyecto))

Done.
Done.

[]

In [3]:
%%sql
DROP table IF EXISTS Estudiante;
CREATE table Estudiante (Nif CHAR(10),
                        Nombre CHAR(30),
                        Edad INT,
                        Titulación CHAR(30),
                        Nif_Tutor CHAR(10) NOT NULL,
                        NúmeroDepartamento INT NOT NULL,
                        Primary Key (Nif),
                        Foreign Key (NúmeroDepartamento) REFERENCES Departamento(NúmeroDepartamento)
                        Foreign Key (Nif_Tutor) REFERENCES Estudiante(Nif))

Done.
Done.

[]

In [4]:
%%sql
DROP table IF EXISTS Ayuda;
CREATE table Ayuda (NúmeroProyecto INT NOT NULL,
                   Nif_Estudiante CHAR(10),
                    Nif_Profesor CHAR(10) NOT NULL,
                   Primary Key (NúmeroProyecto, Nif_Estudiante),
                   Foreign Key (NúmeroProyecto) REFERENCES Proyecto(NúmeroProyecto),
                   Foreign Key (Nif_Estudiante) REFERENCES Estudiante(Nif),
                   Foreign Key (Nif_Profesor) REFERENCES Profesor(Nif))

Done.
Done.

[]

In [21]:
%%sql
DROP table IF EXISTS Trabaja_Con;
CREATE table Trabaja_Con (Nif_Profesor CHAR(10),
                     NúmeroProyecto INT NOT NULL,
                      Primary Key (Nif_Profesor, NúmeroProyecto),
                     Foreign Key (Nif_Profesor) REFERENCES Profesor(Nif),
                     Foreign Key (NúmeroProyecto) REFERENCES Proyecto(NúmeroProyecto))

Done.
Done.

[]

In [20]:
%%sql
DROP table IF EXISTS Departamento;
CREATE table Departamento (NúmeroDepartamento INT,
                          Nombre CHAR(30),
                          Edificio CHAR(30),
                          Nif_Profesor CHAR(10) NOT NULL,
                          Primary Key(NúmeroDepartamento),
                          Foreign Key(Nif_Profesor) REFERENCES Profesor(Nif))

Done.
Done.

[]

In [23]:
%%sql
DROP table IF EXISTS Trabaja_En;
CREATE table Trabaja_En (Nif_Profesor CHAR(10) NOT NULL,
                        NúmeroDepartamento INT,
                        Primary Key(Nif_Profesor, NúmeroDepartamento),
                        Foreign Key(Nif_Profesor) REFERENCES Profesor(Nif),
                        Foreign Key(NúmeroDepartamento) REFERENCES Departamento(NúmeroDepartamento))

Done.
Done.

[]

Podríamos haber cargado una base de datos en memoria, sin respaldo en disco, así:

``%sql sqlite://``

Vamos a realizar algunas interrogaciones de prueba para asegurarnos de que todo está bien. 

En ISI-sql.db hay una tabla llamada ``Customers``.

En los cuadernos IPython usamos **`%sql` para introducir comandos SQL que no sean multilínea:**

In [26]:
%sql SELECT * FROM Estudiante

Done.

[]

Si todo ha ido bien el anterior comando debería haber producido la siguiente salida:

| CustomerID | FirstName | LastName |
|------------|-----------|----------|
| 1 | Sara | Davis | 
| 2 | Rumi | Shah  |
| 3 | Paul | Johnson |
| 4 | Samuel | Martinez |

Para introducir comandos SQL en varias líneas utilizamos **`%%sql`**:

In [11]:
%%sql
SELECT * 
FROM Profesor
WHERE edad LIKE '%4%'

Done.

[('48571685T', 40, 'Jefe'),
 ('87512574R', 40, 'jefe'),
 ('49104587R', 40, 'Jefe')]

Podemos almacenar en una variable Python el resultado devuelto por una interrogación SQL:

In [12]:
resultado = %sql SELECT * FROM Profesor;

Done.

Y ahora, con código Python, podemos procesar la salida:

In [13]:
resultado.keys

['nif', 'edad', 'cargo']

In [17]:
resultado[0]

('48571685T', 40, 'Jefe')

In [18]:
resultado[1].cargo

'jefe'

## Instrucciones para instalar Ipython notebooks en tu ordenador:
Instala los siguientes paquetes en tu distribución Ubuntu:
* ``sudo apt-get install python3-pip``

* ``sudo pip3 install --upgrade pip``

* ``sudo pip3 install wheel``

* ``sudo pip3 install setuptools``

* ``sudo pip3 install  --upgrade "ipython[notebook]" jupyter ipython-sql``

* ``sudo apt get install sqlite``

* ``sudo apt-get install sqlite3``

## Origen del material:
La BD y el código SQL procede del siguiente libro:
*The Language of SQL, Second Edition*. Larry Rockoff. Addison-Wesley Professional

Se han realizado ligeras modificaciones para que sea compatible con SQLite3 y Jupyter Notebooks.