In [1]:
#Ejercicio3

In [2]:
%load_ext sql

//anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
//anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [3]:
%sql sqlite:///Ejercicio3.db

u'Connected: None@Ejercicio3.db'

In [4]:
%%sql
DROP TABLE Empleados

Done.

[]

In [5]:
%%sql
CREATE TABLE Empleados
    (nif VARCHAR(10), salario float, telefono int, 
     primary key(nif))

Done.

[]

In [6]:
%%sql
DROP TABLE Departamentos

Done.

[]

In [7]:
%%sql
CREATE TABLE Departamentos
    (id_dpto VARCHAR(30), nombre_dpto CHAR, presupuesto float, nif_empleado VARCHAR(10),
    primary key(id_dpto, nif_empleado)
    FOREIGN KEY(nif_empleado) REFERENCES Empleados(nif))

Done.

[]

In [8]:
%%sql
DROP TABLE Trabajan

Done.

[]

In [9]:
%%sql
CREATE TABLE Trabajan
    (nif_empleado VARCHAR(10), id_dpto VARCHAR(30),
    primary key(nif_empleado, id_dpto)
    FOREIGN KEY(nif_empleado) REFERENCES Empleados(nif)
    FOREIGN KEY(id_dpto) REFERENCES Departamentos(id_dpto))

Done.

[]

In [11]:
%%sql
CREATE TABLE Hijos
    (nombre CHAR, edad int, nif_padre VARCHAR(10) not null,
    primary key(nombre, nif_padre),
    FOREIGN KEY(nif_padre) REFERENCES Empleados(nif)
        ON DELETE CASCADE)

Done.

[]