# Ejercicio Galeria de arte

<img src="galeria.jpeg">

In [14]:
#cargamos la extension para sql
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
#creamos un fichero de base de datos
%sql sqlite:///Arte.db

u'Connected: None@Arte.db'

In [16]:
%%sql
CREATE TABLE clientes(nombre VARCHAR(30),
                     direccion VARCHAR(30),
                     importe FLOAT,
                     PRIMARY KEY(nombre)
                    );

Done.

[]

In [17]:
%%sql
CREATE TABLE guarda_2(nombre_clien VARCHAR(30),
                     nombre_galeria VARCHAR(30),
                     PRIMARY KEY(nombre_clien,nombre_galeria),
                     FOREIGN KEY(nombre_clien) REFERENCES clientes(nombre),
                     FOREIGN KEY(nombre_galeria) REFERENCES galeria(nombre)
                     );

Done.

[]

In [18]:
%%sql
CREATE TABLE galeria(nombre VARCHAR(30),
                    PRIMARY KEY(nombre)
                    );

Done.

[]

In [20]:
%%sql
CREATE TABLE artista(nombre VARCHAR(30),
                    estilo_art VARCHAR(30),
                    fecha_nac DATE,
                    edad INT,
                    PRIMARY KEY(nombre)
                    );

Done.

[]

In [21]:
%%sql
CREATE TABLE guarda(nombre_galeria VARCHAR(30),
                   nombre_artista VARCHAR(30),
                   PRIMARY KEY(nombre_galeria,nombre_artista),
                   FOREIGN KEY(nombre_galeria) REFERENCES galeria(nombre),
                   FOREIGN KEY(nombre_artista) REFERENCES artista(nombre)
                   );

Done.

[]

In [23]:
%%sql
CREATE TABLE obras_de(titulo VARCHAR(30),
                     anno_realiza DATE,
                     Tipo VARCHAR(30),
                     precio FLOAT,
                     nombre_autor VARCHAR(30) NOT NULL,
                     PRIMARY KEY(titulo),
                     FOREIGN KEY (nombre_autor) REFERENCES artista(nombre)
                     );

Done.

[]

In [24]:
%%sql
CREATE TABLE pertenece(titulo_obra VARCHAR(30),
                      nombre_grupo VARCHAR(30),
                      PRIMARY KEY(titulo_obra,nombre_grupo),
                      FOREIGN KEY(titulo_obra) REFERENCES obras_de(titulo),
                      FOREIGN KEY(nombre_grupo)REFERENCES grupo_obras(nombre)
                      );

Done.

[]

In [25]:
%%sql
CREATE TABLE grupo_obras(nombre VARCHAR(30),
                        PRIMARY KEY(nombre)
                        );

Done.

[]

In [27]:
%%sql
CREATE TABLE le_gustan(nombre_cliente VARCHAR(30),
                      nombre_grupo VARCHAR(30),
                      PRIMARY KEY(nombre_cliente,nombre_grupo),
                      FOREIGN KEY(nombre_cliente) REFERENCES clientes(nombre),
                      FOREIGN KEY(nombre_grupo) REFERENCES grupo_obras(nombre)
                      );

Done.

[]