# Ejercicio 5. Dise√±o del Diagrama ER para una cadena de farmacias

![Diagrama ER: Ejercicio_5](IMG_20171010_182327.jpg "Diagrama ER: Ejercicio_5")

In [1]:
%reload_ext sql

In [2]:
%sql sqlite:///ISI-Ejercicio_5-sql.db

'Connected: None@ISI-Ejercicio_5-sql.db'

In [3]:
% sql PRAGMA foreign_keys = ON;

Done.

[]

In [10]:
%%sql
DROP TABLE IF EXISTS Pacientes_Tiene;
CREATE TABLE Pacientes_Tiene(
 dni VARCHAR (20),
 nombre VARCHAR (30),
 edad INT,
 direccion VARCHAR (30),
 dni_med VARCHAR (20) NOT NULL,
 PRIMARY KEY (dni),
 FOREIGN KEY (dni_med) REFERENCES Medicos (dni_med)
);

Done.
Done.

[]

In [9]:
%%sql
DROP TABLE IF EXISTS Medicos;
CREATE TABLE Medicos(
 dni VARCHAR (20),
 nombre VARCHAR (30),
 experiencia INT,
 despecialidad VARCHAR (30),
 PRIMARY KEY (dni)
);

Done.
Done.

[]

In [8]:
%%sql
DROP TABLE IF EXISTS Recetan;
CREATE TABLE Recetan(
 fecha DATE,
 cantidad INT,
 dni_pac VARCHAR (20),
 dni_med VARCHAR (20),
 nombre_com VARCHAR (30),
 PRIMARY KEY (dni_pac, dni_med, nombre_com),
 FOREIGN KEY (dni_med) REFERENCES Medicos (dni_med),
 FOREIGN KEY (dni_pac) REFERENCES Pacientes_Tiene (dni_pac),
 FOREIGN KEY (nombre_com) REFERENCES Medicamentos (nombre_com)
);

Done.
Done.

[]

In [12]:
%%sql
DROP TABLE IF EXISTS Farmacia;
CREATE TABLE Farmacia(
 direccion VARCHAR (30),
 nombre VARCHAR (30),
 tlf INT,
 PRIMARY KEY (tlf)
);

Done.
Done.

[]

In [13]:
%%sql
DROP TABLE IF EXISTS Vende;
CREATE TABLE Vende(
 precio FLOAT,
 tlf INT,
 nombre_com VARCHAR (30),
 PRIMARY KEY (tlf, nombre_com),
 FOREIGN KEY (tlf) REFERENCES Farmacia (tlf),
 FOREIGN KEY (nombre_com) REFERENCES Medicamentos (nombre_com)
);

Done.
Done.

[]

In [14]:
%%sql
DROP TABLE IF EXISTS Supervisor_Contrata;
CREATE TABLE Supervisor_Contrata(
 dni VARCHAR (20),
 tlf INT NOT NULL,
 fecha_fin DATE,
 fecha_inicio DATE,
 nombre_comp VARCHAR (30) NOT NULL,
 texto VARCHAR (30),
 PRIMARY KEY (dni),
 FOREIGN KEY (tlf) REFERENCES Farmacia (tlf),
 FOREIGN KEY (nombre_comp) REFERENCES Compania_Farma (nombre_comp)
);

Done.
Done.

[]

In [15]:
%%sql
DROP TABLE IF EXISTS Medicamentos_Suministra;
CREATE TABLE Medicamentos_Suministra(
 formula VARCHAR (30),
 nombre_com VARCHAR (30),
 nombre_comp VARCHAR (30) NOT NULL,
 PRIMARY KEY (nombre_comp, nombre_com),
 FOREIGN KEY (nombre_comp) REFERENCES Compania_Farma (nombre_comp)
                            ON DELETE CASCADE
);

Done.
Done.

[]

In [16]:
%%sql
DROP TABLE IF EXISTS Medicamentos_Suministra;
CREATE TABLE Medicamentos_Suministra(
 tlf INT,
 nombre_comp VARCHAR (30),
 PRIMARY KEY (nombre_comp)
);

Done.
Done.

[]