In [1]:
%reload_ext sql
%sql sqlite:///ejercicio5.db

'Connected: None@ejercicio5.db'

In [2]:
%%sql
DROP table IF EXISTS Médicos;
CREATE table Médicos (Nif CHAR(10),
                     Nombre CHAR(30),
                     Especialidad CHAR(30),
                     Años_Experiencia INT,
                     Primary Key(Nif))

Done.
Done.

[]

In [3]:
%%sql
DROP table IF EXISTS Pacientes;
CREATE table Pacientes (Nif CHAR(10),
                       Edad INT,
                       Nombre CHAR(30),
                       Dirección CHAR(30),
                       Nif_Médico CHAR(10) NOT NULL,
                       Primary Key (Nif),
                       Foreign Key (Nif_Médico) REFERENCES Médicos(Nif))

Done.
Done.

[]

In [4]:
%%sql
DROP table IF EXISTS Recetan;
CREATE table Recetan(Fecha DATE,
                    Cantidad INT,
                    Nif_Médico CHAR(10) NOT NULL,
                    Nif_Paciente CHAR(10),
                    Nombre_Medicamento CHAR(30) NOT NULL,
                    Nombre_Compañía_Farmacéutica CHAR(30) NOT NULL,
                    Primary Key (Nif_Paciente, Nif_Médico, Nombre_Medicamento, Nombre_Compañía_Farmacéutica),
                    Foreign Key (Nif_Paciente) REFERENCES Pacientes(Nif),
                    Foreign Key (Nif_Médico) REFERENCES Médicos(Nif),
                    Foreign Key (Nombre_Medicamento) REFERENCES Medicamento(Nombre),
                    Foreign Key (Nombre_Compañía_Farmacéutica) REFERENCES Compañía_Farmacéutica(Nombre)
                                                                 ON DELETE CASCADE)

Done.
Done.

[]

In [5]:
%%sql
DROP table IF EXISTS Medicamento;
CREATE table Medicamento (Nombre CHAR(30),
                         Fórmula CHAR(30),
                         Nombre_Compañía_Farmacéutica CHAR(30) NOT NULL,
                         Primary Key (Nombre,Nombre_Compañía_Farmacéutica),
                         Foreign Key (Nombre_Compañía_Farmacéutica) REFERENCES Compañía_Farmacéutica(Nombre)
                                                                     ON DELETE CASCADE)

Done.
Done.

[]

In [6]:
%%sql
DROP table IF EXISTS Compañía_Farmacéutica;
CREATE table Compañía_Farmacéutica (Nombre CHAR(30),
                                   Teléfono CHAR(6),
                                   Primary Key (Nombre))

Done.
Done.

[]

In [7]:
%%sql
DROP table IF EXISTS Farmacia;
CREATE table Farmacia (Nombre CHAR(30),
                      Dirección CHAR(30),
                      Teléfono CHAR(6),
                      Primary Key (Nombre, Dirección))

Done.
Done.

[]

In [9]:
%%sql
DROP table IF EXISTS Vende;
CREATE table Vende (Nombre_Farmacia CHAR(30),
                   Dirección_Farmacia CHAR(30),
                   Precio FLOAT,
                   Nombre_Medicamento CHAR(30) NOT NULL,
                   Nombre_Compañía_Farmacéutica CHAR(30) NOT NULL,
                   Primary Key (Nombre_Medicamento, Nombre_Compañía_Farmacéutica, Nombre_Farmacia, Dirección_Farmacia),
                   Foreign Key (Nombre_Farmacia) REFERENCES Farmacia(Nombre),
                   Foreign Key (Dirección_Farmacia) REFERENCES Farmacia(Dirección),
                   Foreign Key (Nombre_Medicamento) REFERENCES Medicamento(Nombre),
                   Foreign Key (Nombre_Compañía_Farmacéutica) REFERENCES Compañía_Farmacéutica(Nombre)
                                                   ON DELETE CASCADE)

Done.
Done.

[]

In [10]:
%%sql
DROP table IF EXISTS Contrato;
CREATE table Contrato (Id INT,
                      Fecha_Inicio DATE,
                      Fecha_Fin DATE,
                      Condiciones CHAR(100),
                      Primary Key (Id))

Done.
Done.

[]

In [11]:
%%sql
DROP table IF EXISTS Contrato_Con;
CREATE table Contrato_Con (Id_Contrato INT,
                          Nombre_Compañía_Farmacéutica CHAR(30),
                          Nombre_Farmacia CHAR(30),
                          Dirección_Farmacia CHAR(30),
                          Primary Key (Id_Contrato, Nombre_Compañía_Farmacéutica, Nombre_Farmacia, Dirección_Farmacia),
                          Foreign Key (Id_Contrato) REFERENCES Contrato(Id),
                          Foreign Key (Nombre_Compañía_Farmacéutica) REFERENCES Compañía_Farmacéutica(Nombre),
                          Foreign Key (Nombre_Farmacia) REFERENCES Farmacia (Nombre),
                          Foreign Key (Dirección_Farmacia) REFERENCES Farmacia (Dirección))

Done.
Done.

[]

In [12]:
%%sql
DROP table IF EXISTS Asignan;
CREATE table Asignan (Nif_Supervisor CHAR(10),
                     Id_Contrato INT NOT NULL,
                     Primary Key (Nif_Supervisor, Id_Contrato),
                     Foreign Key (Nif_Supervisor) REFERENCES Supervisor(Nif),
                     Foreign Key (Id_Contrato) REFERENCES Contrato(Id))

Done.
Done.

[]

In [13]:
%%sql
DROP table IF EXISTS Supervisor;
CREATE table Supervisor (Nif CHAR(10),
                        Primary Key (Nif))

Done.
Done.

[]