# Ejercicio 4

In [1]:
%load_ext sql
%sql sqlite:///ej4.db
%sql PRAGMA foreign_keys = ON;

'Connected: None@ej4.db'

In [6]:
%%sql
DROP TABLE IF EXISTS Musico;
DROP TABLE IF EXISTS Toca;
DROP TABLE IF EXISTS Instrumento;
DROP TABLE IF EXISTS Interpreta;
DROP TABLE IF EXISTS Cancion;
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS ViveEn;
DROP TABLE IF EXISTS Direccion;

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [7]:
%%sql
CREATE TABLE Musico(nif VARCHAR(30), nombre Varchar(30),
                   PRIMARY KEY(nif));

CREATE TABLE Direccion(tlf INT, nombre VARCHAR(30),
                      PRIMARY KEY(tlf));

CREATE TABLE ViveEn(tlfDir INT, nifMus VARCHAR(30),
                   PRIMARY KEY(tlfDir, nifMus),
                   FOREIGN KEY(nifMus) REFERENCES Musico(nif),
                   FOREIGN KEY(tlfDir) REFERENCES Direccion(tlf));

Done.
Done.
Done.

[]

In [8]:
%%sql
CREATE TABLE Instrumento(nombre VARCHAR(30), id INT,
                        PRIMARY KEY(id));

CREATE TABLE Toca(nifMus VARCHAR(30), instID INT,
                 PRIMARY KEY(instID, nifMus),
                 FOREIGN KEY(nifMus) REFERENCES Musico(nif),
                 FOREIGN KEY(instID) REFERENCES Instrumento(id));

Done.
Done.

[]

In [10]:
%%sql
CREATE TABLE Album(nombre VARCHAR(30), id INT,
                  formato VARCHAR(30), fecha VARCHAR(30),
                   nifProd VARCHAR(30) NOT NULL,
                  PRIMARY KEY(id),
                  FOREIGN KEY(nifProd) REFERENCES MUsico(nif));

CREATE TABLE Cancion(autor VARCHAR(30), titulo VARCHAR(30),
                    nAlbum INT,
                    PRIMARY KEY(autor, titulo)
                    FOREIGN KEY(nAlbum) REFERENCES Album(id));

CREATE TABLE Interpreta(nifMus VARCHAR(30), titulo VARCHAR(30),
                       autor VARCHAR(30),
                       PRIMARY KEY(nifMus, titulo, autor),
                       FOREIGN KEY(nifMus) REFERENCES Musico(nif),
                       FOREIGN KEY(titulo) REFERENCES Cancion(titulo),
                       FOREIGN KEY(autor) REFERENCES Cancion(autor));

Done.
Done.
Done.

[]