# Ejercicio 5

![Diagrama ER E5](e5.jpg "Diagrama ER E5")

In [1]:
%reload_ext sql
%sql sqlite:///e5.db

'Connected: None@e5.db'

In [2]:
%%sql 
DROP TABLE IF EXISTS Paciente_Tratado;
CREATE TABLE Paciente_Tratado(nif VARCHAR(30),
                     nombre VARCHAR(30),
                     edad INT,
                     direccion VARCHAR(30),
                     nif_medico VARCHAR(30) NOT NULL,
                     PRIMARY KEY(nif),
                     FOREIGN KEY (nif_medico) REFERENCES Medico(nif));

Done.
Done.

[]

In [3]:
%%sql 
DROP TABLE IF EXISTS Medico;
CREATE TABLE Medico(nif VARCHAR(30),
                   nombre VARCHAR(30),
                   especialidad VARCHAR(30),
                   años_exp INT,
                   PRIMARY KEY(nif));

Done.
Done.

[]

In [4]:
%%sql 
DROP TABLE IF EXISTS Medicamento_Produce;
CREATE TABLE Medicamento_Produce(nombre VARCHAR(30),
                                formula VARCHAR(30),
                                nombre_compañia VARCHAR(30),
                                PRIMARY KEY(nombre, nombre_compañia),
                                FOREIGN KEY (nombre_compañia) REFERENCES Compañia(nombre) ON DELETE CASCADE);

Done.
Done.

[]

In [5]:
%%sql 
DROP TABLE IF EXISTS Compañia;
CREATE TABLE Compañia(nombre VARCHAR(30),
                     telefono INT,
                     PRIMARY KEY(nombre));

Done.
Done.

[]

In [6]:
%%sql 
DROP TABLE IF EXISTS Farmacia;
CREATE TABLE Farmacia(nombre VARCHAR(30),
                     direccion VARCHAR(30),
                     telefono INT,
                     PRIMARY KEY(nombre));

Done.
Done.

[]

In [7]:
%%sql 
DROP TABLE IF EXISTS Contrato;
CREATE TABLE Contrato(texto VARCHAR(30),
                     fecha_inicio DATE,
                     fecha_fin DATE,
                     PRIMARY KEY(texto));

Done.
Done.

[]

In [8]:
%%sql 
DROP TABLE IF EXISTS Supervisor_Supervisa;
CREATE TABLE Supervisor_Supervisa(nif VARCHAR(20),
                                 texto_contrato VARCHAR(30) NOT NULL,
                                 PRIMARY KEY(nif),
                                 FOREIGN KEY (texto_contrato) REFERENCES Contrato(texto));

Done.
Done.

[]

In [10]:
%%sql 
DROP TABLE IF EXISTS Recetan;
CREATE TABLE Recetan(nif_paciente VARCHAR(30),
                    nif_medico VARCHAR(30),
                    nombre_medicamento VARCHAR(30),
                    fecha DATE,
                    cantidad INT,
                    PRIMARY KEY(nif_paciente, nif_medico,nombre_medicamento),
                    FOREIGN KEY (nif_paciente) REFERENCES Paciente_Tratado(nif),
                    FOREIGN KEY (nif_medico) REFERENCES Medicamento_Produce(nif),
                    FOREIGN KEY (nombre_medicamento) REFERENCES Medicamento_Produce(nombre));

Done.
Done.

[]

In [11]:
%%sql 
DROP TABLE IF EXISTS Realizan;
CREATE TABLE Realizan(nombre_compañia VARCHAR(30),
                     nombre_farmacia VARCHAR(30),
                     texto_contrato VARCHAR(30),
                     PRIMARY KEY(nombre_compañia, nombre_farmacia,texto_contrato),
                     FOREIGN KEY (nombre_compañia) REFERENCES Compañia(nombre),
                     FOREIGN KEY (nombre_farmacia) REFERENCES Farmacia(nombre),
                     FOREIGN KEY (texto_contrato) REFERENCES Medicamento_Produce(texto));

Done.
Done.

[]

In [12]:
%%sql
DROP TABLE IF EXISTS Vende;
CREATE TABLE Vende (precio INT,
                   nombre_medicamento VARCHAR(20),
                   nombre_farmacia VARCHAR(20),
                   PRIMARY KEY (nombre_medicamento, nombre_farmacia),
                   FOREIGN KEY (nombre_medicamento) REFERENCES Medicamento(nombre),
                   FOREIGN KEY (nombre_farmacia) REFERENCES Farmacia(nombre));

Done.
Done.

[]

In [15]:
#2.Moviendo el atributo de precio de "Vende" a "Medicamento_Produce"

In [16]:
#3.Con una nueva entidad "Recetas" con fechas de expedición.