In [1]:
#Ejercicio2

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///Ejercicio2.db

'Connected: None@Ejercicio2.db'

In [4]:
%%sql
CREATE TABLE profesores
    (nif VARCHAR(10), nombre char, edad int, especialidad char, 
    primary key(nif))

Done.

[]

In [5]:
%%sql
CREATE TABLE Proyectos
    (num int, entidad char(30), Fecha_inicio DATE, Fecha_fin DATE, presupuesto float, 
    nif VARCHAR(10) NOT NULL, 
    primary key(num), 
    foreign key (nif) references profesores(nif))

Done.

[]

In [8]:
%%sql
CREATE TABLE Estudiantes
    (nombre char(30), edad int, nif VARCHAR(10), titulacion char(30), nif_tutor VARCHAR(10) NOT NULL, 
     num_id int NOT NULL,
    primary key(nif),
    foreign key(nif_tutor) references Estudiantes(nif),
    foreign key(num_id) references Departamentos(num_id))

Done.

[]

In [9]:
%%sql
CREATE TABLE Departamentos
    (num_id int, nombre char(30), edificio int, nif VARCHAR(10) NOT NULL, 
    primary key(num_id), 
    foreign key (nif) references Profesores (nif))

Done.

[]

In [19]:
%sql DROP TABLE Ayuda_en

(sqlite3.OperationalError) no such table: Ayuda_en [SQL: 'DROP TABLE Ayuda_en']

In [20]:
%%sql 
CREATE TABLE Ayuda_en
    (nif VARCHAR(10) NOT NULL,num int, nif_profe VARCHAR(10) NOT NULL, 
    primary key(num,nif, nif_profe),    
    foreign key(nif) references Estudiantes(nif), 
    foreign key(num) references Proyectos(num), 
    foreign key(nif_profe) references Profesores(nif_profe))

Done.

[]

In [21]:
%%sql
CREATE TABLE Trabaja_en
    (nif_profe VARCHAR(10) NOT NULL, num int, 
    primary key(nif_profe, num),
    foreign key(nif_profe) references Profesores(nif_profe), 
    foreign key(num) references Departamentos(num))

Done.

[]

In [23]:
%%sql 
CREATE TABLE Trabaja
    (nif_profe VARCHAR(10), num_id int NOT NULL,
    primary key(nif_profe, num_id), 
    foreign key(nif_profe) references Profesores(nif_profe),
    foreign key(num_id) references Departamentos(num_id))

Done.

[]