In [50]:
#Ejercicio-1-2

In [73]:
%reload_ext sql

In [74]:
%sql sqlite:///Ejercicio1-2.db

'Connected: None@Ejercicio1-2.db'

In [75]:
%%sql 
CREATE TABLE Profesores
    (nif VARCHAR(10), primary key(nif))

(sqlite3.OperationalError) table Profesores already exists [SQL: 'CREATE TABLE Profesores\n    (nif VARCHAR(10), primary key(nif))']

In [78]:
%%sql
INSERT INTO Profesores(nif)
    VALUES('1234567893')

1 rows affected.

[]

In [79]:
%%sql 
CREATE TABLE Asignatura
    (num_asignatura INT NULL, primary key(num_asignatura))

(sqlite3.OperationalError) table Asignatura already exists [SQL: 'CREATE TABLE Asignatura\n    (num_asignatura INT NULL, primary key(num_asignatura))']

In [81]:
%%sql
INSERT INTO Asignatura(num_asignatura)
    VALUES('2')

1 rows affected.

[]

In [86]:
%sql SELECT * FROM Asignatura

Done.

[(3,), (2,)]

In [87]:
%%sql 
CREATE TABLE Ensenyar
    (nif VARCHAR(10), num_asigantura int, num_cuatrimestre int,
    primary key(nif, num_asigantura), 
    foreign key(nif) references profesores(nif),  
    foreign key(num_asigantura) references Asigantura(num_asigantura))

Done.

[]

In [89]:
%sql SELECT * FROM Ensenyar

Done.

[]