In [16]:
#Ejercicio-1-5

In [17]:
%reload_ext sql

In [18]:
%sql sqlite:///Ejercicio1-5.db

'Connected: None@Ejercicio1-5.db'

In [19]:
%%sql 
CREATE TABLE Profesores
    (nif VARCHAR(10) NOT NULL, num_asigantura int NOT NULL, num_cuatrimestre int NOT NULL, 
     primary key(nif), 
     foreign key(num_asigantura) references Asignatura (num_asignatura))

Done.

[]

In [20]:
%%sql
INSERT INTO Profesores(nif, num_asigantura, num_cuatrimestre)
    VALUES('1234567896', '7', '4')

1 rows affected.

[]

In [21]:
%%sql 
CREATE TABLE Asignatura
    (num_asignatura INT, primary key(num_asignatura))

Done.

[]

In [22]:
%%sql
INSERT INTO Asignatura(num_asignatura)
    VALUES('8')

1 rows affected.

[]

In [23]:
%sql SELECT * FROM Profesores

Done.

[('1234567896', 7, 4)]

In [24]:
%sql SELECT * FROM Asignatura

Done.

[(8,)]